[2012-01-17 05:58] tvishwanadha opened #1 "Incompatible with node 0.4.x"
Love the simplicity of needle, but it looks like needle doesn't really support 0.4.x. Since I'm hosting on heroku, I'm stuck with node 0.4.7.

The main issues are:
-  [commit 36c797f1](https://github.com/tomas/needle/commit/36c797f105c5e53c70eedd7951c3b2eedf3d047a)  requires a json file. [node 0.4.12](http://nodejs.org/docs/v0.4.12/api/modules.html) can only import js files as modules. JSON import

[2012-01-21 22:34] #1 closed, assigned to nobody

[2012-03-08 12:17] OrangeDog opened #3 "Feature: configurable agent"
Ability to pass the value of `agent` to include in the `http.request` options would be welcomed.

[2012-03-08 12:35] OrangeDog opened #4 "Feature: override part's filename"
Allow the `filename=` of a part to be set to something other than the file's basename

[2012-03-08 15:28] OrangeDog opened #5 "Should use streams, not block"
Use of `readFileSync` is a very bad idea, as it will block the whole process.
Instead, the client should accept a `Stream` (and internally can `createReadStream` from any passed file paths).
Ideally this stream would be piped straight into the request object, but even buffering it internally would be preferably to the the current blocking behaviour.

[2012-03-08 15:50] OrangeDog opened #6 "Final part has extra \r\n on end"
resulting in servers parsing incorrect data.

[2012-03-08 17:48] OrangeDog opened #7 "Filenames not encoded"
For example, one can add a filename containing a " or Unicode characters, resulting in an invalid request.

[2012-03-08 18:50] #7 closed, assigned to nobody

[2012-03-08 18:55] #4 closed, assigned to nobody

[2012-03-08 18:55] #3 closed, assigned to nobody

[2012-03-12 04:19] #6 closed, assigned to nobody

[2012-06-14 20:45] #5 closed, assigned to nobody

[2012-08-20 06:45] atian25 opened #13 "will this support streaming or encode?"
hi, I'm tring to use this module to get url, but got wrong output.

such as www.baidu.com  (chinese),  the chinese words is all  unreadable encode.

[2012-08-22 05:27] #13 closed, assigned to nobody

[2013-01-17 14:05] sakthiinfotec opened #15 "Boolean data in POST request gets converted as string"
Hi tomas,
Sending boolean data as part of JSON data becomes string on the receiving side.
For Eg: data = {id:100, fname:'john', status:{isactive:true}}
here isactive:true becomes isactive:'true' <- string 'true'

Is this an expected behaviour or bug?

In, lib/needle.js lines 110 & 111

[code]

to make this work, if I change like following it works as expected

[code]

If bug, Can you please fix th

[2013-01-22 21:05] sergez opened #16 "Unexpected behaviour"
If `.post()` method is called with empty data object and `multipart` option as true then in callback function `err` param will be null and `resp` will be `[Error: Empty multipart body. Invalid data.]`

Example:

[code]

[2013-02-08 12:30] #15 closed, assigned to nobody

[2013-02-12 02:45] #16 closed, assigned to nobody

[2013-02-24 10:48] lcg635 opened #18 "about DEBUG environment"
When I'm using the 'debug' module which should set the DEBUG environment a value,'needle' module would output many debugging messages.So I can't find the debugging messages I want.

Sorry, my english is not well, so I don't know if you can understand.

[2013-04-11 09:01] pro100sanya opened #22 "Encoding not recognized: 'UTF-8' (searched as: 'utf8')"
I am trying to work via proxy, but got this exception.
How to solve it?

Error: Encoding not recognized: '"UTF-8"' (searched as: '"utf8"')
    at Object.module.exports.getCodec (/home/nodeuser/node_modules/needle/node_modules/iconv-lite/index.js:36:23)
    at Object.module.exports.fromEncoding (/home/nodeuser/node_modules/needle/node_modules/iconv-lite/index.js:7:22)
    at Object.Needle.response_

[2013-06-08 22:40] #18 closed, assigned to nobody

[2013-06-18 16:59] willrnch opened #25 "Don't force POST request with data"
For example, the Facebook api has data free POST endpoints.

[2013-06-20 11:23] ghost opened #26 "Overriding supplied Content-Type header"
I specify the content type header in the options object as shown below.

[code]

I then make a POST request with a string as the data argument. Needle overrides my content type with application/x-www-form-urlencoded.

I can get around this with the following hack at line 114 of needle.js

[code]

[2013-06-24 23:24] #25 closed, assigned to nobody

[2013-06-24 23:25] #26 closed, assigned to nobody

[2013-07-02 22:00] didip opened #28 "Content-Type is application/x-www-form-urlencoded but needle still try to parse body as JSON"
Why is that?

To reproduce:

[code]

[2013-07-02 22:09] #28 closed, assigned to nobody

[2013-07-09 07:21] jeroenr opened #30 "'delete' API call wrongly documented in README"
The 'delete' API call is documented as 'needle.delete(url, [options], callback);' while it should be 'needle.delete(url, data, [options], callback);'

[2013-07-10 14:00] #30 closed, assigned to nobody

[2013-08-29 21:20] pro100sanya opened #33 "Saving binary file"
Hello,

i am trying to download and save binary file (image).

needle.get(url, { output: path }, function (err, resp, body) {

});

But I have got the error:

{ [Error: ENOENT, open '$PATH_TO_FILE\$FILENAME']
  errno: 34,
  code: 'ENOENT',
  path: '$PATH_TO_FILE\$FILENAME' }

Could you suggest why I am getting this?

p.s. i have existing directories on the fie path.
By the way, is there possibilit

[2013-09-01 16:04] dlion opened #34 "Is there any way to track the progress?"
I used needle to upload my file into my server.
There is any way to track upload progress ?

[code]

[2013-09-02 17:16] ejeklint opened #36 "json: true in Options is missing in documentation"
but it should be as it is required to send JSON objects in request.

[2013-09-02 17:23] #36 closed, assigned to nobody

[2013-09-24 16:12] Alexander-Boris-de-Pfeffel-Johnson opened #38 "Header host missing port"
Just been looking at a request made from needle 0.5.9. It looks like the header's host value is missing the port, any chance this could be added?

Looks like the offending line may be lib\needle.js 172

[code]

Edit: Adding a thanks in advance/just for looking :)

[2013-09-26 11:33] hoesel opened #39 "Sending wrong POST-Content-Length if using umlauts"
Needle seems to send the wrong content-length if using umlauts in POSTs.

See also https://github.com/visionmedia/express/issues/1749

[2013-09-26 11:45] #39 closed, assigned to nobody

[2013-09-26 16:51] #33 closed, assigned to nobody

[2013-09-26 16:52] #22 closed, assigned to nobody

[2013-10-08 12:59] onldosalm opened #40 "missing cookie header on redirect"
Hello...
I am Heepan Kim.

First of all, thank you for sharing your code.

Original source code line 208

[code]

This code not working on cookie based server.

So I suggest my code.

[code]

[2013-10-08 17:28] #40 closed, assigned to nobody

[2013-10-13 16:22] mereskin-zz opened #41 "Sinon + needle: .firstCall doesn't work on stubbed methods"
getCall(0) still works, though.

[code]

[2013-10-16 15:29] #38 closed, assigned to nobody

[2013-11-28 03:51] dinght-1975 opened #42 "About digest authorization!"
there are maybe a bug, when I use needle digest authorization.

it does't work for  RFC 2069, only supports RFC 2617.

auth.js line 46 should be

[code]

and

[code]

<method> and <path> can't be the parameters of function.

they should be get from the headers of response.

[2013-12-04 02:14] tiangooden opened #43 "Buffer"
When I send a POST request I'm getting back a Buffer in the request body. How do I handle this?

{ ...
resume: [Function],
  read: [Function],
  bytes: 0,
  body: < Buffer > }

[2013-12-04 02:59] #41 closed, assigned to nobody

[2013-12-09 08:55] meenie opened #44 "needle.post() calling callback twice"
I'm using `needle.post()` and passing in a callback function.  The callback function is getting called twice and the body on the first time is a javascript object (as expected) and the second time the body is a JSON string.  Using the latest version of needle.

[2014-02-08 12:03] leesei opened #45 "Detect encoding from HTML/XML <meta> header"
Some server does not notify charset in HTTP header, it's better to also sniff from the HTML/XML `<meta>` header.

I've done so using [charset](https://github.com/fengmk2/charset).
[code]

[2014-03-05 02:30] #44 closed, assigned to nobody

[2014-03-05 02:36] #34 closed, assigned to nobody

[2014-03-05 02:45] #43 closed, assigned to nobody

[2014-03-19 19:58] solatis opened #48 "Compressed body isn't decompressed in stream"
Correct me if I'm wrong, but it appears as if the resp.body is only unzipped if you use the callback approach and not when you're using the streaming approach:

This is where the data is pushed on the stream: https://github.com/tomas/needle/blob/master/lib/needle.js#L252

And this is where the compressed data is decoded:
https://github.com/tomas/needle/blob/master/lib/needle.js#L274

Is this concl

[2014-03-25 18:19] solatis opened #53 "2-argument callback instead of 3-argument"
Hi there,

Something that noticed was the callback that adds a third argument which is a shortcut to response.body. The node.js community has pretty much settled on the 2-argument callback, which in turn caused a whole ecosystem of utilities that make this assumption (eg node-async and Q).

What is the rationale behind this? And would you mind it if I made a patch that detects the arity of the cal

[2014-03-26 08:07] #48 closed, assigned to nobody

[2014-04-08 23:55] #42 closed, assigned to nobody

[2014-04-18 22:51] statico opened #57 "Requires Node 0.10.x but package.json implies 0.4.x"
Needle seems to require [stream.Transform](http://nodejs.org/api/stream.html#stream_class_stream_transform) which is new to Node v0.10.

Using Node 0.8.26:

[code]

[2014-04-22 19:17] Meai1 opened #58 "Does https proxying work?"
I would like to forward requests to "https://google.at" to "https://localhost:4500"

[2014-04-26 09:48] #57 closed, assigned to nobody

[2014-04-30 07:37] thanh-nguyen opened #60 "Default charset set to UTF-8 and charset is not always the second param of header"
ISO-8859 was the default of HTML4 but now it's UTF-8 for HTML5. I think it's a better idea now to set default charset to UTF-8. Besides, when detecting charset in parse_content_type(), charset is not always the second param. So it's a better to match it agains the whole header.

[code]

[2014-05-12 07:59] #58 closed, assigned to nobody

[2014-05-15 02:06] jbergknoff opened #62 "Regression in receiving large payloads"
Here's a block of code using the library `pgte/nock` (I think the version is irrelevant) and `needle`:

[code]

The request gets intercepted by `nock` and a 1MB response is sent. In `needle` 0.6.6 this code behaves as expected, printing `done, 1048576`. In `needle` 0.7.0 and up, the response never arrives (and node doesn't know to wait, apparently, so the program exits without printing anything).

[2014-05-20 20:35] #62 closed, assigned to nobody

[2014-06-13 13:21] sri85 opened #65 "Post Request with basic authentication fails"
I am using needle API to make POST request to REST API and it always returns 401 error , where as if i use the same credentials to make GET request it is successful. I am not sure what am i doing wrong. Or is it some problem with Needle API. Below is my code

var needle = require('needle');
var async = require('async');

var credentials = {
username: "myusername",
password:"mypassword"

}

var dat

[2014-06-13 18:46] #65 closed, assigned to nobody

[2014-06-16 15:21] ghost opened #66 "More than 10 requests at the same time fail!"
Hello. I am trying to make 10 simultaneous POST requests to get some data from ElasticSearch

[code]

 and on the 9th and 10th request I always get this error:

[code]

The other 8 requests are totally fine.

Do you happen to know the solution to this issue?

[2014-06-18 11:41] #66 closed, assigned to nobody

[2014-06-20 01:11] shaneseaton opened #67 "Digest Auth Fails"
Not 100% sure, but when I was using this against the moodstock API, the digest auth was failing. I am pretty sure it was because the first authorisation response is setting nc=2 instead of 1. I simply set the nc to be 0 in the digest.generate function and it all worked fine for me.

[2014-07-18 00:44] terinjokes opened #68 "Needle parses in streams mode"
Needle still parses JSON and XML data, even when no callback is provided. This causes the stream to be in object mode.

Is this expected behavior? In my mind, parsing should happen in streams mode. (But obviously this can trivially be disabled by passing in `parsed: false`)

[2014-07-24 10:37] a70ma opened #69 "Get callback get fired twice"
I have this URL: http://panoramaproductions.electionemail.com/lt.php?nl=26&c=86&m=210&s=463b49e18dfd5a13da71ff10dc210d70&l=open

Callback get fired, first, with error from here:

[code]

and the error is `{ [Error: Parse Error] bytesParsed: 311, code: 'HPE_INVALID_CONSTANT' }`

But it will be also fired with no error from here :

[code]

It may not seem like a real issue, but this bug makes needle

[2014-07-30 16:48] #69 closed, assigned to nobody

[2014-07-30 17:11] #53 closed, assigned to nobody

[2014-08-29 18:27] skoranga opened #72 "Mocha is reporting global leaks in needle"
I was using needle in my app and CI was reporting `Error: global leaks detected: self, request_opts, protocol`. On drilling down it appears to be originating from needle module. Switched to request and it's fine now.

[2014-08-29 20:11] #72 closed, assigned to nobody

[2014-09-12 20:03] drupalmodule opened #74 "needle.delete fails when data=null"
when setting data=null on a needle.delete - nginx returns 411 error content-length not set.  All works fine if you set data=" " - notice there a space inside the quotes.

[2014-09-16 04:59] #68 closed, assigned to nobody

[2014-09-23 01:04] #74 closed, assigned to nobody

[2014-10-13 23:15] flore2003 opened #76 "HTTP Status Code 303 See Other not treated as redirect"
When specifying that needle should follow redirect, it only responds to status codes 301 und 302, but not to 303 See Other, which is an acceptable redirect status code.

[2014-10-29 17:28] thomasmodeneis opened #80 "TypeError: Cannot call method 'indexOf' of undefined on needle/lib/needle.js:79"
when testing with undefined url to needle, it crashes on:

needle/lib/needle.js:79
    if (uri.indexOf('http') == -1) uri = 'http://' + uri;
            ^
TypeError: Cannot call method 'indexOf' of undefined

[2014-10-29 21:36] #80 closed, assigned to nobody

[2014-11-04 19:33] dr0r opened #82 "needle.defaults({...}) does not set a property unless it's already defined in the initial defaults object"
needle.defaults({...}) does not set a property unless it's already defined in the initial defaults object.

I cannot set anything other than the 9 properties in the initial defaults object, because the defaults() function ignores all other properties.

Why...?

[2014-11-04 19:57] #82 closed, assigned to nobody

[2014-11-07 06:19] michael2043 opened #84 "timeout not work"
I use
needle.get('some url'
,{"timeout":20000,"headers"  : {"Depth" : "1", "Content-Type": 'text/xml; charset="utf-8"'}}
,function(err,res){
       ....do something....
}).pipe(out);

when downloading large file and network Interrupt，callback is not fired.and timeout is not working too.

[2014-11-27 15:40] noni73 opened #85 "Host header port incorrect"
Without reverse proxy it works fine.

If you specify a reverse proxy with a port number not matching the port in the get url the port number in Host header is not correct in a GET request.

Example:
url request is http://testserver.testdomain.com/image.jpg
proxy = http://proxyserver.testdomain.com:8080

GET http://testserver.testdomain.com/image.jpg
Header:
Host: http://testserver.testdomain.com:8

[2014-12-05 20:32] jimamster opened #86 "Cannot use proxy option to send https to the proxy"
When I run needle with the proxy option, I can only get needle to work when setting the proxy to http and not https.

Sample options are shown below.
rpurl = "https://endpointurl.com";

  options = {
    auth: 'auto',
    proxy: 'http://sampleproxy.com:8080',
    multipart: true
  };

In this example, needle sends http protocol to the proxy even though the endpoint url is requiring https. So the p

[2014-12-09 01:45] #85 closed, assigned to nobody

[2014-12-10 11:50] bitinn opened #87 "Limit download length (size) but still make use of decoder and parser"
I have been using needle lately and come into a dilemma: it is possible to both cap download length and avoid having to deal with stream chunk myself?

From source code it seems that passing a callback will cause buffering but we have no way of knowing how much data has been buffered so far (thus not able to stop it). On the other hand if we handle readable stream ourselves I believe parser or dec

[2014-12-10 16:11] #87 closed, assigned to nobody

[2014-12-17 18:45] bitinn opened #88 "Decoder output garbled text on occasions"
We are running into issues where some part of the response body are garbled upon decoding, and more annoyingly it does not always happen to the same page, not even the same text. So it's difficult for us to determine whether this is problem for `needle` or `iconv-lite`.

For example: http://www.huanqiukexue.com/html/newgc/2014/1215/25011.html is a page with charset gb2312, and upon multiple fetch

[2014-12-18 01:16] cryptoquick opened #89 "No statusMessage on response object"
I wrote this into my code a little while back and I thought it worked at one point. Did a recent update kill this property?

[2014-12-18 03:17] #89 closed, assigned to nobody

[2015-01-14 15:09] ancasicolica opened #91 "Integers in JSON are converted to strings"
I sent a POST request using needle like this:

[code]

The receiver then got an object like this:
[code]

But I was expecting the following (as I get it using restify):
[code]

As we are using both needle and restify clients I have to handle both data formats which is quite dissatisfying. Am I missing an option or is this a bug?

[2015-01-14 15:15] tomas commented on #91
Try passing a `json: true` in the options. Needle is querystringifying your message object, which results in integers being treated the same way as strings.

[code]

[2015-01-14 21:34] j-mcnally opened #92 "HTTP Request not sent"

[2015-01-14 22:29] tomas commented on #92
Cannot really help you out with such little info.

[2015-01-15 00:27] #92 closed

[2015-01-15 07:56] ancasicolica commented on #91
Thanks, this solved the problem.

I suggest to enhance the following entry in the readme document as it wasn't obvious for me:

`json` : When true, sets content type to `application/json` and sends request body as JSON string, instead of a query string. __This is mandatory if you are using numbers in your JSON structures.__

[2015-01-15 07:56] #91 closed

[2015-01-28 00:09] futurechan opened #94 "primitive in post response returns empty string"
I am calling a restful service that return ```true``` or ```false``` in the response body. When I receive this response, it is an empty string. I can call ```String(resp.raw)```, but I feel like a primitive that is not enclosed in an JSON object should be accepted as it works with JSON.parse. I'm using 0.7.10.

[2015-01-28 01:25] tomas commented on #94
What content type is the endpoint returning?

[2015-01-28 01:28] futurechan commented on #94
@tomas application/json

[2015-01-28 01:56] tomas commented on #94
So the raw response is a single "true" or "false" string?

[2015-01-28 02:32] futurechan commented on #94
yes, the response is a single "true" or "false" string.

[2015-01-28 02:46] tomas commented on #94
That's odd. By default needle parses the output stream, so it should be doing a `JSON.parse("true")` that should return `true`. Any other pointers?

[2015-01-28 09:09] shenanigans opened #95 "easy response types"
What if the server's response isn't the `content-type` you were expecting? What if you want to check the content-type before you wade into the body? Right now you have to muck about in the headers manually to be sure, worrying about incidentals like `"; charset=UTF-8"`.

It would be really convenient if responses had a simple `type` property set to `"json"`, `"multipart"`, or `"xml"`. It would als

[2015-01-28 12:08] tomas commented on #95
I'm not sure what you mean. You'd like Needle's responses to contain a `.type` property set to the header's Content-Type?

[2015-01-28 12:11] shenanigans commented on #95
yes, with any additional information scraped off. Since you're reading the
content-type and parsing the body selectively by type, I imagine there's a
convenient place in the code to save this handy property onto the response.
And when it gets saved, there's probably no need to save
`"application/json"` when just `"json"` will do.

On Wed, Jan 28, 2015 at 4:08 AM, Tomás Pollak <notifications@github

[2015-01-28 12:27] tomas commented on #95
Sounds like a good idea, but I think there are many cases in which the dev wouldn't know what to expect. For example, what do the following content types map to?

[code]

I think it would be clearer for everyone to use the regular Content-Type. We could, though, include a response.json = true or response.xml = true whenever one of those parsers come into action. This would let you do:

[code]

[2015-01-28 12:58] shenanigans commented on #95
Yeah, I like that idea: standard Content-Type and boolean props for the common parsers. And like I said initially, it would be nice to avoid parsing anything I'm not expecting with a request option.
[code]

[2015-01-28 14:29] futurechan commented on #94
@tomas I'm just guessing here:

It look like https://github.com/tomas/needle/blob/master/lib/needle.js#L334 evaluates to false, so https://github.com/tomas/needle/blob/master/lib/needle.js#L339 never happens.

[2015-01-28 14:36] tomas commented on #94
Hmm, I don't think so. Those chunks should be buffers so no this.read() should never be "false" nor falsy.

Let me try a quick test and I'll get back to you.

[2015-01-28 14:44] tomas commented on #94
Ok, quick test works. Something else is going on.

[code]

[2015-01-28 17:31] futurechan commented on #94
In my case, ```chunk = this.read()``` did evaluate to false. Any idea why?

[2015-01-28 17:38] tomas commented on #94
AFAIR this.read() returns false when there's no more data to read.

[2015-01-28 19:22] futurechan commented on #94
@tomas try your example with 'false' instead of 'true'.

var http   = require('http'),
    needle = require('./');

http.createServer(function(req, res) {
  res.writeHead(200, {'Content-Type': 'application/json' });
  res.end('false');
}).listen(function() {
  var port = this.address().port;
  needle.get('localhost:' + port, function(err, resp) {
	  console.log('resp.body: ' + resp.body);
    if (

[2015-01-28 19:36] tomas commented on #94
Holy shmoly, looks like you're right. This is a scenario that the `while(chunk = this.read())` strategy doesn't seem to cover. But even the official documentation says do it that way!

[2015-01-28 20:28] futurechan commented on #94
@tomas I'm thinking a simple null check is all that's needed. If you agree, I'll issue the PR.

[2015-01-28 20:30] tomas commented on #94
Sure, send it over.

[2015-01-28 20:30] tomas commented on #94
(Be sure to add a test for it!)

[2015-01-28 20:35] futurechan commented on #94
I pulled down the repo and ran the tests as is and got a few errors. Is that expected?

[2015-01-28 20:52] futurechan commented on #94
@tomas I issued PR #96
It works, but I noticed the body was ```'false'``` and not ```false```. Is that expected?

[2015-01-28 21:01] tomas commented on #94
Nice work there @futurechan.

Body _should_ be `false`, not `'false'`. Does that happen on the example above too?

[2015-01-28 21:04] futurechan commented on #94
In the above example ```(resp.body === true)``` worked. Perhaps there's another truthy/falsey check that's failing.

[2015-01-28 21:05] tomas commented on #94
Apparently. But with your null check does the example work with === false?

[2015-01-28 21:46] futurechan commented on #94
No, it looks like 'false' is returned. I'm working on two other things ATM. I'll try to circle back ASAP.

[2015-01-29 03:38] futurechan commented on #94
@tomas

[Line 357 is evaulating to true](https://github.com/tomas/needle/blob/master/lib/needle.js#L357), so we are calling .toString(), which is why ```'false'``` is returned instead of ```false```. Any pointers?

[2015-01-29 04:08] tomas commented on #94
I'm thinking that [resp.body[0] in line 350](https://github.com/tomas/needle/blob/master/lib/needle.js#L350) is `false` which means that the evaluation returns false when in fact it should evaluate to true.

What happens if we change `if (resp.body[0] && !Buffer.isBuffer(resp.body[0])) {` to `if (resp.body[0] !== null && !Buffer.isBuffer(resp.body[0])) {`?

[2015-01-29 04:10] futurechan commented on #94
Of course! I'll touch up the PR in just a sec.

[2015-01-29 04:21] futurechan commented on #94
@tomas all fixed up! I may be wrong, but iit looks like ```null``` is a valid response that also does not work.

[2015-01-29 04:31] tomas commented on #94
Then I guess we should go all the way with `resp.body[0] !== undefined`.

[2015-01-29 05:09] futurechan commented on #94
@tomas I'm not sure what you mean, but the ```false``` condition is covered now.

[2015-01-29 13:07] tomas commented on #94
Slick. Just merged, releasing in a few minutes.

[2015-01-29 13:14] #94 closed

[2015-01-30 16:45] kennyhk opened #97 "multipart and UTF8 characters"
When i post a file (multipart) with another key-value pair (contains UTF8 characters), my servers  got incorrect encoding.

then i see the code in multipart.js (generate_part) is :
<code>return_part += part.value</code>
the value look like in UTF8 encoding but send out with binary encoding

Finally i get the collect UTF8 characters by change to :
<code>return_part += new Buffer(part.value+'', 'utf

[2015-02-16 15:02] zetlen commented on #86
Hey, I can't wait to switch away from `mikeal/request` for a lightweight SDK, but this has to get released first. +1!

[2015-02-17 03:32] tomas commented on #86
This is already up! Sorry for not letting you know on time.

[2015-02-27 04:59] GeoffreyPlitt opened #98 "Memory leak"
The following code produces a memory leak. Increasing concurrency or decreasing the delay will speed it up, and vice versa-- but the memory still climbs and never comes back down. Try letting it run for an hour while looking at "htop" (or top, or a graphical memory profiler). I tried this with Node 0.10, 0.11, 0.12, in Mac and Linux. There are not stack issues, dangling variables, or closure issue

[2015-02-27 05:00] GeoffreyPlitt commented on #98
FYI, if you think the for loop at the bottom, or the setTimeout is the issue, it's not-- you can just replace "needle.request" with "setTimeout" and the memory leak goes away (no change to the rest of the code)

[2015-02-27 05:22] GeoffreyPlitt commented on #98
Update: adding `{agent: false}` to the options does fix it. I've also verified this leak in io.js, with agent=false.

[2015-02-27 13:39] tomas commented on #98
Yikes. Will take a look at this in the next few days. Thanks for reporting!

[2015-02-27 18:54] GeoffreyPlitt commented on #98
Update: I've proved the bug a little more rigorously. add the following line and run with node's `--expose-gc` option.

[code]

The memory will still climb, slower, but it will not stop climbing if you let it go for more than a few minutes.

Replacing needle with a raw call to http.request, and using the garbage collection mechanism above, stabilizes after a minute and never climbs.

[2015-03-03 08:17] tomas commented on #98
Hi @GeoffreyPlitt,

Stabilizes after a minute on how much rss/heap mem usage?  .I've been trying both the raw http.request and the agent = false trick and I get very similar results. The global.gc trick does seem to help, though. How much concurrency/delay are you testing with?

[2015-03-03 21:21] karan-kapoor90 opened #99 "Pipe req.files.file.buffer to needle.post"
I'm using a node server A with an entire application with its own logic etc, and want to use another node server B to handle static file uploads and file serving, much like a CDN. Hence for this purpose, I would like to stream the file content that I get on server A in the <code>req.files.file</code> to server B using a <code>needle.post</code> . How can i stream this result straight without savin

[2015-03-03 21:32] tomas commented on #99
Something like this should work:

[code]

[2015-03-04 00:57] tomas commented on #98
I think I found it. Please take a look at the `rc` branch and see if you get the same behaviour. There are also a few other things in it, but the main thing was to stop using anonymous functions, and make Needle a real object (e.g. `new Needle()`) instead of it just being a plain one.

[2015-03-04 22:24] GeoffreyPlitt commented on #98
Good stuff. I ran my test in both master and rc and you're right, on rc the memory stopped growing. Good fixes!

[2015-03-04 22:25] tomas commented on #98
Cool. I'm closing this one given that I'm merging the branch right away.

[2015-03-04 22:25] #98 closed

[2015-03-04 22:27] GeoffreyPlitt commented on #98
Can you point me to documentation about new-vs-plain objects cause memory leaks?

[2015-03-04 22:42] tomas commented on #98
[This](http://stackoverflow.com/questions/6698386/are-there-any-drawbacks-to-using-anonymous-functions-in-javascript-e-g-memory) might help. Also, Google has a [great article](https://developers.google.com/speed/articles/optimizing-javascript?csw=1) on writing good JS code.

[2015-03-05 21:02] Narzerus opened #101 "Question: Cookie jar support?"
Does this library have any sort of cookie jar support. Lets say I wanted to save multiple jars in my app and use them when I need them.

Is that possible here?

[2015-03-05 21:20] tomas commented on #101
Actually, just yesterday cookie support was added into Needle. This is what you can do.

[code]

I hope this helps.

[2015-03-05 23:44] Narzerus commented on #101
Hmmm, aight, is the `cookies` POJO updated after the requests are done. Example:

[code]

Btw, I was looking for a request replacement, because the way they handle cookies is hideous and just plain wrong when you need to access them manually. This library looks pretty straightforward.

P.S. Are you by any chance from Chile? I think I've atended a talk you did.

[2015-03-05 23:46] tomas commented on #101
Yup, from Chile like the porotos.

The cookie object you'll receive as part of the response object are just the response cookies (those contained in the `set-cookie` header). So in that case you should only get `{ new: 'cookie' }` in `resp.cookies`.

[2015-03-05 23:56] Narzerus commented on #101
Sure, I meant if the cookies object passed was updated in the process but I believe it doesn't. Btw,
here's a little bug I fixed for you #102

Need any further help with the library aperro cause I think I might stick to it ;)

[2015-03-06 17:52] #101 closed

[2015-03-06 17:53] Narzerus opened #103 "Default content type?"
I was testing a wrapper that works with needle and I notice that if no content-type headers are received, needle returns a buffer.

Shouldn't maybe the content-type by default be text/html?

[2015-03-06 18:18] tomas commented on #103
Nope. Why assume you'll get HTML? I mostly use needle for consuming APIs that return JSON.

[2015-03-06 19:52] Narzerus commented on #103
AIght, I agree :+1:

[2015-03-06 19:52] #103 closed

[2015-03-07 05:15] sw0o0sh opened #105 "False advertisement, Needle will (NOT) automagically prepend it."
[code]

[code]

Seems like false advertisement to me, owner refuses to fix bug whilst maintaining his cute internet boy-charm and smiley-faces. Since the owner does not care about his logical errors within his code, I request that this snippet be pulled from the README as it is clearly false advertisement, OUCH!!

[2015-03-07 05:18] misterhat commented on #105
OUCH indeed. I'm surprised that this was ignored even with perfectly valid examples of it being a bug.

[2015-03-07 05:44] tomas commented on #105
@sw0o0sh Ouch, so now it's personal? Looks like you had a rough week. Why don't you go grab a beer? It's friday night.

[2015-03-07 05:44] #105 closed

[2015-03-07 05:46] sw0o0sh commented on #105
Sorry, I am not a neglectful alcoholic tomas. Please stop advertising broken features, and take responsibility.

[2015-03-07 05:51] misterhat commented on #105
How you feel about sw0o0sh or whatever mishap you two have gotten yourselves into doesn't affect the validity of the bug. Please just fix it one way or another :(

[2015-03-07 05:56] tomas commented on #105
@misterhat I certainly will. But only once this guy stops throwing shit at me.

[2015-03-07 06:00] misterhat commented on #105
@tomas I wouldn't let emotions get in the way of the righteous path of bug-free code.

[2015-03-07 06:02] tomas commented on #105
@misterhat Tomorrow will be another day. :)

[2015-03-07 06:40] sw0o0sh commented on #105
Everyone is welcome to use my patched version @
https://www.npmjs.com/package/thorn

[2015-03-07 19:20] sw0o0sh commented on #105
Everyone is welcome to use my patched version @
https://www.npmjs.com/package/thorn

[2015-03-07 19:29] sw0o0sh opened #106 "Automagic prepending is broken and only sometimes works"
[code]

[code]

Please fix

[2015-03-07 19:32] tomas commented on #106
@sw0o0sh I'm warning you. If you keep on harassing and creating new issues I'll contact Github.

[2015-03-07 19:33] #106 closed

[2015-03-07 19:33] sw0o0sh commented on #106
What you gonna tell them? You don't take responsibility of your repos and fix bugs? Do it.

[2015-03-10 14:29] jconley opened #107 "0.8 cannot post raw body data; works in 0.7"
this used to work in 0.7.x:
[code]

but now in 0.8.x, it tries to parse the text as query params only... and throws:
[code]

if this was intended to be a breaking change, it should be documented in CHANGELOG.

[2015-03-10 15:26] tomas commented on #107
Nope, not intented. Will check ASAP.

[2015-03-10 23:07] tomas commented on #107
Are you sure that exact code worked in 0.7? I just checked out v0.7.10 and I get the same result. If you want the raw data to be posted, you should wrap it as a Buffer, eg. `var xml = new Buffer('<xml>hello</xml>');`.

[2015-03-11 14:06] jconley commented on #107
yes it works. i am testing with node v0.12.0

[2015-03-13 19:44] monitz87 opened #110 "Socket hangup on multiple async requests"
Hi, I'm having a socket hangup issue whenever I try to do many simultaneous requests (over 100 for example). I've researched the issue and apparently setting http.globalAgent.maxSockets to 'Infinity' should fix this. I think the optimal way to handle this is to add the maxSockets option to needle, even though it's quite specific. I am aware that node.js version 0.12 comes with 'Infinity' sockets b

[2015-03-16 16:13] godspeedelbow opened #112 "GET request with body"
I know it's not standard practice, but it's allowed and makes sense in certain situations.

Would this be something to consider?

http://stackoverflow.com/questions/978061/http-get-with-request-body

[2015-03-18 09:32] karan-kapoor90 commented on #99
And how do i accept the stream on Server B ?

[2015-03-24 00:15] tomas commented on #112
Hmm. In which situation would it make sense?

[2015-03-24 00:16] tomas commented on #110
Hi @monitz87,

You're right. In the meantime I guess nothing prevents you from doing `http.globalAgent.maxSockets = Infinity` in your code. I don't think it's a good idea to include that on Needle and force everyone to a specific number of maxSockets.

[2015-03-24 00:16] #110 closed

[2015-03-24 00:17] tomas commented on #99
Just as you'd git it on the example, I guess. The `var file = req.files.file;` part, specifically.

[2015-03-24 00:17] #99 closed

[2015-03-24 00:21] tomas commented on #107
I'll give it a shot tonight on node v0.12.0!

[2015-03-24 00:21] tomas commented on #97
It might. Can you provide an example with code so I can fix it and add a test for it?

[2015-03-24 01:00] tomas commented on #95
Ok mister, just landed in c3cd16ea2077b872a00c8f7a90b267543718316c. Needle's responses will now contain a `parser` property that can be either `json` or `xml` if one of those parsers was used. If parsing fails for any reason, the property will not be there.

If not using callback, the returned stream will also contain the `parser` property, however in that case it may occur that the parsing fails

[2015-03-24 01:34] tomas commented on #84
Needle already handles open_timeout vs read_timeout. Try them out and let me know if it works (closing this issue, but feel free to reopen if it's not working as expected).

[2015-03-24 01:34] #84 closed

[2015-03-24 01:34] #76 closed

[2015-03-24 01:35] tomas commented on #60
It's been very very long since this. I'm closing this issue, but feel free to reopen once you have more information about this. I'd prefer to rely any changes on the W3 spec rather than an independent website.

[2015-03-24 01:35] #60 closed

[2015-03-24 01:45] shenanigans commented on #95
That all sounds great. I like the idea of using the `accept` option except that it's not a desirable behavior in all cases, so maybe a Boolean option to turn it on. `restrictType:true` or something. You could potentially go with `strict:true` as a general Boolean for turning all response filters on and off, if you can see yourself thinking up more response filters.

[2015-03-24 01:48] tomas commented on #95
What about simply passing `{ parse: 'application/json' }` instead of `true`?

And why wouldn't you want to parse other content types, by the way?

[2015-03-24 01:59] shenanigans commented on #95
Your second question made me realize my first answer doesn't address my own situation. A String `parse` property is actually **necessary** but it should accept the same Strings held in the new `parser` property and not proper content types. My specific example would be `{ accept:'application/schema+json', parse:'json' }`.

[2015-03-24 02:03] shenanigans commented on #95
re: why, my JSON Schema validator is designed to handle foreign schemata which may be incorrect or even hostile. I don't want it wasting cpu resources parsing a bad response.

[2015-03-24 02:07] tomas commented on #95
Makes sense. Now with the new parser property this should be trivial. A beer or two tonight might pull the trick.

[2015-03-24 02:11] shenanigans commented on #95
Thanks, enjoy!

[2015-03-24 18:04] godspeedelbow commented on #112
Good question. I had a pretty GET call with quite a few params from one
backend service to the other. I figured there was a max size to the url
length (and therefore I needed to pass them along in the body). Actually,
that's just a browser limitation (if I'm not mistaken), so I implemented it
as query params anyways.

You can close this issue :)

[2015-03-24 19:09] tomas commented on #112
Cool, thanks man.

[2015-03-24 19:09] #112 closed

[2015-03-24 20:29] blakemcbride opened #113 "Post is displaying debug info"
When I do a post, I am seeing:

    Making request #1 { protocol: 'http:',
      host: 'localhost',
      port: '9200',
      path: '/components-1427228775787',
      method: 'post',
      headers:
       { Accept: 'application/json',
         Connection: 'close',
         'User-Agent': 'Needle/0.8.2 (Node.js v0.12.0; linux x64)',
         'Content-Type': 'application/json',
         'Content-Leng

[2015-03-24 20:48] tomas commented on #113
You're probably setting a DEBUG env var. This will be removed once we replace the current inhouse debugging system for the `debug` module itself.

[2015-03-24 21:01] blakemcbride commented on #113
blake@blake-Dell-M6800 ~ $ echo $DEBUG

    blake@blake-Dell-M6800 ~ $

No DEBUG set.  I am running it through WebStorm & node.

Thanks.

Blake

[2015-03-24 21:10] tomas commented on #113
That's odd. What do you get with?

`node -e "console.log(process.env.DEBUG)"`

Anyway, I just pushed Needle v0.9.0 that replaces the current console.log with the `debug` module. You should no longer have this problem.

[2015-03-24 21:34] blakemcbride commented on #113
blake@blake-Dell-M6800 ~/Downloads $ node -e "console.log(process.env.DEBUG)"
    undefined
    blake@blake-Dell-M6800 ~/Downloads $

[2015-03-24 21:40] tomas commented on #113
Then I guess there's some other module that's putting that env variable before Needle checks for its presence. Did you try 0.9.0?

[2015-03-24 21:44] blakemcbride commented on #113
It isn't there.

    blake@blake-Dell-M6800 ~/ComponentServer $ npm update needle
    needle@0.8.2 node_modules/needle
    └── iconv-lite@0.4.7
    blake@blake-Dell-M6800 ~/ComponentServer $

Thanks for all the help!

[2015-03-24 21:47] tomas commented on #113
Try with:

`npm install needle@0.9.0 --save`

[2015-03-24 21:57] blakemcbride commented on #113
That fixed everything.  Thanks a lot!

[2015-03-24 21:57] #113 closed

[2015-03-26 14:39] blakemcbride opened #114 "Documentation error"
Hi.  In your README.md, under neadle.request(), the API is defined as taking 5 arguments but the example shows it taking 4.  THE API doesn't show any arguents as optional [].

Thanks.

Blake

[2015-03-26 16:06] blakemcbride opened #115 "request('get'...) can't pass json data"
Network traffic see with curl:

    GET /components/_search HTTP/1.1
    User-Agent: curl/7.35.0
    Host: localhost:9200
    Accept: */*
    Content-Length: 386
    Content-Type: application/x-www-form-urlencoded
    {
        "from": 0,
        "size": 20,
        "query": {
                "bool": {
                    "must": [
                        {"match_phrase_prefix" : {

[2015-03-26 19:39] tomas commented on #115
Looks like you're just passing "true" as the options. Try with:

[code]

[2015-03-26 19:40] tomas commented on #114
Oh, yes, the options argument is optional.

[2015-03-26 20:07] blakemcbride commented on #115
In your example, where is my json data?

[2015-03-26 21:28] tomas commented on #115
Oh, now I see. When passing data to a GET request, Needle builds a query string and appends it to the URL, given that those requests should not contain a body.

[2015-03-26 22:42] blakemcbride commented on #115
Yea.  Whatever you are doing isn't working for me.  I am trying to pass json data through a get.  Just FYI, CURL works, and the 'request' npm package works too.

[2015-03-26 22:43] blakemcbride commented on #114
In your README.md, it would be great if the optional arguments had [ and ] around them so we know which ones are optional.  I noticed this is a problem with most of your API listings.

[2015-03-26 22:49] tomas commented on #114
Will do. Thanks for the reminder!

[2015-03-26 22:49] #114 closed

[2015-03-26 22:51] tomas commented on #114
The documentation does say, though, that both the options and the callback are optional. :)

`All of Needle's request methods return a Readable stream, and both options and callback are optional.`

[2015-03-26 22:58] tomas commented on #115
Why _would_ you want to send a body as part of a GET request anyway? You might want to suggest the developer of that endpoint to stick to the spec. Needle doesn't send bodies on GET requests because there's a very high chance that the server on the other side won't even mind to read it.

[2015-03-26 23:04] blakemcbride commented on #115
Tell that to elasticsearch
http://www.elastic.co/guide/en/elasticsearch/guide/current/multi-query-strings.html

[2015-03-26 23:40] OKNoah opened #116 "unknown domain: inc.com"
I'm trying to do the following with this `url`: http://inc.com/gene-marks/the-one-way-to-tell-if-you-re-a-successful-entrepreneur.html?cid=sf01001

	var data = needle.get( url, {
		compressed: true,
		follow_max: 5
	}, function ( error, response ) {

When I do that, the `response.body` is:

    '\n<html>\n<head>\n<title> inc.com</title>\n</head>\n<body>\nunknown domain: inc.com</body></html>'

[2015-03-27 03:51] tomas commented on #116
That's odd. What do you get with curl?

[2015-03-27 06:29] OKNoah commented on #116
It's a 301 redirect

[2015-03-27 13:24] BiteBit opened #117 "deflateRaw support"
coffee-script
[code]
zlib error when i get youku.com
http headers content-encoding is 'deflate' and i use zlib.deflateRaw can success

[2015-03-27 15:36] tomas commented on #116
I can take a look at this later today. In the meantime, you can try enabling debugging and see if that helps to find out what the problem is.

[2015-03-27 15:37] tomas commented on #117
Thanks for the heads up. I'll take a look at this in a while.

[2015-03-27 22:23] OKNoah commented on #116
Thanks a lot. If you want some context check out the issue I mentioned above: https://github.com/tmpvar/jsdom/issues/648

Someone suggested using Needle to decompress before passing to JSDOM, but I get this problem when I do.

[2015-03-30 18:51] Narzerus opened #118 "Set-Cookie header with multiple cookies only saves the last one"
This is a very dangerous bug as it is hard to notice while working with needle,
I think #111 fixes this though I haven't tested it:

If a request returns multiple cookies in the headers like this:

`Set-Cookie: foo=1; bar=2`

`res.cookies` will equal: `{bar: 2}` the reason behind this has to do with `parse()` at `lib/cookies` where the result format does not allow for more than one cookie to be st

[2015-03-30 18:54] tomas commented on #118
Really? Well, I always said cookie support was still experimental. Does it also happen on #111?

[2015-03-30 19:09] Narzerus commented on #118
Yup, just tested it, its still present there sadly

[2015-03-30 19:49] Narzerus opened #119 "Testability issues"
I don't mean to flood this repo with issues, but I cloned needle to try make some fixes myself and I'm having a hard time testing as it does not work out of the box.

Could you provide some basic instructions on setting up the local environment for testing? It would be great to have out-of-the-box testabilty as it makes it easier for contributors to submit good PRs, lowers the risk of merging bad

[2015-03-30 19:58] tomas commented on #119
$ git clone https://github.com/tomas/needle.git
    $ npm install
    $ npm test

What error are you getting?

[2015-03-30 19:59] Narzerus commented on #119
Welp, it tries to load some cert files which are not present in the repo

[2015-03-30 20:07] tomas commented on #119
Oh, yes, I forgot. You need to generate the SSL keys inside `test/keys`.

   $ mkdir -p test/keys
   $ openssl genrsa -out test/keys/ssl.key 2048
   $ openssl req -new -key test/keys/ssl.key -x509 -days 999 -out test/keys/ssl.cert

[2015-03-30 20:24] tomas commented on #119
Ok, I just updated the documentation. Thanks for the heads up.

[2015-03-30 20:24] #119 closed

[2015-03-30 21:03] Narzerus commented on #119
any time!

[2015-03-30 21:04] jorgeaguirre commented on #118
In fact this is not a bug, the problem resides in that you are using a incorrect syntax, the second key/value (`bar=2`) is an attribute of (`foo=1`):
[code]
The correct syntax for setting multiple cookies is this
[code]

[2015-03-30 22:10] Narzerus commented on #118
I looked into RFC6265 and you are correct, I quote:

[code]

Closing this issue as this is actually expected behavior.

[2015-03-30 22:10] #118 closed

[2015-03-30 23:59] OKNoah commented on #116
Did you get any insight into this problem?

[2015-03-31 00:14] tomas commented on #116
Yup! I found out what the problem is. Pushing the fix in exactly 183 seconds.

[2015-03-31 00:16] #116 closed

[2015-03-31 00:33] tomas commented on #117
It looks like you'll need to turn off compression for the time being. It looks like the `youku.com` guys decided not to follow the spec and forget about the zlib headers in the deflated body, as described [here](http://stackoverflow.com/questions/3932117/handling-http-contentencoding-deflate).

A possible option is to implement some option like `decompressor` that allows you to say something like

[2015-03-31 06:52] OKNoah commented on #116
Thank you!

[2015-03-31 12:08] BiteBit commented on #117
to compatible with complex environment, i solve it  by call inflateRaw after inflate error

[2015-04-08 17:01] tomas commented on #117
I'm not sure I undertand. Can you share an example in code?

[2015-04-09 04:22] rc0x03 opened #121 "Enabling 'follow_set_cookies' with no set-cookie header"
Having `follow_set_cookies` enabled while requesting a page that doesn't send a `set-cookie` header will cause needle to crash.

[code]

Seems like either `cookies.read` needs to always return an object or `cookies.write` needs to check that `obj` isn't undefined.

[2015-04-09 06:25] tomas commented on #121
Good find. Will check tomorrow as part of #111 (which I meant to merge today, haha).

[2015-04-09 15:54] zetlen commented on #86
Thanks for letting me know, but I'm still having some trouble! I'm able to tunnel requests through an HTTPS proxy successfully in Windows (with Fiddler), but not on OSX (with Charles). I have exported the root certificate, all other HTTPS requests work, and I can use Charles successfully with the [mikeal/request](https://github.com/mikeal/request) module. But I switched away from mikeal/request be

[2015-04-09 16:04] tomas commented on #86
I do have access to an OSX machine. How can I reproduce the problem?

[2015-04-09 21:24] zetlen commented on #86
Thanks for waiting. I created a quick Google Apps Script for demonstration purposes, because I needed something that delivered innocuous JSON from HTTPS. Here is your repro:

1. Run Charles.app on OSX. Make sure that SSL is configured for all hosts, and that the certificates are configured correctly.
2. Put the following code in a file called `repro.js`.
[code]
3. Run the script and argue a four-d

[2015-04-09 21:37] tomas commented on #86
Holy mac! Once I get my hard hat I'll take a look into this, hehe.

[2015-04-10 03:29] nopslip commented on #107
I'm running into a similar issue with Needle v0.9.1 and Node v0.10.37.
This:
```var options = { "headers": { 'Accept': 'application/json; charset=UTF-8', 'Content-Type': 'application/json'}};```
```var n4j = {"statements":[{"statement":"CREATE (x) RETURN id(x)"}]};```
```var data = JSON.stringify(n4j);```

```needle.post('http://0.0.0.0:7474/db/data/transaction/commit', data, options,  function (e

[2015-04-10 04:21] tomas commented on #107
@nopslip: The problem is that Needle's querystring function is receiving a string that doesn't contain any equal signs (e.g. not a querystring) so it doesn't know how to deal with it. You should just pass the original object and let Needle JSON.stringify-it for you, using the `json: true` option. This also takes care of the Accept and Content-Type headers.

[code]

[2015-04-10 04:37] jconley commented on #107
just my 2 cents, but i've never seen any http api that takes a body object an expects a string to be in querystring format.  seems to me it should render string/buffer unmodified. if you expect { json: true } to trigger json stringify, then maybe you should expect { query: true } when the data is a querystring.  or to prevent the possibility of json==true and query==true, use { content: json } or

[2015-04-10 04:39] tomas commented on #107
Yes, I'm actually looking into your example and there was a change between 0.7 and 0.8 that made things a bit inconsistent. I'll let you know when I have a better picture.

[2015-04-10 04:51] nopslip commented on #107
@tomas That did it! Thank you! Clearly I misunderstood what I was sending. I appreciate the help immensely.

[2015-04-10 05:24] tomas commented on #107
@jconley I think I have it. I want to add a few specs before pushing this out, but feel free to try out the `request_body` branch and see if it works.

[2015-04-16 17:17] jarzuaga opened #125 "timeout vs open_timeout"
Hi,

I'm not sure if this is an issue or me misreading the docs. I have a post to a service which takes about a minute to respond back. I noticed I was getting a "socket hang up" error when using needle on my nodejs app, but not through postman. I tried setting the open and read timeout options to 0 with no luck. Then I looked at needle's code and noticed a setting of "timeout: 10000" on a default

[2015-04-16 17:22] tomas commented on #125
What version are you using? From version 0.8 the `timeout` option acts as an alias for `open_timeout`, given that we added `read_timeout` a few releases later. Versions lower that 0.8 don't handle `open_timeout` as an option -- just `timeout`.

[2015-04-16 17:43] jarzuaga commented on #125
That explains it then. I'm using version 0.7.2. I'll update then. Two questions:
1) Is version 0.9 backward compatible with code written with 0.7?
2) What's new on version 0.9? I see the version is tagged but there's no release with info on what the version introduces/fixes.

Anyways, this can be closed. Many thanks!

[2015-04-16 17:53] tomas commented on #125
Oh that's just lazy me. I just pushed an added the relevant bits. Let me know if you need anything else!

[2015-04-16 17:53] #125 closed

[2015-04-16 17:54] tomas commented on #125
And yes, unless very duly noted, needle will always remain backwards compatible. The only major change so far was the streams2 refactor that allowed needle to be called without a callback.

[2015-04-16 17:55] jarzuaga commented on #125
Great, thanks!

[2015-04-20 18:00] mrft opened #126 "Posting a very long string"
Posting a very long string prints this error a few times.

<pre>warning: Recursive process.nextTick detected. This will break in the next version of node. Please use setImmediate for recursive deferral.<pre>

[2015-04-20 18:15] tomas commented on #126
Example code?

[2015-04-20 18:58] mrft commented on #126
In my case it is a batch post to a couchdb instance

<pre>
var requestOptions = {
		username: "username",
		password: "password",
		json: true,
		timeout: 10 * 60 * 1000 //10 minutes
}
//very big string > 32M characters
bulkString = '{	"all-or-nothing": true, "docs": [{<doc1>}, {<doc2>}, ...]}'

needle.post( <https-url>, bulkString, requestOptions, mycallback )
</pre>

[2015-04-22 18:49] starpause opened #127 "example of specifying name parameter for multipart file upload"
I'm trying to specify the ```name``` parameter for a multipart upload being performed with needle. I can see the variable being set in ```generate_part()``` of ```multipart.js``` but can't trace it back up the chain or find any examples. Any clues greatly appreciated, TIA!

[2015-04-22 19:30] starpause commented on #127
I got it! Multipart ```name``` parameter is taken from the keys in ```data``` object. Example:

[code]

[2015-04-22 19:30] #127 closed

[2015-04-22 19:31] tomas commented on #127
Cool! Let me know if you have other questions.

[2015-04-24 21:47] zetlen commented on #86
Hey, any luck on this?

[2015-05-05 06:51] andela-potemuyiwa opened #130 "Error: Invalid Json"
You get an error of Invalid Json  when you set your Content-Type to be application/json when doing needle.post.

If you don't set Content-Type at all, the post operation works.

Moving forward, needle shouldn't force Content-Type on an options object when it has been explicitly set by the User.

[2015-05-29 17:00] terinjokes opened #132 "Allow passing function to supplement redirect options"
I have more advance redirection requirements that can't be mapped nicely to the current "follow_*" options. In the future, I would like to be able to pass a function to supplement the `should_follow` method.

[2015-05-29 18:03] tomas commented on #132
What kind of requirements do you have? (Just to have an idea)

[2015-05-29 18:17] terinjokes commented on #132
I'd like to be able to do a lookup to see if the redirection is allowed from the current location.

[2015-05-29 19:29] tomas commented on #132
I'd be happy to merge this into master if you're up for some hacking. :)

[2015-06-23 12:10] servo1 commented on #117
testing with needle.js line 43    decompressors['inflateRaw']   = zlib.Inflate;
Added this as a potential solution if this is what you were talking about @tomas

Any pointers in implementing error handling that doesn't kill the app would be great - where to add a try and catch statement?

[2015-06-25 03:32] leesei commented on #45
I was studying the latest code and didn't realize the code in `decoder.js` was added because of me :stuck_out_tongue:.

[2015-06-25 03:32] #45 closed

[2015-06-25 03:56] leesei commented on #88
I encounter the same issue with the latest release (0.9.2).
@bitinn, indeed many server won't report encoding in HTTP header.
The HTML meta detection with the first chunk works correctly and detects the page's encoding as `big5`.
Some of above snippets are not relevant anymore so I'm restating the issue here.

Say the BIG5 string "國際" (0xB0EA, 0xBBDA) in HTML is split across chunk.
[code]

So no o

[2015-06-25 06:12] bitinn commented on #88
@leesei shameless self-plug, I ended up writing this module: https://github.com/bitinn/node-fetch

You should be able to decode res.body as a stream, using `iconv.decodeStream`. But in most case you probably don't need a html stream, right?

[2015-06-25 16:35] leesei commented on #88
@bitinn Thanks for the info. I'll wait and see if there's any progress on this issue.

I tried to create a `StreamDecoder` after getting charset at `decoder.js:28`, but my stream-fu is not powerful enough to get the job done.
And I don't know how error should be handled when using `iconv`'s stream API.

[2015-07-08 00:37] nilgradisnik opened #134 "Support for PATCH method"
I noticed this library is missing HTTP [PATCH](http://tools.ietf.org/html/rfc5789) implementation which would be a nice thing to have.

Love how lightweight this library is, keep up the good work.

[2015-07-08 00:53] tomas commented on #134
Thanks mate. Patch support should be trivial.

[2015-07-08 01:44] monolithed commented on #13
Have the same problem

[2015-07-08 03:48] tomas commented on #95
Took a bit longer than expected, but 7380884 makes the parse/parse_response option accept 'json' or 'xml'.

Sidenote: I think this is the first time I've seen a fully numeric short commit hash. Will this break Github? hehe

[2015-07-08 03:51] shenanigans commented on #95
Righteous. Thanks for staying on it.

[2015-07-08 03:51] #95 closed

[2015-07-08 21:03] monolithed opened #135 "Protocol relative URLs"
And according to RFC 2396 (URI Syntax) and RFC 2616 (HTTP 1.1) these URI starting with two slashes are valid.

This notation is often used to avoid the "mixed content" problem.

[code]
[code]

[2015-07-08 21:05] tomas commented on #135
I think this is happening because of [this](https://github.com/tomas/needle/blob/master/lib/needle.js#L242-L243). It should be an easy fix.

[2015-07-08 21:24] monolithed commented on #135
A better way:

[code]

[2015-07-08 21:37] monolithed commented on #115
+1, It will be very useful for many API and more elegant than:

[code]

[2015-07-08 23:46] matthewmueller commented on #135
why is the default https? afaik protocol-relative refer to loading assets on a page that share the root url's protocol.

[2015-07-08 23:51] tomas commented on #135
I agree with @matthewmueller. Assuming https will likely not work.

[2015-07-09 00:03] monolithed commented on #135
Sorry guys, its a typo )

[2015-07-09 00:04] matthewmueller commented on #135
actually, assuming any protocol won't necessarily work.

[2015-07-09 00:22] tomas commented on #135
Done. ce22c53

[2015-07-09 00:24] monolithed commented on #135
Yup. However, I can give an example which cause some pain for me

[code]

[code]

[2015-07-20 16:00] lovett opened #136 "Parsing additional MIME types as XML"
Is there a way to specify the MIME types that trigger XML parsing?

I wanted to parse an RDF file, but it's not one of the types specified in `lib/parsers.js`. I can do something like this:

[code]

But wondered if there's a better way.

Adding another export to `parsers.js` could work, but might be a hassle to keep updating over time.

[2015-07-24 13:19] lucaswxp opened #137 "Get final url after redirect"
I'm trying to get the final redirected URL of a http request, but I can't find it anywhere.

I tried inspect `resp.req`, but also couldn't find anything. Is this information available?

Regards

[2015-07-24 15:41] herlon214 commented on #137
:+1:

[2015-07-24 18:19] tomas commented on #137
Needle's return object is a emitter that triggers a 'redirect' event whenever it occurs.

[code]

[2015-07-24 21:51] lucaswxp commented on #137
Thanks @tomas! That's very helpful.

[2015-07-24 21:51] #137 closed

[2015-08-08 17:28] gregt590 opened #138 "Debugging messages not selective"
I am attempting to use the network.get_public_ip() function from your network package with uses needle to perform its function.  I also use the debug package (see npm package debug) through out my code with different modules names [for example via debug = require('debug')('app:awsintf')], as is used in express and other Node.js packages, so I can selectively turn on different debugging messages as

[2015-08-08 18:19] tomas commented on #138
Try updating needle to the latest version. Needle doesn't use the DEBUG env variable [any more](https://github.com/tomas/needle/commit/be20f7b36e9c91c68d84c60f6b47fdc9068e3420#diff-ce47d3711808893008d0d794d3ede7bc).

[2015-08-10 14:03] mediafreakch commented on #107
As I understand the following should work with your fix:
``` needle.post('http://example.com', [123], { json: true }); ```

Any idea when this fix will it be available on npmjs.com?

[2015-08-10 14:27] mediafreakch commented on #82
Adding the username & password properties would be nice :)

[2015-08-10 15:19] mediafreakch commented on #5
+1 :)

[2015-08-18 00:22] herlon214 opened #139 "Stream end event don't been called"
Hi guys, here is the code:

[code]

The console never show "Done", why?
Thanks in advance.

[2015-08-18 14:07] herlon214 opened #140 "File corrupted"
The code above download a rar file, and then extract him using the unrar, but sometimes the file came corrupted (I already checked it's ok with the file).

[code]

Any idea?

[2015-08-18 19:39] tomas commented on #140
Can you share the URL of the RAR you're downloading so I can test?

[2015-08-18 19:39] tomas commented on #139
What content type are you downloading? Are you sure there aren't any errors occurring?

[2015-08-18 19:39] #138 closed

[2015-08-18 19:41] tomas commented on #136
Seems like rdf+xml should be added to the list of parseable XML content types. Thanks for the heads up and sorry for the late response!

[2015-08-18 19:42] #136 closed

[2015-08-18 19:44] tomas commented on #135
I don't see what's wrong with your example @monolithed. You _are_ throwing that exception after all, right?

[2015-08-18 19:44] tomas commented on #135
I'm closing this issue for the moment, by the way. Feel free to open a new one if you want me to address something else.

[2015-08-18 19:44] #135 closed

[2015-08-18 19:46] herlon214 commented on #140
Here is the url: http://insubs.com/d/Xggr8
(You must set Referer to: http://insubs.com/l/zenr7)

2015-08-18 15:39 GMT-04:00 Tomás Pollak <notifications@github.com>:

--
*Att, Herlon Aguiar*

[2015-08-18 19:47] herlon214 commented on #139
I fixed putting the pipe on the other line:

[code]

[2015-08-18 19:49] tomas commented on #134
Just landed in e5da414. Thanks!

[2015-08-18 19:49] #134 closed

[2015-08-20 03:37] fritx commented on #45
heys @tomas how about using [jschardet](https://www.npmjs.com/package/jschardet) for charset auto-detect, if charset 'not found' in '<meta>'?
at https://github.com/tomas/needle/blob/master/lib%2Fneedle.js#L105

[2015-09-01 18:39] noamokman opened #141 "Debug"
The module checks for any value in the debug env var.
Instead of these lines:
[code]

Please use [debug](https://www.npmjs.com/package/debug).
It was made for this purpose.

Would you like me to PR?

[2015-09-01 18:55] tomas commented on #141
Needle [already uses](https://github.com/tomas/needle/blob/master/lib/needle.js#L13) debug -- that's an old piece of code right there. Please update needle!

[2015-09-01 18:55] #141 closed

[2015-09-10 04:09] aidistan commented on #97
I have met the same issue and my code looks like:

[code]

And the request caught by Request looks like:
[code]

Hope this could be fixed :smiley:

[2015-09-11 07:43] PainKKKiller opened #142 "Parsing XML response stopped to work"
Did it on this way
[code]
Responce of the server (resp.body) comes in XML, and it was parsed in JSON. Everything worked fine, but suddenly (I nothing changed in code) in resp.body I started to get raw XML. No problem I can parse it on my own. But I really have no idea why it happened.

[2015-09-11 08:18] PainKKKiller commented on #142
Some additional imformation. It happened when I deleted from project some unused modules (crypto-js, json2xml and something else). After that parsing by needle stopped to work.

[2015-09-13 20:46] lwhiteley opened #143 "How to abort"
How do i abort a request.

Use case, just need to check if a url is giving a satisfactory response and then abort.

is that possible?

[2015-09-14 14:38] lwhiteley commented on #143
used `needle.head` to resolve my issue just to check the headers of the url.

not sure if anyone still needs an abort feature though.

should this be closed?

[2015-09-14 15:07] #143 closed

[2015-10-01 02:03] kanayo commented on #107
Would be nice to see a fix for this one, need the read_timeout feature but stuck at 0.7.0 because also need raw post data without equal signs.

[2015-10-01 23:44] tomas commented on #142
Hi,

You problably also removed the `xml2js` module which needle depends on (but doesn't explicitly require) for XML parsing. Just `npm install xml2js --save` and violá!

[2015-10-01 23:50] tomas commented on #140
I finally took the time to test this and you're right! (Sorry for taking so long).

I'll keep on testing and let you know what I find out.

[2015-10-02 00:01] herlon214 commented on #140
Thanks Tomás, I'm waiting

Em quinta-feira, 1 de outubro de 2015, Tomás Pollak <
notifications@github.com> escreveu:

--
*Att, Herlon Aguiar*

[2015-10-02 00:32] tomas commented on #140
Got it! Pushing a fix in a few minutes.

[2015-10-02 00:33] herlon214 commented on #140
Thanks a lot!! 😄

Em quinta-feira, 1 de outubro de 2015, Tomás Pollak <
notifications@github.com> escreveu:

--
*Att, Herlon Aguiar*

[2015-10-02 01:15] #140 closed

[2015-10-02 01:16] tomas commented on #139
The fix that closes #140 should also take care of this. Can you check again?

[2015-10-02 01:16] #142 closed

[2015-10-02 01:16] #132 closed

[2015-10-02 01:17] tomas commented on #130
Hi,

Can you share a snippet of code? Sorry for the long delay, but I was quite swamped these past months. :)

[2015-10-02 01:17] #121 closed

[2015-10-02 01:20] tomas commented on #117
Hi @servo1 and sorry for the long delay.

You mean error handling on the output stream?

[code]

[2015-10-02 01:21] tomas commented on #107
I'll be working on this tomorrow! Sorry for the long delay but I've been swamped like hell.

[2015-10-09 23:32] lperrin opened #145 "error event sometimes emitted"
From what I understand, needle should always pass an error to the callback and never emit an `error` event.

However, I've processed in production crash with an ETIMEOUT error. I've been able to reproduce it locally.

It seems to happen when the host is unreachable. It's a simple GET request and I pass the following options:

[code]

The extended stack trace I get:

[code]

[2015-10-10 00:54] tomas commented on #145
Can you share the code you're using so I can reproduce the error?

[2015-10-10 00:59] lperrin commented on #145
Not easily, but I've added logs everywhere in my local copy of needle, so I'll be able to provide more info soon.

[2015-10-10 07:22] lperrin commented on #145
OK, I've been able to reproduce the problem once (but it took several hours). From what I see, I get a socket timeout after you remove the 'error' handler.

I get first an `ECONNRESET` which is correctly reported by needle, followed by a `ETIMEDOUT` which is not caught.

I should also have mentioned that I'm still on node.js 0.10.40, so it might be a node.js bug. Would you accept a PR that would b

[2015-10-10 08:12] tomas commented on #145
Hmm, that's odd. I'm pretty sure if you get a ECONNRESET error you shouldn't get more errors on `request`. Once the request is done the listener is removed on [this line](https://github.com/tomas/needle/blob/master/lib/needle.js#L354).

If indeed the `request` object is able to emit more than one error then I we should definitely remove or change that behaviour. However I do need to be able to rep

[2015-10-12 21:00] lperrin commented on #145
Sorry, but it's not that easy to isolate this part of the code. It's a very large codebase and the issue only happens ~once a day. Basically, my code polls a Facebook endpoint every 10s.

I've added more logs to track exactly which request is emitting the error.

I had a crash today that looks like this. It shows that request 125 is emitting an error after you remove the error handler.

[code]

He

[2015-10-12 21:07] lperrin commented on #145
To be more accurate: we simply poll the same URL every 10s on a laptop with an unstable connection (limit of range Wi-Fi).

[2015-10-16 01:52] tomas commented on #145
Have you ran your code with `NODE_DEBUG=http`? That will surely help debug what's going on behind the curtains. [This is](https://github.com/nodejs/node/blob/master/lib/_http_client.js#L238) the relevant section in Node.js's http_client.js -- the line that triggers the timeout error.

I've been adding a few tests under [errors_spec.js](https://github.com/tomas/needle/blob/master/test/errors_spec.j

[2015-10-16 01:52] #139 closed

[2015-10-16 01:53] tomas commented on #130
Ping?

[2015-10-16 02:03] tomas commented on #126
I'm performing a test with a string of `33554432` bytes and unable to replicate this error. What version of Node.js are/were you using? :)

[2015-10-16 02:05] tomas commented on #145
I'm now thinking that we might be better by removing the line that removes the error handler. I just did a test trying to replicate #126 and I'm getting a EPIPE error, even though the request has already finished and the node process is not really piping to anywhere.

[2015-10-16 02:20] tomas commented on #145
Ok I think I have it. Take a look at the [errors](https://github.com/tomas/needle/compare/errors) branch.

[2015-10-16 04:38] lperrin commented on #145
OK, I'm running the new branch. I'll tell you tomorrow if the crash still occurs.

[2015-10-16 10:28] mrft commented on #126
I think that it was the same as I have now: v0.10.25 (but I am not 100%
sure).

Long time ago...

2015-10-16 4:03 GMT+02:00 Tomás Pollak <notifications@github.com>:

[2015-10-16 17:13] lperrin commented on #145
I think I still have the crash even in the errors branch. I've restarted everything with debug activated.

[2015-11-03 15:53] tamaspiros commented on #67
Have there been any updates on this? I'd love to get the digest auth working

[2015-11-05 23:16] tomas commented on #145
Any news about this?

[2015-11-10 12:00] chrisjhoughton opened #147 "Promise support?"
I've recently written up [a module](https://github.com/chrisjhoughton/archer) to wrap Needle in a JavaScript promise API, using [When.js](https://github.com/cujojs/when/) powered promises.

Would be great to get promise support in the API as well - in conjunction with the existing callback based API.

If I did a PR for this would you accept?

[2015-11-11 06:27] mcchin opened #148 "When combining needle package with async.auto, performance will degrade when there are a lot of concurrency requests"
When I do something like below:

    router.get('/test', function(req, res) {
        async.auto({
            step1: function(cb) {
                console.log('step1');
                cb();
            },
            step2: ['step1', function(cb) {
                needle.get('https://www.google.com', function(err, response, body) {
                    console.log('needle return');

[2015-11-11 06:47] tomas commented on #148
Hmm, interesting. Have you tried passing different values for async.auto's `concurrency` param?

[2015-11-11 06:51] tomas commented on #147
I'd love to, as long as we keep things lean and mean. The problem is that When.js by itself seems bigger than Needle itself. Do you think you'd be able to do crack it with a lighter (or no) dependency? :)

[2015-11-11 07:15] mcchin commented on #148
I have tried 0, 1, 9, it doesn't feel much difference as majority of the respond time is around 800ms -900ms

[2015-11-11 07:15] mcchin commented on #148
I have tried on async@1.5.0 (with concurrency param - no value, 0,1,9), async@0.9.0 (without concurrency param). The results are similar

[2015-11-11 07:18] tomas commented on #148
What happens if you increase the number of maxSockets? Say:

[code]

[2015-11-11 07:32] mcchin commented on #148
I am using v0.10.37
Results are similar when I have applied maxSockets = 1000.

I have tested on another machine which is running v0.12.2, results are similar as well

[2015-11-11 07:34] tomas commented on #148
Hmm, the plot thickens.

What does async.auto do differently than async.series? Do you think some kind of deadlock may be ocurring?

[2015-11-11 07:43] mcchin commented on #148
Basically I have no idea, the current work around is that I replace needle with request or other http get package. But I have a lot of places using needle, so I am hoping there is a more simpler solution then updating my entire code base to use different package.

[2015-11-11 07:55] tomas commented on #148
Of course. Does async.parallel behave like .auto or like .series, in this case?

[2015-11-11 08:00] mcchin commented on #148
Hmm...you might be onto something.

async.series - ok (10 - 30ms)
async.parallel - slow (800ms - 900ms)
async.auto - slow (800ms - 900ms)

[2015-11-11 09:13] tomas commented on #148
OK, I'm going to try a few things with async and see where I get.

What happens if you put the callback in step two inside the actual needle callback? (as I assume you'd expect the endpoint to behave).

[2015-11-11 09:26] mcchin commented on #148
I have tried putting async callback inside needle callback, and outside of needle. Both yield similar results.

Thanks for your support!

[2015-11-11 09:34] tomas commented on #148
I think I found something, but I'm not sure it's related. Try passing `{ connection: 'keep-alive' }` to the needle.get options.

[2015-11-11 10:24] mcchin commented on #148
Wow, this definitely affect the performance, that does the trick!

[2015-11-11 10:26] #148 closed

[2015-11-12 09:26] #107 closed

[2015-11-19 05:47] efkan opened #150 "Is it possible using Needle?"
I have to modify the incoming request  and forwarding to another URL. After this point, client has to see the new URL in his address bar and HTML content of the new URL.

For instance adding an updating date to the request body like the following;

![routing diagram](https://cloud.githubusercontent.com/assets/6974198/11264562/395e6360-8e9d-11e5-882c-6ecf369a265d.png)

Would it be possible?

ps: Th

[2015-11-22 10:41] chrisjhoughton commented on #147
Hmmm, I see your point. Is your main concern _size_ or _efficiency_? For example:

* [D.js](https://github.com/malko/D.js) is one of the smallest out there - with 14KB core library, unminified
* [Bluebird](https://github.com/petkaantonov/bluebird) claims it offers "unmatched performance"

Neither of the above have any dependencies.

When.js also has very solid performance, but offers a bit more in

[2015-11-25 12:46] meehow commented on #147
Using not-native promise implementation should be optional. In many projects they use something like [native-or-bluebird](https://github.com/normalize/native-or-bluebird).

[2015-11-27 18:00] pierreliefauche opened #151 "Cookie parsing exceptions"
While parsing `set-cookie-string`, [`var res = COOKIE_PAIR.exec(str);`](https://github.com/tomas/needle/blob/master/lib/cookies.js#L45) [can return an array or `null`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/RegExp/exec).
In case it returns `null`, an exception is thrown by [`res[KEY_INDEX]`](https://github.com/tomas/needle/blob/master/lib/cookies.js#L48).

[2015-11-27 19:39] tomas commented on #151
Good point. Can you share an example that provokes this exception?

I do think it's a good idea to allow disabling cookie parsing (being false the default option). It might be a performance win on some situations.

[2015-11-27 20:12] tomas commented on #147
From those two options, D.js looks like a much better candidate because it aims at being minimal just as needle does (the [minified script](https://github.com/malko/D.js/blob/master/lib/D.min.js) is 3.77KB by the way). There's also [Q](https://github.com/kriskowal/q) which in fact is currently used in some of needle's tests.

To be honest I'm not really sure where to go with this. The callback bas

[2015-11-30 11:10] pierreliefauche commented on #151
Yes, here are a few examples I ran into (inputs to `parseSetCookieString` function):

- empty string
- `HttpOnly;Secure`
- `language_Ryan USA=1; path=/`

[2015-12-01 18:21] clayzermk1 commented on #147
Why do you need to include a promise library as a dependency? Libraries like Bluebird turn regular node-style callbacks into promises with ease. I have no issue using needle with Bluebird 2.x at the moment.

Alternatively, you could do something like the the [node-mongodb driver](https://github.com/mongodb/node-mongodb-native/blob/c06f14931e3e90806f81355ea7148648136c50c2/lib/aggregation_cursor.js#

[2015-12-03 17:42] jaredsmith opened #152 "Create LICENSE file"
Would you please create a LICENSE (or LICENSE.md) file with your copyright information and the text of the MIT license?  The MIT license requires that the text of the license accompany the source code.  It also makes life easier for Linux distributions that want to package up the software.

[2015-12-03 18:40] tomas commented on #152
Sure, will do. Thanks for the heads up.

[2015-12-03 18:41] tomas commented on #152
Done: https://github.com/tomas/needle/blob/master/license.txt

[2015-12-03 18:41] #152 closed

[2015-12-06 18:35] chrisjhoughton commented on #147
@tomas why does it matter what size the minified script is? It's running on the server side - minifying has nothing to do with it? (Also FYI - When.js minified is ~5KB)

@meehow that solution looks promising.

@clayzermk1 - because less code to write :)

[2015-12-15 14:40] alexwhitman opened #153 "Custom xml2js options"
It would be useful to be able to pass custom options to the xml2js parser.  The current options are
[code]
but the parser supports [many more](https://www.npmjs.com/package/xml2js#options).

[2015-12-15 15:37] tomas commented on #153
Good point. Something like `xml_parser_options: { foo: 'bar' }` could do.

Is there a specific one you think we should add to the defaults?

[2015-12-15 15:43] alexwhitman commented on #153
The defaults work well but for this particular project I'm also using `emptyTag: null` and `mergeAttrs: true`.

[2015-12-15 15:45] tomas commented on #153
Gotcha. Care to submit a PR? :)

[2015-12-15 16:21] alexwhitman commented on #153
I can do.  How would you like the options passed from `needle.js` through to `parsers.js`?

[2015-12-15 17:27] tomas commented on #153
Hmm. It actually requires some intervention. Let me give a try and I'll get back to you.

[2015-12-19 01:57] lededje opened #154 "Version number being read from package.json"
https://github.com/tomas/needle/blob/master/lib/needle.js#L24

This breaks when trying to zip up code for distribution, for example aws lambda.

Any way around this?

[2015-12-21 14:28] tomas commented on #154
What specific error are you getting?
On Dec 18, 2015 10:57 PM, "lededje" <notifications@github.com> wrote:

[2015-12-23 16:55] monolithed commented on #68
[code]

Please pay attention to this point in the documentation!

[2015-12-23 17:02] tomas commented on #68
@monolithed Is that so? What URL are you testing with?

[2015-12-23 17:14] tomas commented on #153
Ok, after some tinkering I think the cleanest approach is to simply load a new xml2js.Parser using the defaults, which thankfully are exposed by the module so you can change any option as long as you do it before loading needle:

[code]

Defaulting to xml2js's defaults also makes more sense because that's what most people would probably use or expect.

What do you think?

[2015-12-23 17:16] tomas commented on #154
By the way, we used to use JSON.parse(fs.readFileSync()) but that was [recently changed](https://github.com/tomas/needle/commit/f7a72f18ad554b2416471134834aaed950f32ee4) precisely to allow bunding with browserify.

[2015-12-23 17:17] tomas commented on #151
Hey @pierreliefauche -- sorry for the delay. Are you up for a PR?

[2015-12-23 17:18] tomas commented on #145
Ok, closing. I think the recent changes to needle.js should take care of this.

[2015-12-23 17:18] #145 closed

[2015-12-23 17:33] lededje commented on #154
You are totally right; I was running an older version. Thanks for your help! Closing...

[2015-12-23 17:33] #154 closed

[2015-12-23 17:46] tomas commented on #154
:)

[2015-12-23 18:11] monolithed commented on #68
@tomas, public url like https://e.mail.ru

[2015-12-23 18:21] tomas commented on #68
@monolithed Can you share a full code example? I don't know where the `response` object you show comes from.

[2015-12-23 21:35] monolithed commented on #68
@tomas,

[code]

Could not close connection without `parse: false`. It seems very strange...

[2015-12-23 23:16] tomas commented on #126
[This commit](https://github.com/tomas/needle/commit/fb57c6da116fc77c69dcda14af7d8cbfd50a9898) fixes this issue (and there's a test that verifies it), so closing this one!

[2015-12-23 23:16] #126 closed

[2015-12-23 23:18] tomas commented on #68
Ok, gonna test it now. Which needle version are you running?

[2015-12-23 23:23] tomas commented on #68
I just tested and running the latest Needle (from git, not npm) I do get the 'end' event emitted. This might have to do with a few [recent changes](https://github.com/tomas/needle/commit/06d8c71de16f85ac210c5a001f85b21d598ab2ca) related to the Connection header.

I haven't pushed a new version to NPM because I need to update the documentation first. However you can safely run the latest version of

[2015-12-24 00:24] monolithed commented on #68
0.11.0, thanks

[2016-01-12 05:34] kkju opened #155 "Chinese character encoding"
When I use needle to post a Chinese character, and get incorrect codes on server.

[2016-01-12 13:02] tomas commented on #155
What options are you using to send the data? Example code might help.

[2016-01-15 05:35] kkju commented on #155
Thanks for your answer,I have solved the problem by encode the data before send.

[2016-01-15 05:37] kkju commented on #155
And my question like this problem : https://github.com/tomas/needle/issues/97

[2016-01-15 11:02] mrft commented on #130
I think my issue is reletaed to this one:

I had some code that used to work and stopped working recently.

I was trying to save a list of documents in bulk to couchdb. You do this by POSTing a document to <yourdburl>/_bulk_docs?include_docs=true

So I used to do something like this:
<code>
bulk = { "all-or-nothing": true, "docs": myArrayOfDocuments }
bulkString = JSON.stringify( bulk )
needle.pos

[2016-02-02 11:49] HazeDevelopment commented on #151
This still ongoing? I have the problem too..
(empty string)

[2016-02-02 21:11] #151 closed

[2016-02-02 21:12] tomas commented on #151
Ok, just fixed this error and pushed a new version to npm. Can you try it and see if it works?

[2016-02-04 03:43] corbinu opened #157 "Version 1.0.0 Changes"
1.0.0 was recently released on NPM but the changes do not appear to be here.

Just wondering if there were any breaking changes?

Thanks

[2016-02-04 04:04] tomas commented on #157
Nothing breaking, but two things to watch out: the [removal of Connection: close](https://github.com/tomas/needle/commit/06d8c71de16f85ac210c5a001f85b21d598ab2ca) if running node > 0.11.4, which should make multiple requests to a server run much faster, and secondly, a few changes to the way post bodies [can be set](https://github.com/tomas/needle/commit/98b2fec4dd960473c98da0e2cf50c0f2c9ac5c16) t

[2016-02-05 17:50] cloudever opened #158 "What about custom agent that support tunelling throught proxy?"
This is awesome and lightweight lib for http, I begun use it after request.js
Is it possible to add feature for tunelling throught proxy via CONNECT request?
Or how use it if exists. I didn't find something in the code.

Thanks.

[2016-02-24 02:19] kotofond opened #159 "Aborting the needle request"
Normally, in order to abort the request I use the following technique:
[code]
However I've noticed when Needle starts following redirects I'm no longer able to abort the request using `stream.request.abort()` and it keeps redirecting till the end. So I was wondering if there's a better way of aborting requests?

[2016-02-24 03:12] tomas commented on #159
Hmm, looks like a bug. Can you share the code you're using so I can reproduce the behaviour?

Thanks for reporting, by the way.

[2016-02-24 04:54] kotofond commented on #159
Many thanks for the prompt response.
I've just been trying to compose a code sample to reproduce the issue and discovered that Needle actually works perfectly fine and the issue is entirely my fault.
In case if anyone encounters the same problem:
As opposed to what I've stated in my first comment my actual code looked like this:

[code]
So saving request in a different variable caused the issue be

[2016-02-24 04:54] #159 closed

[2016-02-26 07:27] contra opened #160 "conflicts with the debug module"
When you're using this with debug, it always logs and you can't turn it off.

[2016-02-26 18:59] tomas commented on #160
I think there's else going on there. How are you running your script?

[2016-02-26 19:01] tomas commented on #159
Haha, no problem.

Anyway, I do think Needle should offer a way to abort the request directly (like stream.abort()) without having to go though stream.request.

[2016-02-26 19:36] contra commented on #160
@tomas The problem is that the debug module uses the DEBUG env var to control it.

For example, `DEBUG=app:* node app.js` will trigger logging from this module because it only checks if DEBUG exists.

I think an easy resolution for this is to use a different env var (NEEDLE_DEBUG?) or maybe use the debug module, which is really cool.

[2016-02-26 19:50] tomas commented on #160
Ah, I see. You're not using the latest version, it's that simple. Needle does use the debug module now.

`npm install needle@1.0.0`

[2016-02-27 02:10] kotofond commented on #159
Yes, that would be handy :+1:

[2016-02-27 07:41] contra commented on #160
nice - this is a dependency of a dependency so ill get them to update

thanks!

[2016-02-27 07:41] #160 closed

[2016-03-04 10:08] martonw opened #161 "EventEmitter memory leak when sockets are heavily reused"
Hi -

the issue looks like when I am using HTTP keep-alive (which is the default anyway) and there if a heavy outgoing HTTP traffic, the (HTTP) socket objects are being reassigned to new HTTP requests. However, at some point there is an event listener which is attached to the socket object for every request, and eventually node starts displaying the following error messages:

(node) warning: possi

[2016-03-04 12:58] martonw commented on #161
I submitted a merge request in the meantime to fix this. A bit of a background on the issue:

when needle creates a http(s) request, it also creates a listener on the underlying socket object to detect if the socket has been closed:
[code]
and it suppose to remove the listener once the request is complete like this:
[code]

Now the problem is that the removeListener will not work as expected, and

[2016-03-10 20:51] tomas commented on #67
This is great news. I'll try it out in a sec.

[2016-03-11 00:51] tomas commented on #67
Ok so after chaging the method to uppercase letters in `lib/auth.js`, the above example against httpbin still didn't work. I revised the header parsing and some other things and eventually got it to work against the test endpoint at test.webdav.org.

[code]

This is currently on the [digest-auth-fixes](https://github.com/tomas/needle/tree/digest-auth-fixes) branch. @montanajob can you try and see

[2016-03-11 01:40] tomas commented on #67
And I finally figured out the reason why the test against httpbin wasn't working. Turns out they expect [cookies to be returned](https://github.com/Runscope/httpbin/issues/124) (which isn't actually part of the spec).

[2016-03-11 16:22] montanajob commented on #67
Yes, the digest-auth-fixes branch still works for me.  Thanks for the fix.

[2016-03-18 05:21] ranjansumit opened #163 "Needle version 1.0.0 is not working for chunked S3 download"
I tried chunked download with needle 0.7.11, it was working fine. Then i upgraded to needle 1.0.0 and its failing. File size is 10.2 MB and I am trying to download it in chunks using s3. while doing so somewhere its failing. I was not able to find the reason for failure. But its because of needle 1.0.0. My observation is there is some problem in the redirect.

[2016-03-18 18:39] tomas commented on #163
@ranjansumit What specific error are you getting? Can you share the snippet the code you're using to get the file?

[2016-03-21 11:09] martonw commented on #161
Hi @tomas - did you have a chance to review the latest post + proposed CR?

Thanks.

[2016-03-21 19:19] tomas commented on #161
Not really. I hope I can take a look later today.

[2016-03-30 07:17] tomas commented on #161
Closed thanks to your PR #162.

Thanks again and sorry for the long delay. :)

[2016-03-30 07:17] #161 closed

[2016-03-30 07:18] #157 closed

[2016-03-30 07:19] #67 closed

[2016-04-06 17:53] Nokel81 opened #165 "Option {json:true} not working"
I am using needle for my inter-service http calls and I always use the option `{json:true}` but the out come seems to be not working.
[code]

I send something like the first and get something like the second.

[2016-04-07 14:42] UrielMys opened #166 "Make request with opts"
Hello, i would like for needle to be able to make the request with just an  options object and the callback. Right now I'm using the following code:

[code]

The idea i have is to be able to make it on needle in the same way the http library does

Thank you!

[2016-04-07 15:12] knksmith57 opened #167 "request headers are not being normalized and overrides not respected"
Currently, when a [request is setup](https://github.com/tomas/needle/blob/master/lib/needle.js#L252) and the [default](https://github.com/tomas/needle/blob/master/lib/needle.js#L187) [headers](https://github.com/tomas/needle/blob/master/lib/needle.js#L195) are [merged into the request-specific ones](https://github.com/tomas/needle/blob/master/lib/needle.js#L202), no normalization is being performe

[2016-04-07 18:36] tomas commented on #165
So the problem is that "age" should be an integer but you're getting a string?

[2016-04-07 18:38] tomas commented on #166
You can call [needle.request](https://github.com/tomas/needle#needlerequestmethod-url-data-options-callback) and pass the verb you with to send, in addition to the options and/or callback function. The options are different, obviously.

Is that what you need?

[2016-04-07 18:41] Nokel81 commented on #165
That I am getting a string. But it was actually a placement bug (bodyparser, the one that we were using) was not parsing the "form" header and the data we were sending was for some reason under "form" and not "body". I know don't think that is is a problem with needle. The reason I did was that our http requests where going being sent by needle and on one side it was an integer and as soon as I co

[2016-04-07 18:41] tomas commented on #167
Good point. I'll take a look at this now.

[2016-04-07 18:43] tomas commented on #165
Ok I'm closing this issue then. If you find anything else feel free to open another issue.

[2016-04-07 18:43] #165 closed

[2016-04-07 20:31] UrielMys commented on #166
No, needle.request requires that i send not only the method but also the url where im going to make the request to.
The idea is to be able to send the port, headers, etc and let the needle library do the request

[2016-04-08 17:41] knksmith57 opened #168 "test cases are failing on master"
Heya, looks like tests are failing on master:

[code]

[code]

[2016-04-08 17:42] knksmith57 commented on #167
@tomas hey sir, not sure if you had a chance to take a look at this yesterday. Did you want me to work a PR right quick? Happy to help!

[2016-04-08 18:07] knksmith57 opened #169 "Disabling parse_response with defaults doesn't work"
Per [the example on the README.md](https://github.com/tomas/needle/blob/master/README.md#overriding-defaults), setting `parse_response` to false using `.defaults()` doesn't actually work:

[code]

Here's a diff of the test case I created to test:
[code]

And the results (trimmed to exclude errors already reported in #168):
[code]

[2016-04-10 20:52] inDream opened #170 "Charset detection not default as utf-8"
In https://github.com/tomas/needle/blob/master/lib/needle.js#L109,
`var charset = 'iso-8859-1', arr = header.split(';');`
Is there any reason to default charset as Latin-1 not utf-8?

As some server may not return charset at header,
wrong charset is detected when handling not ASCII character,
and change it to `utf-8` solved the problem.

I can create a pull request if you don't mine.

[2016-04-12 18:13] UrielMys commented on #166
What i mean is being able to make the request using the same options object, since the port might not be sent and making the url dynamically would mean doubling up the work (once by my app and once by the library)

[2016-04-18 12:27] afm-sayem opened #171 "Header content contains invalid character"
I'm using `node-osmosis`(which uses needle) to scrape some data from a few local Bengali websites. While scraping through one of the sites, the scraper crashes with:
[code]

The url that I'm requesting is https://www.dailyjanakantha.com/details/article/185869/বাফুফে-নির্বাচনে-গরম-হাওয়া which redirects to https://www.dailyjanakantha.com/details/article/185869/à¦¬à¦¾à¦«à§à¦«à§-à¦¨à¦¿à¦°à§à¦¬à¦¾à¦

[2016-04-18 15:18] afm-sayem commented on #171
FYI, the way I'm working with it right now is by encoding the url in `send_request`.
[code]

[2016-04-18 15:51] tomas commented on #171
Interesting. So that trick fixes the problem?

[2016-04-18 17:36] afm-sayem commented on #171
Yes. So far I haven't had any issues.

[2016-04-18 18:50] tomas commented on #171
Would you care submitting a PR with your fix and a simple test case?

[2016-04-19 20:25] afm-sayem commented on #171
Sure

[2016-05-04 05:12] VitoWen opened #173 "About file stream POST issue"
I tired to use needle v1.0.0 to POST file to my server:

[code]

But i check the file size is zero byte on my server.
So, i downgrade needle to v0.10.0 and used the same code to POST file to my server again.
I found my server can receive a complete file.
What is difference between v1.0.0 and v0.10.0 for file stream POST?
Or should i add other opts with v1.0.0?

[2016-05-06 10:10] skyerh commented on #173
I have a same issue of this

[2016-05-06 16:16] tomas commented on #173
Hey guys, I'll take a look at this later today!

[2016-05-10 10:54] VitoWen commented on #173
I found if i add the opts as below i can receive the complete file in my server:
[code]
Needle v1.0.0 always set the Content-type to 'application/json; charset=utf-8' or 'application/x-www-form-urlencoded'.
[code]
In my original case, i didn't set the json of opts. Needle v1.0.0 will set the Content-type to 'application/x-www-form-urlencoded' by default.
But i don't understand why the content-type

[2016-05-11 18:30] tomas commented on #173
@VitoWen What kind of file are you trying to transfer? I just did a small test and it worked as expected.

[2016-05-11 18:32] tomas commented on #173
It'd also help to see what code you're using on the server to process the request.

[2016-05-12 01:07] rchipka opened #174 "Store redirect cookies in res.cookies object"
When `follow_set_cookies` and `parse_cookies` is true, shouldn't all of the redirect cookies also appear in the final `res.cookies` object?

Right now, only cookies set on the final request are parsed and stored in `res.cookies`.

[2016-05-12 02:51] VitoWen commented on #173
I send a general doc file(about 75 KB) to my server.
Below is my server information:
Node version: v0.12.2
[code]
Or do you have other better method to receive the file?

[2016-05-27 22:10] tomas commented on #169
Oh rats, I'll take a look at this right away.

[2016-05-27 22:11] tomas commented on #167
Yes! A PR would certainly help. I'm out of town at the moment so much slower than usual. :)

[2016-05-27 22:12] tomas commented on #168
I'm aware of the errors regarding the encoding tests, but the other ones I hadn't seen before. Which version of Node.js are you running?

[2016-05-30 01:38] bisubus opened #176 "HTTPS requests fail with proxy"
I'm testing `needle` https request through local Node proxy with this:

[code]

With [pure `http` proxy implementation](https://gist.github.com/bisubus/d1e68da4a72b894c24d38ddb732dca62#file-pure-http-example-js) it gets

With [`http-proxy` proxy implementation](https://gist.github.com/bisubus/d1e68da4a72b894c24d38ddb732dca62#file-http-proxy-example-js) (self-signed certs) it gets

With [`proxy` im

[2016-06-06 10:45] cloudever opened #177 "Error when using tunnel agent with proxy, and credentials are not valid"
I wrote this code for tunnel agent
`
this.tunnelingAgent = tunnel.httpsOverHttp({
        proxy: {
            host: parseProxy.hostname,
            port: parseProxy.port,
            proxyAuth: parseProxy.auth //incorrect
        },
        headers: {
            'Connection': 'Keep-Alive'
        },
        rejectUnauthorized: false
    });
`

and this for needle
`
var options = {
...
agent: th

[2016-06-06 20:46] tomas commented on #177
Oh, good point. This means that request.socket does not exist, right? Seems like an easy fix.

[2016-06-06 21:02] tomas commented on #177
How could we check whether the proxy connection failed?

Can you share a snippet of code so I can reproduce the error?

[2016-06-06 23:50] rchipka commented on #174
Would a PR implementing a fix for this be accepted?

[2016-06-07 00:00] tomas commented on #174
Yeah, sure. Can you describe a scenario here before implementing it, though, so we can analyze and make sure it makes sense?

[2016-06-07 00:02] tomas commented on #174
Hold on, this is already waiting to be merged here: https://github.com/tomas/needle/pull/129

I'll take a look at it now and get it merged.

[2016-06-07 00:44] tomas commented on #167
This just landed in d227ef4. I ended up changing all header logic to lowercase!

Thanks again mate.

[2016-06-07 00:44] #167 closed

[2016-06-07 00:49] tomas commented on #176
Is this a problem with needle or with the proxy implementations you mentioned, then?

[2016-06-07 00:52] #171 closed

[2016-06-07 01:52] #169 closed

[2016-06-07 01:54] tomas commented on #168
This should be fixed now.

[2016-06-07 01:54] #168 closed

[2016-06-07 01:57] tomas commented on #170
As far as I'm aware the default charset according to the W3C is still 8859-1. I'm aware the HTML5 standard changed it to UTF-8 but last time I checked it still wasn't present in the official spec.

[2016-06-07 02:58] #174 closed

[2016-06-07 03:02] tomas commented on #166
How would you call this function, then? Something like this?

[code]

[2016-06-07 03:04] tomas commented on #163
Ping @ranjansumit

[2016-06-07 03:05] tomas commented on #158
The issue in #177 shows an example using a tunnelling proxy. Is that what you need?

(Sorry for the delay, by the way)

[2016-06-07 03:22] tomas commented on #153
@alexwhitman Did the above solution work for you? I'm closing this issue for the time being, but feel free to reopen it if you feel there's a better approach for this.

[2016-06-07 03:22] #153 closed

[2016-06-07 03:22] #155 closed

[2016-06-07 05:30] #97 closed

[2016-06-07 05:34] tomas commented on #115
Closing this issue, as this was implemented long ago.

![screenshot 2016-06-06 at 10 33 15 pm](https://cloud.githubusercontent.com/assets/10574/15846960/c374a294-2c36-11e6-981b-0d9adde8e4b9.png)

[2016-06-07 05:34] #115 closed

[2016-06-07 05:36] tomas commented on #117
I'm not really sure if we can do something about this, so I'm closing this issue for the time being. @servo1 if there's a way to fix it feel free to reopen it later.

[2016-06-07 05:36] #117 closed

[2016-06-07 05:38] tomas commented on #158
This doesn't seem like an issue so I'm closing it. If there's something that's not working as expected feel free to open up a new one.

[2016-06-07 05:38] #158 closed

[2016-06-07 05:40] tomas commented on #130
Needle did have some changes in the way data is fed to the request, but nothing major that should break anything. If you want to send an object as a JSON object, just pass the original object and set `json: true` in the options.

[2016-06-07 05:40] tomas commented on #130
I'm not sure what the problem is, by the way.

[2016-06-07 05:42] tomas commented on #150
Of course this is possible. I'm not sure how this fits as an "issue" in the needle repo, though. I'm sorry but I'm closing it.

[2016-06-07 05:42] #150 closed

[2016-06-07 05:45] #170 closed

[2016-06-07 07:54] bisubus commented on #176
@tomas I believe this is a problem with Needle. I've also had problems with non-local proxies. Node proxies are mentioned for problem reproduction, the variety of errors may suggest what exactly is wrong.

The problem disappears when custom proxy-enabled HTTP Agent is used together with Needle (e.g. [`proxy-agent`](https://www.npmjs.com/package/proxy-agent)).

[2016-06-13 14:33] jbergknoff opened #178 "Raise error events?"
I noticed that Needle streams don't emit `error` events. Instead, they will emit an `end` event with an error argument [1]. This makes it easy to miss/ignore stream errors, whereas an `error` event will crash the process if not handled. Is this intentional?

[1] https://github.com/tomas/needle/blob/2ce689a4313af25bbe7eb52d659b3d6c70454aff/lib/needle.js#L384

[2016-06-15 00:54] tomas commented on #178
Yes and no. :)

What type of error would we miss or ignore? Wouldn't they still be passed on to the `end` event?

[2016-06-15 00:55] tomas commented on #177
Ping @cloudever

[2016-06-15 00:59] tomas commented on #176
I believe `request` has a very thorough implementation of proxy handling, whereas in Needle it's just a few lines of code. I'd be happy to get a fix merged as long as we're not rewriting `request`... you know, the point of Needle is to have a clean and lean HTTP client.

Are you up for submitting a PR with a fix? :)

[2016-06-15 01:15] tomas commented on #130
If you take a look at the tests in `post_data_spec.js`, you'll see that post requests with a raw string doesn't tamper with your string. It only sets the content-type header to "application/x-www-form-urlencoded", which might be the problem.

In your example above, what does bulkRequestOptions look like? That way I can try to replicate both cases and see what's different.

[2016-06-15 01:22] tomas commented on #178
By the way, if you're referring to errors triggered by decompressors, we just got that merged into master via #172.

[2016-06-15 15:18] jbergknoff commented on #178
Thank you for the response. No, I wasn't thinking of errors relating to decompressors.

I recently noticed that `ECONNRESET` ("socket hang up") errors show up in the `end` event. I had a listener on the stream's `error` event but not on `end`, and my application was hanging until I looked at the Needle source carefully.

Normally, this would be raised as an `error` event and then reach my listener

[2016-06-16 11:21] bisubus commented on #176
I don't have an opportunity to take care of this now, but look forward to this. Btw, `got` followed the path of least effort and [just delegated proxy functionality to third-party agents](https://github.com/sindresorhus/got#proxies).

[2016-06-18 20:22] bisubus commented on #147
I would highly recommend tiny `pify`, I believe it is the most popular promisifier (apart from Bluebird), it is also implementation-agnostic.

Promisification introduces breaking changes and disables streaming. I guess this should be a wrapper package. It is normal to have `*-as-promised` counterparts for popular callback-driven packages.

[2016-06-20 19:28] tomas commented on #147
@bisubus yeah, I think that's the way to go. I don't have much time now but I'll take a look when I have a minute. if you want to give it a shot too, you're more than welcome. :)

[2016-06-20 20:10] bisubus commented on #147
@tomas The thing that could be done on library level is exposing `setPromise` method (quite conventional for providing custom promise inplementation) on `needle` and `toPromise` method (quite conventional too) on stream object.

Here's a wrapper I'm using locally.

[code]

 Feel free to post this as a repo, it is maintenance-free solution but it requires some love from package owner on major versi

[2016-06-22 11:52] frankred opened #179 "Raise condition: ECONNRESET"
Currently running into a very strange behaviour. We have a integration test based on ```mocha``` and ```needle``` that only occurs sometimes. We just call a nodejs API url  (written with ```express```) with ```needle``` and analyse the response body. Sometimes we got the following error:

[code]

It seems that this error occurs more often on slower machines. On local (very fast) machine 1/10, on s

[2016-06-22 16:49] tomas commented on #179
Hi,

Are you running 1.0.0? Does this also occur if using 0.11?

[2016-06-23 07:50] frankred commented on #179
Tried it with both versions and the same behaviour. Do you know what could be a problem? Maybe the symbiosis with async.

[2016-06-23 11:10] sigod commented on #140
@tomas
Did you forget to add `out.on('end', ...` or it isn't needed?

[2016-06-27 11:39] cloudever commented on #177
Hi. Sorry, I can't just share it, currently I'm using local fork of your needle lib

[2016-07-28 14:00] MarkHerhold commented on #147
@bisubus @tomas
Could we just put the above script in an examples folder in this repository? That seems like the simplest and easiest solution for everyone. Anyone who wants to use it can just copy it to their own repo and it can be maintained along with the main needle repo.

[2016-07-28 23:23] clayzermk1 opened #180 "dependencies are not installed"
### Environment
node 0.10.46
npm 3.10.5
needle 1.0.0

### What happened?
`Error: Cannot find module 'xml2js' from '<project path>/node_modules/<nested dependency>/node_modules/needle/lib'`
needle is a dependency of a nested module but its dependencies were not installed during an `npm install` in my project path. I had to execute an `npm install` inside the needle directory of the dependency tree

[2016-07-29 02:08] tomas commented on #180
That's weird. If you don't have the `xml2js` dependency it shouldn't explode -- Needle should simply disable the XML parser. [Here's](https://github.com/tomas/needle/blob/master/lib/parsers.js#L52-L54) the relevant piece of code.

Do you know if npm 3.10 changed in any way the logic upon which modules are required/loaded?

[2016-07-29 16:15] clayzermk1 commented on #180
I know, right? I figured I'd try here first in case anyone had seen this problem already.

I just took a look at the 3.10.x release notes, there's a lot going on in there. It's entirely likely to me that one of the refactors in 3.10 has caused this.

I'll experiment with different npm versions to try and narrow it down.

[2016-07-29 16:45] clayzermk1 commented on #180
This is my bad. Needle is glorious and wonderful.

I had added a node module to my browserify bundle, the package `resolve` was trying to require xml2js which wasn't installed and exploded.

Nothing to see here. Thank you for your time @tomas!

[2016-07-29 16:45] #180 closed

[2016-08-01 09:06] tbouchnafa opened #181 "Open files after downloading image"
Hi,

we are facing a problem using `needle`. We use needle to download several images within a web application. After downloading the images the file connections to local target path remain open.

Running a webservice who downloads files for a couple of time will produce an error `too many open files` which has side effects to the health of the service.

Dependencies:
[code]

You can reproduce thi

[2016-08-01 11:20] frankred commented on #181
Could reproduce this behavior on windows10. For ```lsof``` I used ```handle -p node.exe``` which can be downloaded here: https://technet.microsoft.com/en-us/sysinternals/bb896655.aspx

[code]

[2016-08-01 11:44] frankred commented on #181
Shouldn't the fileWriteStream be closed within Line ?https://github.com/tomas/needle/blob/master/lib/needle.js#L563 with
[code]

[2016-08-01 13:58] #179 closed

[2016-08-01 18:04] tomas commented on #181
Thanks @tbouchnafa for the report and @frankred for the debugging! Does the fix solve the issue?

[2016-08-01 18:57] frankred commented on #181
For me yes, but the needle implementation is too complex for me to understand completely. If this new line does not produce any side effects to other use cases then this is a solution. What do you mean @tomas. Best regards!

[2016-08-01 19:07] tomas commented on #181
Great. I'll do some tests and get it merged soon.

[2016-08-01 22:23] tomas commented on #181
Hm, according to the [official docs](https://nodejs.org/api/stream.html#stream_event_close_1):

Which means that unless there's some error on the stream object, it shouldn't be necessary to call `file.end()` by hand. I'm guessing the error occurs because you're creating a WritableStream on top of an existing file description (same file name). @tbouchnafa can you try using a random filename as the

[2016-08-02 07:35] frankred commented on #181
Not sure what your intention is but I get the following. Same problem. The example do not create a file descriptor.

[code]

[code]

Maybe the problem is this special PassThrough mode:
[code]

[2016-08-02 07:40] frankred commented on #181
Minified example:
[code]

[2016-08-02 13:38] tbouchnafa commented on #181
The same here on Linux, still doesn't work.

the connection to the file remains open after the download, adding the suggestion of @frankred fixed it, but I am also not sure if this has any side effects in [Line#563](https://github.com/tomas/needle/blob/master/lib/needle.js#L563)

[code]

[2016-08-08 18:12] knksmith57 opened #182 "Publish new version to npm"
Heya, it's been a few months since the last release and a few important commits have landed since then.

When you have a chance, can we please get a new version and release to npm? Should only take a few minutes.

Thanks!

[2016-08-08 19:23] tomas commented on #182
Will do! Thanks for the heads up. :)

[2016-08-08 20:29] tomas commented on #181
Just closed and pushed new version to npm. Thanks guys!

[2016-08-08 20:37] tomas commented on #182
Done! Documenting the release as we speak.

[2016-08-08 20:37] #182 closed

[2016-08-08 20:37] #181 closed

[2016-08-08 20:42] knksmith57 commented on #182
Thanks for the quick turn around on this one!

[2016-08-09 15:45] chrisjhoughton opened #183 "GET requests to signed URLs have started failing"
Hi guys, not quite sure where to file this but thought I'd flag it. I've been using needle 0.11.0 for a while now, specifically here to do GET requests to Amazon S3 signed URLs - to get file contents.

On uploading to 1.0.0, I've been getting 403 errors from S3, with the body:

[code]

I'm not entirely sure what's changed to cause this (compression?), whether it's a bug or a breaking change. Any i

[2016-08-09 17:31] tomas commented on #183
Hey @chrisjhoughton, I'm not sure but you can try running your script with debugging turned on, and see if you can stop any differences in the request headers.

    debug=needle node script.js

[2016-08-11 15:51] chrisjhoughton commented on #183
Hey @tomas, just tried doing that.

With `1.1.0`:

[code]

And then with `0.11.0`:

[code]

What do you reckon? PS, the needle code I'm running is:

[code]

[2016-08-11 17:47] tomas commented on #183
The only difference I can see is the missing 'connection: close' header in the one above, but that shouldn't affect the authentication logic in any way.

Since you're passing token through the URL my only guess is that the [encodeURL change](https://github.com/tomas/needle/commit/f62e0958b8d24f6231f7611e043a08a0deddd7e7) is  fiddling in some ways with your keys. But that change was introduced on `

[2016-08-13 21:01] stephanebachelier opened #184 "Enforcing URI encode seems to break"
Since the move to [encode URI](https://github.com/tomas/needle/commit/f62e0958b8d24f6231f7611e043a08a0deddd7e7) some issues start to appears.

Rather than always encoding URI it should either be opt-in using an option or done by the one using needle.

Maybe something like :

[code]

See
* #183
* https://github.com/alexanderGugel/ied/issues/164 fixed in https://github.com/alexanderGugel/ied/pull/16

[2016-08-19 02:39] thecristen commented on #180
Is there a recommended resolution to this? I am running into precisely the same problem (albeit in a webpack context)

[2016-09-02 10:40] mindnuts commented on #179
@frankred Can you please update if your issue was fixed? You did not mention anything here before closing this issue. I am getting the same error so was curios.

[2016-09-02 13:29] frankred commented on #179
Sorry did not found any solution for this problem.
Have you tried the `request` lib if this error still occurs?

[2016-09-02 15:47] kfitzgerald commented on #184
Agreed. #171 should be totally rolled back immediately, as it breaks properly encoded urls by double encoding them.

If the developer is trying to fetch a broken URL, that's their problem, not needle's.

[2016-09-02 15:48] kfitzgerald commented on #183
Yep, #171 broke needle, causing doubly-encoded URLs. Should be reverted and left to the developer to deal with broken URL's.

[2016-09-12 07:53] yangguoyk2015 opened #188 "Socket error: { "message": "socket hang up" "code": "ECONNRESET"}"
I am facing issue { "message": "socket hang up" "code": "ECONNRESET"},  when using Needle (v1.0.0) as client request to call a https server. After several days researching, it located at the needle.js file,
line 600 ~ 622, where it setup the open_timeout at line 600, and end the request at line 618.  Normally, if the remote server can connect in short time, the open_timeout timer will be clear at

[2016-09-12 18:02] tomas commented on #188
Hi @yangguoyk2015,

Does it also happen on older versions? Say, 0.8 or 0.9?

[2016-09-13 03:15] yangguoyk2015 commented on #188
@tomas , i repeated same error even by v0.8.0, v0.9.0. As i can see they are using the same way to abort request. And going deeper, i found the issue is thrown out from had_error function in needle.js.
`  function had_error(err) {
    debug('Request error', err);
    done(err || new Error('Unknown error when making request.'));
  }`

[2016-09-18 00:52] GitTristan commented on #188
I am facing the same issue (v1.1.2).

[code]

[2016-09-18 01:03] tomas commented on #188
Ok I will take a look at this when I have a minute! Thanks for reporting.

[2016-09-20 00:36] yangguoyk2015 commented on #188
@tomas, just for your reference,

- 1. seems the socket hangup error is released since node v0.8.20 (my node version is v4.4.7) https://github.com/ether/etherpad-lite/issues/1541
- 2. this is the exactly same scenario of our issue. http.IncomingMessage omits events when aborted on client side (https://github.com/nodejs/node/issues/7732), http://www.clock.co.uk/blog/preventing-http-raise-hangup-err

[2016-09-20 13:04] chrisjhoughton commented on #183
@tomas this is now fixed isn't it?

[2016-09-20 15:08] #183 closed

[2016-09-20 15:08] tomas commented on #183
Yes sir!

On Tue, Sep 20, 2016 at 6:04 AM, Chris Houghton <notifications@github.com>
wrote:

--
Fork Ltd.
forkhq.com

[2016-09-29 17:22] maccman commented on #188
We are seeing the same issue too.

[2016-09-29 21:28] tomas commented on #188
Ok, looking at this right now.

[2016-09-29 21:55] tomas commented on #188
@yangguoyk2015 The issue you linked to refers to something different, which is Node's `http.IncomingMessage` (server side) not triggering events when the client aborts a request. In your case Needle is aborting the request because you're specifiying a open_timeout which triggers -- that's what causes the ECONNRESET error to be thrown. What are you expecting to happen instead?

@GitTristan Can you

[2016-10-08 12:17] jimmywarting opened #190 "Would you be interested in W3C Headers?"
Maybe include W3C [Headers](https://www.npmjs.com/package/fetch-headers) into this api? Or at least support it if someone were to do include it

This could be used for both request and response headers and it has a good way of looping over all of them with both es5 syntax forEach and for...of among other things

[2016-10-24 23:51] tomas commented on #190
Hi, and sorry for not responding earlier. Can you elaborate more on this? What would we gain by including this package into Needle?

[2016-10-24 23:52] tomas commented on #188
Ping @yangguoyk2015 and @GitTristan

[2016-10-24 23:52] #184 closed

[2016-11-15 21:01] dodtsair opened #192 "Socket hang up error on high concurrency"
Hello,

I thought this might be related to #188, but I decided to open it as a different issue just in case.

needle works fine, when I keep the request rate low.  But when the request rate kicks over a certain threshold I start getting constant stream of socket hang up errors.  I have sample code that demonstrates it.

[code]

When you run this script you'll get output like

[code]

I am currentl

[2016-11-15 21:03] tomas commented on #192
Interesting! Let me take a deeper look and I'll get back to you.

[2016-11-15 21:08] tomas commented on #192
I just tested your code on Node v4.4.7 with express 4.14.0 and needle 1.3.0 and got no errors:

[code]

I'll see what happens with a newer version of node.

[2016-11-15 21:10] tomas commented on #192
And Node v7.1.0 also gives no errors:

[code]

[2016-11-15 21:15] tomas commented on #192
Ok if I increase the `batchSize` number in your code I start seeing those "socket hang up" errors.

[2016-11-15 21:25] tomas commented on #192
Ok there's nothing wrong, really. Those socket hang up errors are simply the result of the default `open_timeout` setting that Needle has. It simply means that the client is not able to connect to the server within a 10-second window, and thus Needle is aborting those requests.

You can increase or turn off the open timeout using the `open_timeout` option when calling `needle.get`, or overwrite th

[2016-11-15 22:55] dodtsair commented on #192
@tomas I assume then request does a similar thing but with a higher open_timeout.

When I am doing my tests I am doing 2 batches of 200 spaced by 1 second.  So that means that the express server is unable to open the connection for those 200 connections in the span of 10 seconds.

I am just rewording and confirming what you are saying.

Since I am hitting the express server all at once with 200 co

[2016-11-16 02:43] tomas commented on #192
Yes. This also explains why in my case I had to increase the limit to start getting the errors -- it depends on whether the Express app is able to process the requests on time or not.

I'm closing this issue then, but feel free to open a new one if you find something else.

[2016-11-16 02:43] #192 closed

[2016-11-21 19:09] alirussell opened #193 "Output file size not correct straight after callback"
This is a hard one to reproduce and/or explain but will give it a go.

The file size of `output` files returned using `fs.statSync(file).size` is not correct directly after the callback is returned.

I have the following code which is used in my app, where afterSuccess is the callback from needle:

[code]

It gets the size of the file written to `output` and then it waits 2 seconds and gets it aga

[2016-11-21 19:16] tomas commented on #193
Good one @alirussell, thanks for reporting.

What would you expect to happen within the `end` callback you mentioned, then?

[2016-11-21 19:16] alirussell commented on #193
Ive actually just realised that we don't have the very latest version of needle and that this https://github.com/tomas/needle/commit/d31ff62549162791da2308023c46e5a5ec764d92 commit maybe a part of the solution

Will test it quickly

[2016-11-21 19:17] tomas commented on #193
Sure, no prob. Let me know how it goes.

[2016-11-21 19:26] alirussell commented on #193
Yep, it is still an issue if i add the file.end part.  It seems that the file is written to and file.end is called before the main callback as you would expect:

[code]

I suppose you would expect the main callback to only be fired when the file has been fully written to disk?

could you have some sort of semaphore/lock on the callback until the file is completely finished writing to disk, perhaps

[2016-11-21 19:36] tomas commented on #193
Ok, let me take a look and I'll get back to you.

[2016-11-21 19:41] tomas commented on #193
Ok I think I have it.

[2016-11-21 19:56] #193 closed

[2016-11-21 19:57] tomas commented on #193
Ok just pushed a fix for this. Can you try it out and see if it works?

[2016-11-21 22:26] alirussell commented on #193
ah, great. thanks!!

Will give it a test tomorrow morning!

[2016-11-22 10:48] alirussell commented on #193
All looks good, thanks @tomas 👍

``
FILE SIZE BEFORE 84445
FILE SIZE AFTER 84445
[code]

[2016-11-22 20:17] tomas commented on #178
@jbergknoff I just pushed a commit that adds both a 'timeout' and an 'err' event. I don't want to break anyone's codebase so I'm a bit afraid of triggering an (official) 'error' event. I hope this helps.

[2016-11-22 20:18] tomas commented on #193
A few minutes ago, actually. :)

`npm update needle` !

[2016-11-22 20:24] tomas commented on #188
@maccman Any additional pointers? I'd love to help figuring this one out but I'm kind of stuck.

[2016-11-22 22:27] #166 closed

[2016-11-25 03:37] starzou opened #194 "Set proxy use needle.defaults ?"
Every time to set up looks very cumbersome.
[code]

Use
[code]

[2016-11-25 19:04] tomas commented on #194
Done! Pushing a new release in 3..2..1..

[2016-11-25 19:04] #194 closed

[2016-11-25 19:08] #178 closed

[2016-11-25 19:38] #130 closed

[2016-11-25 19:39] #163 closed

[2016-11-25 19:49] tomas commented on #173
It looks like this has been fixed, or there was a bug somewhere else in your code. I just tested the following snippet and I get the expected result:

[code]

[2016-11-25 19:58] tomas commented on #176
I documented this solution (which I like) in the readme so I'm closing this one.

[2016-11-25 19:58] #176 closed

[2016-11-25 20:02] tomas commented on #177
There was a fix for the socket listeners a while ago, so I'm closing this one. Feel free to reopen it if you find anything!

[2016-11-25 20:02] #177 closed

[2016-11-25 20:02] #173 closed

[2016-12-09 18:22] mmclau14 opened #195 "browserify error"
first of all, i really like this package, so thank you for that.
i tried browserifying this package and found that xml2js was missing from the build.
looks like it's being used on line 54 in parsers.
was able to get around it for now by installing xml2js, but i would think that devDependencies are for the needle team, not for everyone else to have to use and that xml2js should really be in the dep

[2016-12-09 18:39] tomas commented on #195
Hi,

xml2js is not a devDependency, it's an optional runtime dependency, as stated in the readme. We don't enforce its use precisely to prevent users from installing stuff they might not need. I guess we could add a section in the readme regarding webpack and browserify though. :)

[2016-12-09 18:41] mmclau14 commented on #195
cool. that sounds like a good solution to me
On Fri, Dec 9, 2016 at 12:39 Tomás Pollak <notifications@github.com> wrote:

[2016-12-09 18:59] #195 closed

[2017-01-17 18:36] bchr02 opened #197 "buffer file uploads work but streams do not"
In the below examples, buffer file uploads work but streams do not. In the streams example I get a `Error: socket hang up` error.

Because of the third party API in which I am uploading to, the headers must be sent as outlined in the examples, however I do not believe this to be causing the issue. My hunch is that the read stream is not ending. Any help would greatly be appreciated. Thank you.

He

[2017-01-18 12:07] ScionOfBytes opened #198 "Does needle support dns failovers?"
Node http does not and neither does request. Does needle have a way to handle dns round-robin failover and try all ips?

[2017-01-18 12:55] tomas commented on #198
No it doesn't. We'd need to hack some low-level Node.js internals for that, wouldn't we?

[2017-01-18 12:56] tomas commented on #197
Thanks for the heads up @bchr02. I'll take a look in a minute and let you know what I find. What version of Node are you running this in?

[2017-01-18 12:56] tomas commented on #190
Ping @jimmywarting

[2017-01-18 13:00] bchr02 commented on #197
Thanks

[2017-01-18 13:42] ScionOfBytes commented on #198
@tomas Not really. They've now introduced an option in their `dns.lookup` function called `all: <boolean>`. It's `false` by default but if set to true, it'll return all ips for a hostname. So if the dns lookup is decoupled from the http request, you could fetch all ips and try them sequentially for one that works and fail the entire request if none of them works.

[2017-01-18 16:29] tomas commented on #197
I think it has to do with the receiving side. I just tested the following code and it works without a problem:

[code]

What kind of server is processing the request?

[2017-01-18 16:51] bchr02 commented on #197
Not exactly sure. It's a proprietary image server. Our ERP vendor uses it to store images from their ERP client software. The software that I am writing needs to be able to leverage off this proprietary image server and send requests the same way as the ERP client software does.

I inspected the HTTP communication that the ERP client software is sending and have successfully been able to utilize t

[2017-01-18 17:05] bchr02 commented on #197
I was able to successfully run your test script.

If in fact it is the receiving server that is causing the issue that would have to mean that needle is not sending the POST in exactly the same way, no?

[2017-01-18 17:12] bchr02 commented on #197
and if that's the case perhaps there is an issue with needle or one if's dependencies.

[2017-01-18 17:16] rchipka commented on #198
@ScionOfBytes Interesting Idea. Any idea what the API for this might be?

My opinion is usually "if it's possible to do it elsewhere, keep it out of needle", but in this case it's something that has to be integrated into the API.

Lately I've been debating whether it's worth the headache to migrate [node-osmosis](https://github.com/rchipka/node-osmosis) to something other than needle. This feature

[2017-01-18 17:23] bchr02 commented on #197
actually I believe node's http module sends file streams as chunks and not within the payload. Therefore the issue would be with the receiveing server, like you said. 😄

[2017-01-18 17:28] bchr02 commented on #197
The strange thing is that using [Unirest](https://github.com/Mashape/unirest-nodejs) I was able to get it working with Streams however for some reason Unirest would change the content-type so I opened https://github.com/Mashape/unirest-nodejs/issues/102 and then came across needle.

[2017-01-18 20:42] tomas commented on #198
My opinion is pretty much the same as @rchipka's (to keep needle nimble), but if this might help make needle more robust and less prone to dns lookup errors, I'm all for it.

I'll dive into this later or tomorrow and see if it can be implemented in a clean way.

[2017-01-18 21:00] tomas commented on #197
Since the error you're getting is a `socket hang up error` you can try running your test with `open_timeout: 0, read_timeout: 0 }` and see what happens. That error usually occurs when the open or read timeouts is triggered, which provokes needle to abort the request.

[2017-01-18 21:45] bchr02 commented on #197
nope that didn't work. But thanks for the suggestion.

I forgot to mention that while using Streams although I get the socket hang error everything else works. In other words the image server successfully copies the file to the where it needs to go and does the few other tasks that it does. The only issue is that the body of needle's callback response is supposed to provide the image key which I n

[2017-01-18 23:04] bchr02 commented on #197
I started searching around the [request](https://github.com/request/request) issues and can see many others are having similar errors. [One person ](https://github.com/request/request/issues/2499#issuecomment-272473709) in particular recommended using [bhttp](https://github.com/joepie91/node-bhttp) which he explained "uses streams2".

To my amazement I gave bhhtp a try and it worked perfectly. Her

[2017-01-18 23:42] tomas commented on #197
Sure @bchr02, always glad to help (if I can).

It's hard for me to debug the issue without being able to reproduce it locally. I even tried the example code in the `request` issue you linked, but `needle` did run the code with no errors. ;)

My guess is that this has something to do either with the 'content-length' header or the 'content-transfer-encoding' one. It looks like the server is closing

[2017-01-19 00:01] bchr02 commented on #197
Adding `'Content-Length': fs.statSync(__dirname + '/test.pdf').size` worked! I no longer get the error and I get a response back. I'm still confused as to why and what is responsible. Is this a bug?

[2017-01-19 00:39] leonardorb opened #199 "Does needle support an OAuth Authorization Header?"
Basically, what I'm trying to do is:
[code]
then:
[code]

Maybe I'm missing something, but I'm getting `401`s doing like above.

[2017-01-19 00:53] leonardorb commented on #199
Hmm. Taking a look at https://github.com/tomas/needle/blob/master/lib/auth.js I think I found my answer. Any plans to support other types of authentication? I can help :)

[2017-01-19 04:25] ScionOfBytes commented on #198
@rchipka Ideally this wouldn't need a change in the API as failovers would be handled behind the scenes. Since node introduced the `all` flag for their `dns.lookup` function in an opt-in manner, so should needle do the same.  Maybe introduce an opt-in flag in the options in the style of `dns_lookup_resolve_all:  <boolean>`.

When this flag is passed, needle passes the `all` flag to the `dns.lookup

[2017-01-19 13:06] tomas commented on #199
Sure, what other types?

The options hash in your example seems to be ok, but the observable is not needle itself but the object returned when calling `request`, e.g.:

    needle
      .request('get', url, options)
      .on('data', () => {
        // work with the data here, probably write somewhere
      })
      .on('end', () => {
        // end the write stream
      });

[2017-01-19 16:13] tomas commented on #198
Ok, I just wrote an initial implementation [here](https://github.com/tomas/needle/commit/451a6265908bc2825d63a6d3a00e2fdf6f928bc8). You can pass a `host_ip` option to needle which can either be a specific IP address, an array of IP addresses, or `'any'`, in which case needle will use `dns.lookup()` with `any: true` in order to get a list of IP addresses to try sequentially (as with the IP array op

[2017-01-19 16:15] tomas commented on #197
That's interesting. So setting the `Content-Transfer-Encoding` header didn't work, then?

[2017-01-19 16:19] bchr02 commented on #197
that's correct.

[2017-01-25 11:05] ScionOfBytes commented on #198
@tomas Will test ASAP and report results.

[2017-01-26 14:30] tomas commented on #198
Great, thanks!

On Wed, Jan 25, 2017 at 8:05 AM, Shaun <notifications@github.com> wrote:

--
Fork Ltd.
forkhq.com

[2017-01-28 08:48] poursoltani opened #200 "modified encoding in response.headers.location"
In a normal browser when I send a request for  "http://netbarg.com/tehran/d/c:all/1000"  it is redirected to a URL containing some utf8 characters.
When I send the request through needle the address that is stored in response.headers.location has some modified characters that can not be resolved in next request.

[2017-01-28 11:23] poursoltani commented on #200
You can see the case in the following code snippet
needle = require("needle");
needle.head('http://netbarg.com/tehran/d/c:all/1000', function(error, response) {
    if (!error && response.statusCode == 200) {
        console.log("Not Redirected!")
    }
    else if(response.statusCode == 301){
        var u = response.headers.location;
        needle.get(u, function(err, resp) {
            if (er

[2017-01-28 12:52] poursoltani commented on #200
[redirct.txt](https://github.com/tomas/needle/files/736886/redirct.txt)

[2017-01-28 12:52] #200 closed

[2017-02-06 09:29] giltayar opened #202 "Problem fetching the URL https://docs.npmjs.com/getting-started/what-is-npm"
I tried to use `needle.head('https://docs.npmjs.com/getting-started/what-is-npm', ...)` and got an error:

[code]

curl --head https://docs.npmjs.com/getting-started/what-is-npm works fine.

(I didn't try needle.get on this url)

[2017-02-06 22:27] tomas commented on #202
Both `.get` and `.head` work OK for me, after doing a quick test under node v4.7.2.

What version of node (and needle) are you running?

[2017-02-07 05:16] giltayar commented on #202
You're right.

It doesn't happen in v4.7.2 (or 4.7.3, which is the latest v4).

But it _does_ happen in v5.12.0 (which is the latest v5), v6.9.5 (latest v6), and v7.5.0 (latest v7).

This is the code I tried:
[code]

And this is the output of my `npm ls` (of the module with the just the above code):
[code]

[2017-02-07 16:12] tomas commented on #202
I was finally able to reproduce the error. I'll take a deeper look now and let you know what I find. Thanks for reporting!

[2017-02-07 16:37] tomas commented on #202
Ok, found out what's going on. [This change](https://github.com/nodejs/node/pull/2595/files) in Node made gunzip more rigid when dealing with truncated inputs. It's a pretty easy fix, though. I'll push a new version in a minute.

[2017-02-07 16:48] #202 closed

[2017-02-21 18:11] rnagulapalle opened #203 "Returns MalformedURI"
When I try to do POST to this http://womenforwomen.ca.8090.devt.back2front.ca/999~Shopping_Cart/  URL it throws Uncaught Exception and here is the logs

17-2-21:09:42:58 UNCAUGHTEXCEPTION URIError: URI malformed
    at decodeURIComponent (native)
    at parseSetCookieString (/x/ebay/cronus/software/service_nodes/.ENVao7t1uwyk4sg.developernodeweb-app__ENVao7t1uwyk4sg.developernodeweb-app__ENVao7t1u

[2017-02-21 20:25] tomas commented on #203
Can you try sending the request using the plain Node.js HTTP library and see if it works? It seems like an internal issue rather than needle's.

[2017-02-21 20:27] rnagulapalle commented on #203
But I see error thrown from cookies.js file. Will try local and update the thread

[2017-02-21 20:47] tomas commented on #203
Oh yes, you're right. It looks like `decodeURIComponent` is unable to handle the return string correctly.

[code]

I'm not sure how to handle this. For the time being you can disable cookie parsing so the request goes through.

[2017-02-21 22:07] rnagulapalle commented on #203
How may i disable cookie parsing? any options

  <https://mailtrack.io/> Sent with Mailtrack
<https://mailtrack.io/install?source=signature&lang=en&referral=raj.jsp@gmail.com&idSignature=22>

On Tue, Feb 21, 2017 at 12:47 PM, Tomás Pollak <notifications@github.com>
wrote:

--
Thanks,
-Raj

[2017-02-27 21:31] ValeriaVG commented on #203
I think I had a similar issue, made a patch https://github.com/tomas/needle/pull/204/commits/4c4e337bfbcf2f7555672b123d97c26f417f8b47

It skips malformed cookies

[2017-02-27 22:11] #203 closed

[2017-02-28 00:43] rnagulapalle commented on #203
just to make sure, npm update would include this fix correct?

  <https://mailtrack.io/> Sent with Mailtrack
<https://mailtrack.io/install?source=signature&lang=en&referral=raj.jsp@gmail.com&idSignature=22>

On Mon, Feb 27, 2017 at 2:11 PM, Tomás Pollak <notifications@github.com>
wrote:

--
Thanks,
-Raj

[2017-02-28 01:25] #197 closed

[2017-02-28 01:28] tomas commented on #203
@rnagulapalle Yes sir!

[2017-02-28 03:23] bchr02 commented on #197
@tomas Thank you!

[2017-03-10 18:26] alirussell opened #205 "Dont assume JSON accept header when json: true"
https://github.com/tomas/needle/blob/master/lib/needle.js#L355

Is causing issues for me on a specific API, and although its partly the way that I'm using needle and partly the bad implementation of the API, i think that you shouldn't assume that sending a JSON body should result in a JSON response.

In my particular case, the api in question is the Promoter.io add contact API (http://docs.promote

[2017-03-10 19:07] tomas commented on #205
Yep, I think it does. In the meantime you could try setting the accept header to something different than `*/*` so Needle respects your decision and doesn't override it.

[code]

An alternative method is to skip setting `json: true` and do the work yourself. Something like:

[code]

[2017-03-10 19:29] tomas commented on #205
Oh, sorry. There's no shortcut for the content_type header. The last example should be:

[code]

[2017-03-10 20:12] tomas commented on #205
Ok, just pushed an update and new version to npm. It should take care of the scenario you describe. :)

[2017-03-10 20:12] #205 closed

[2017-03-13 10:50] alirussell commented on #205
Thanks @tomas! i had already used the first suggestion of setting accept to `application/vnd.promoterio.v1.0` but good to have it fixed, as it was causing a lot of confusion for a while (although thats the APIs fault really).

[2017-03-14 01:36] tomas commented on #205
You're welcome @alirussell. Always glad to be of service, specially when I have some spare time, haha.

[2017-03-18 13:47] bookin opened #207 "Error: The header content contains invalid characters"
Code:

[code]

Falls with an error:

[code]

If remove option - `follow_set_referer: true`, it is works.
How I can fix it?

[2017-03-18 17:34] tomas commented on #207
I think it's because the URI contains a "…" char. Try doing `let url = encodeURI(string);` and see if it works.

[2017-03-19 08:56] bookin commented on #207
Yes, it is help me, thanks. But strange, without `follow_set_referer` it is works without `encodeURI`;

[2017-03-20 13:21] cinjoff opened #208 "timeout (read) event gets called after end event"
I am doing some quite strict scenario of fetching resources, where I want to use the `read_timeout` and `open_timeout` separately, so I've set up something like

[code]

Weirdly enough, both events get executed, except that the `end()` gets called first and actually resolves the data, which I wouldn't expect, since the request also times out, but the event actually gets executed afterwards.

Same

[2017-03-20 16:37] tomas commented on #208
That's odd. Can you share the code you're using for your tests?

[2017-03-20 16:44] cinjoff commented on #208
[code]

[2017-03-25 01:22] tomas commented on #208
I was finally able to reproduce this. Taking a look at it right now.

[2017-03-25 02:02] tomas commented on #208
Ok, found out what was going on. The problem is that the 'end' event is being triggered not by Needle but by the Readable stream itself (to notify that all of the data has been confused). I initially thought it'd be easier to have Needle use the same 'end' event for both success or error responses, but at the time I didn't realize that these things would occur.

I just pushed a patch that renamed

[2017-03-26 16:32] Kequc opened #209 "Lexical error in multipart request"
I am trying to perform a multipart PUT request to CouchDB, but am receiving the following error.

[code]

The request looks approximately like this.

[code]

The key part of the error seems to be.

`"lexical error: malformed number, a digit is required after the minus sign.\n"`

But I am unsure what it means.

[2017-03-26 20:56] tomas commented on #209
Does it need to be both multipart AND json at the same time? Try without
one or the other.
On Mar 26, 2017 9:32 AM, "Kequc" <notifications@github.com> wrote:

[2017-03-26 22:11] Kequc commented on #209
Expected behaviour, I suppose would be that the data is sent in multipart and accepts a json response.

[2017-03-27 16:20] tomas commented on #209
I'm not sure I understand. Did it work? What behaviour were you expecting instead?

[2017-03-28 16:25] Kequc commented on #209
The next issue I was coming up to was that CouchDB seems to expect a specific order to the multipart request. So I am not sure I'd be able to ensure that from a key value pair. So I had to switch away to the much larger `request` library.

I'm so sorry.

With regard to expected behaviour, I didn't expect the error and expected what I laid out in my second comment.

[2017-03-28 17:33] tomas commented on #209
No need to say I'm sorry. We're all friends here. ;)

How should I fire a CouchDB instance in order to try out your code?

On Tue, Mar 28, 2017 at 9:25 AM, Kequc <notifications@github.com> wrote:

--
Fork Ltd.
forkhq.com

[2017-03-28 17:36] Kequc commented on #209
I suppose just download and install it. By default the db instance runs at http://127.0.0.1:5984

https://couchdb.apache.org/

[2017-04-05 20:25] davidlumley opened #210 "stringify(obj, prefix) incorrectly converts arrays in objects to hashes"
When passing an object that contains an array, `stringify` will convert the array to hashes:

Expected:
[code]

Actual:

[code]

[2017-04-11 10:23] cinjoff commented on #208
Sorry for the late response, thanks for deep diving into this. Will try the patch and report back.

[2017-04-11 11:47] cinjoff opened #212 "Outdated changelog"
Hey @tomas

We're using needle 1.3.0 and I wanted to find out what is the changelog since then, but I am not having much of success. npm says version 1.6.0, released 17 days ago, which has changes that I want, but the https://github.com/tomas/needle/releases seems a bit out of date. What would be the best way for me to find out the changes. As you can imagine, it could be critical if you rely on t

[2017-04-11 17:21] tomas commented on #208
Great!

[2017-04-11 17:22] tomas commented on #212
You can always look at the [commit history](https://github.com/tomas/needle/commits/master), but yes, I'm in debt. Thanks for the heads up!

[2017-04-12 10:01] voidmonk opened #213 "http/s Agent"
Hi, quick question: if a http agent is passed, but the request redirects to a https URL, then is a new https agent created for it (because http agent won't work for https URL, and vice versa)?

[2017-04-25 17:45] mm-wang opened #214 "Adding an authorization header with a bearer token"
I have a route that is requesting an `authorization: Bearer [token string]` in the header. I've included it in options the following ways:

[code]

and

[code]

In both cases, it seems that the request string is actually adjusted. The form for the requests is:
[code]
for the first option, and authorization is removed from brackets in the second. Is there a way to send a request through needle that

[2017-04-25 18:10] tomas commented on #214
Looks like you're passing the options in the position that Needle is expecting the `data` argument:

[code]

If you don't expect to send data, just pass `null`.

[2017-04-25 18:20] mm-wang commented on #214
Ah, of course. Thanks!

[2017-04-25 18:20] #214 closed

[2017-05-02 05:37] dandv commented on #147
Maybe now that Node 8 includes even async/await without a flag, the choice of which Promises library to use is moot?

[2017-05-02 12:10] bisubus commented on #147
@dandv This may be future proof habit to stick to global `Promise` if it's there, but not everyone is going to use Node 8 any time soon. And this mostly depends on what Node versions are supported by the library, I guess it supports 0.x and higher for now.

[2017-05-03 14:59] vbahtev opened #215 "inconsistency file downloading"
Every time when try to download file i get file with non actual file size. Some time i get file size bigger than actual, sometimes smaller.

Version that i used is 1.6.0

Here is code:

[code]

[2017-05-18 12:37] kristianmandrup commented on #147
Why is Promise support not included as an option somehow?! This is 2017, it's the current year :P

[2017-05-18 18:14] tomas commented on #147
@kristianmandrup If you read the project's readme you'll see that the goal of Needle is to avoid bloat wherever possible. Unfortunately, a big chunk of developers are [still running](https://semaphoreci.com/blog/2016/10/12/nodejs-versions-used-in-commercial-projects-2016-edition.html) Node 0.x, which means the only way they can use Promises is by including a library that just by ifself it bigger t

[2017-05-18 18:18] tomas commented on #147
Ok, I'll take a short dive into the code now and see if I can pull it off in a simple and clean way. :)

[2017-05-18 18:33] kristianmandrup commented on #147
Thanks :) You can check for native promise support, ie. if `Promise` is defined.

[2017-05-18 19:42] tomas commented on #147
Ok I think I have something. Doesn't break any tests and allows for full backwards compatibility. My strategy was to assign the Promise version directly to the main exports object. This way, the existing methods keep working as usual (`needle.get`, `needle.post`, etc), but if you want to use the promisified version, you just call `needle()` directly:

[code]

Where the data and options arguments a

[2017-05-18 20:04] dandv commented on #147
@bisubus: Node added native Promise support in v4. No need to target Node 8. v0.x are deprecated.

[2017-05-18 20:13] bisubus commented on #147
@dandv There's still a lot of applications for Node 0.x and a lot of support for it from NPM packages. A dev is free to use any Node version he/she wishes in private projects, but breaking reverse compatibility for no obvious reason is bad manners for sure. Any way, this is a concern for repo owner.

[2017-05-18 20:16] tomas commented on #147
Ok guys it's in the master branch if you want to try it out. I need to get back to work now but once I write a few tests and update the docs I'll be pushing it to npm.

**Needle**ss to say, thanks everyone for your input!

[2017-05-18 20:17] tomas commented on #215
Try using the 'done' event. And sorry for the late response!

[2017-05-18 20:17] #215 closed

[2017-05-18 20:18] tomas commented on #213
No, if needle redirects to a new URL it will keep using the same agent you passed originally. Did you get a different behaviour?

[2017-05-18 20:20] #210 closed

[2017-05-18 20:25] tomas commented on #207
Just added a quick fix to handle these types of scenarios. Thanks for reporting!

[2017-05-18 20:25] #207 closed

[2017-05-18 20:31] vbahtev commented on #215
'done' event is not help.
Please try example and run it to view inconsistency.
After every run just check file size
If you need from more information let me know

[2017-05-18 20:43] kristianmandrup commented on #147
Please add docs/demo on `Promise` usage on `Readme` page. Thanks!

[2017-05-18 23:33] voidmonk commented on #213
Ok, but I suppose the `http` agent will throw an exception if redirecting to a https URL?

Some libraries handle this situation by requiring both `http` and `https` agents to be specified, and then using either based on the URL scheme.

[2017-06-08 08:43] jianzhou520 commented on #188
Have any progress?

[2017-06-09 18:28] tomas commented on #188
@jianzhou520 to be honest this doesn't seem to be an error on Needle's side. You simply get this error because the either the open or read timeouts are being triggered, as discussed on issue #192. So I suggest increasing the `open_timeout` or `read_timeout` settings in your code and seeing what happens.

Otherwise please open a new issue with a full example of your case so I can actually replicate

[2017-06-09 18:28] #188 closed

[2017-06-09 18:29] tomas commented on #213
Hi @voidmonk, were you able to try this out? Did it work as expected?

[2017-06-10 04:43] voidmonk commented on #213
Ended up using native http/s instead of needle, so didn't try it out.

[2017-06-10 04:43] #213 closed

[2017-07-17 02:02] zenchanhk opened #216 "Is it possible to send multi files at one POST?"
I am wondering that it is possible to send multi files at one POST, I didn't find a way to send more than one files at one time. Thanks.

[2017-07-17 16:48] tomas commented on #216
Hi @zenchanhk, of course you can:

[code]

Let me know if that works for you.

[2017-07-19 10:14] zenchanhk commented on #216
@tomas Hi Tomas, thanks for your quick reply. It seems not working well with nodejs +  Express + multer. Here is code on my server side:
`router.post('/api/upload', upload.array('images', 20), actions.upload);`
Is it possible to use something like this:
[code]

needle.post('some.server.com', data, { multipart: true })

[2017-08-09 15:10] AlexeyTerentievGit commented on #147
How is it going?

[2017-08-09 17:13] tomas commented on #147
![image](https://user-images.githubusercontent.com/10574/29134404-7dffacca-7d04-11e7-991c-5dd58cf944cc.png)

It *is*. :)

[2017-08-09 17:13] #147 closed

[2017-08-11 12:30] AlexeyTerentievGit commented on #147
Yeeah! Thanks!

[2017-08-12 10:51] yasserf opened #218 "2.0 release"
hello, just wondering if there is a tag / associated readme for the 2.0 npm release? Seems its still on 1.6 otherwise.

Thank you!

[2017-08-16 14:34] tomas commented on #218
Hey @yasserf! I updated the README in the repo after pushing v2.0.0 to npm, that's why. I hope to update the release log either today or tomorrow.

[2017-08-16 14:34] #218 closed

[2017-08-30 14:59] jecs-imperial opened #219 "A problem with an xml2js dependency"
Hi,

I swapped over to `needle` from `request` the other day, it seems you keep on top of the issues and there are far fewer dependencies. However, on rebuilding today I got the following error:

    Error: Cannot find module 'xml2js' from '/home/james/Development/Occam/node_modules/needle/lib'
    at /home/james/Development/Occam/node_modules/browser-resolve/node_modules/resolve/lib/async.js:46:1

[2017-08-30 15:02] tomas commented on #219
No, not really. It seems to be related to the build process, though. Which tool are you using?

[2017-08-30 16:16] jecs-imperial commented on #219
Hi,

thanks for the prompt reply, firstly.

It's a weird one, certainly.

I'm building with babel, all pretty standard:

    "scripts": {
      "start": "node ./bin/main.js",
      "clean": "rm -rf ./tmp",
      "babel": "babel ./es6 --presets=es2015,react --plugins transform-react-jsx --out-dir=./tmp",
      "babel-debug": "babel ./es6 --presets=es2015,react --plugins transform-react-jsx --source

[2017-08-30 16:26] tomas commented on #219
Typically browser build tools parse and look for `require('package')` declarations in your code, and replace that with whatever dependency method they use.

Since needle does have a `require('xml2js')` line [in the parsers.js file](https://github.com/tomas/needle/blob/master/lib/parsers.js#L54), it would explain both the error and fix (package missing, then not missing). The thing is that needle w

[2017-08-30 16:36] jecs-imperial commented on #219
Hi,

no worries.

I'd be grateful if you could leave this issue open and close it when you have a solution. That way I'll get notified and can grab the latest version.

Kind regards,

James

[2017-08-30 18:43] tomas commented on #219
Will do!

Any suggestions regarding a solution for the optional xml2js dependency?

[2017-08-30 18:56] jecs-imperial commented on #219
Yes! I'd just thought of one although you won't like it. In fact, I intended not to add a comment on the subject for fear of offending you. But here goes...

In short, you should drop XML support. It's okay to parse JSON because it's trivial to do so and many get confused between JSON and stringified JSON anyway. However, you should not bother to parse XML because it goes beyond the remit of what

[2017-08-31 22:28] sacabuche opened #220 "unable to catch "TypeError: The header content contains invalid characters" when redirecting and following cookies"
Hi I can't catch the bug while using follow_set_cookies. The only way to catch it was using a try/catch block around the `protocol.request` inside needle https://github.com/tomas/needle/blob/af443bd158fb114f853b1dbd2e2a04eff2d1e1f2/lib/needle.js#L472

I used this code to reproduce the error.
[code]

[2017-09-06 16:13] #219 closed

[2017-10-31 16:55] ash0080 opened #223 "‘follow_set_cookies’ just drop all cookies not listed in ‘set-cookies’ is it right？ or a bug？"
[code]

[2017-10-31 16:59] #223 closed

[2017-10-31 17:11] ash0080 commented on #223
My headache is, after visiting the second page, in my browser, JSESSIONID still exist.  but in needle seems the result is different.
as I know, If the server side need to kill a recode, it will send a 'set-cookie' and a expiration time,
but as displayed in the shots, I can't find one

![2017-11-01_01-06-06](https://user-images.githubusercontent.com/2803210/32237818-f01628ba-bea0-11e7-832a-e687e765

[2017-10-31 17:34] tomas commented on #223
Can you provide an example snippet and a description of the expected outcome so I can reproduce the error. I'm not sure I understand what the problem is. What does needle have to do with your browser, by the way?

[2017-10-31 19:37] ash0080 commented on #223
Actually I find that all request cookies will be dropped in Promise.then() style, only 'set-cookies' in response will be pass to the next .then(), strange?

[2017-11-01 10:41] wip0 opened #224 "If url contains '@', request ignores username and password"
<code>
let username = 'abc';
let password = 'def';
let url = 'http://www.xxx.com/abc/@def/xyz.zip';
needle.put(targetUrl, stream, { username: username, password: password, parse: true });
</code>

In needle.js
<code>
  if (uri.indexOf('@') !== -1) { // url contains user:pass@host, so parse it.
    var parts = (url.parse(uri).auth || '').split(':');
    options.username = parts[0];
    options.pass

[2017-11-03 13:18] centigrade-thomas-becker opened #226 "How to set chunk size when receiving streams?"
According to the [docu](https://github.com/tomas/needle#request-options) one can use `stream_length` to adjust the size of outgoing streams:

I use needle to process in incoming http stream like this:

[code]

How can I adjust the size of the chunks that when I perform `this.read()`?

[2017-11-03 15:14] davidwuerfel commented on #226
I think this is obsolete if we handle the document streaming (meta-data and data) properly. Streaming and parsing meta-data should be independent from the chunk-size (stream as long as everything is complete and emit event on completion) - as we don't know how the meta-data object will evolve in size.

[2017-11-04 18:56] thebarty commented on #137
Just noting that storing the result in a global variable is not really a good idea with an async function. I mean, multiple threats can overwrite the value and it will lead to wrong results...

does anyone have an async solution for this?

[2017-11-05 11:12] ash0080 opened #227 "Don't know exact the mech"

[2017-11-16 21:38] knksmith57 commented on #227
I think you're conflating 2 different interfaces; either you'd use `cookie` (singular) in `headers` formatted the same as your got example, _or_ you'd use `cookies` as a top-level http option formatted as an object mapping header names => values.

see: https://github.com/tomas/needle#http-header-options

[code]

[2017-11-17 08:23] Fly-Style opened #228 "Problem with promise needle version when export it to other source file"
Hello!
I have Node 8.9 and `needle` version 2.0.1 :
```"dependencies": { ...  "needle": "^2.0.1" ... }```

I need to work with `Promise` version of needle API, but seems it doesn't work.
I add `needle` as the module and trying to launch as function (I saw the docs), but have troubles :
[code]
and I got this when I call `getStats` to other source file (which has also imported needle) :

[code]

May

[2017-11-17 16:06] tomas commented on #227
Yup, thanks @knksmith57 !

[2017-11-18 12:49] tomas commented on #228
Are you sure you have native support for ES6 syntax? Try with the regular syntax and see if it helps:

[code]

[2017-11-18 17:06] Fly-Style commented on #228
Your code works fine, thank you!
Maybe it was my mistake or some Node`s fail.

[2017-11-18 17:06] #228 closed

[2017-11-29 16:57] starpit opened #229 "open timeout not cleared until read response"
if i make a blocking request to a service that takes more than 10 seconds, needle will fail, in its default configuration, due to the default open timeout of 10 seconds.

it appears that the open timeout is not cleared until a read response is received. https://github.com/tomas/needle/blob/master/lib/needle.js#L479

my interpretation of "open timeout" is as relates to the time until a socket conne

[2017-11-29 20:11] tomas commented on #229
I'll take a look in a minute. Thanks for reporting!

[2017-11-29 22:57] tomas commented on #229
You're right, open timeout _should_ be cleared when the connection is established, rather than when the response headers are received. This is simply the result of Needle using the available events provided by Node's HTTP module.

There _is_, actually, a 'connect' event but it serves a totally different purpose. It simply fires whenever a [server responsds to a CONNECT](https://nodejs.org/api/http

[2017-11-29 23:13] tomas commented on #229
I think this should do it:

https://github.com/tomas/needle/commit/4b680a65642f15fab6cb9a133b9253fbeca0798f

What do you think?

[2017-11-29 23:57] starpit commented on #229
hi @tomas

echo test: this change establishes a cascade of timers:
1) on request, set a timer based on open_timeout
2) on socket.connect, clear the open_timeout timer, and set a new timer based on a new config property `response_timeout`
3) on response, clear the response_timeout timer,
... the rest of the logic remains unchanged

i think this looks good. it is also analogous to the accepted solut

[2017-11-30 15:10] tomas commented on #229
No, we don't need to listen for 'timeout' events since we use the regular setTimeout instead of socket.setTimeout, which doesn't work consistently across different node.js versions.

I'm also thinking of adding a 'max_time' option, which would act as a global timer for the whole request/response process, although I'm not sure what the behaviour should be when following redirects. Any ideas?

[2017-11-30 15:49] starpit commented on #229
i suggest we move the max_time discussion to a separate PR. it seems like a nice feature to have.

[2017-12-06 13:20] tomas commented on #229
Ok, just published v2.1.0 with the updated behaviour. Thanks again!

[2017-12-06 13:20] #229 closed

[2017-12-08 13:45] centigrade-thomas-becker opened #230 "Event "err" and event naming conventions"
Why has the error event a truncated name? All the other events have a "proper" name, e.g.
- timeout
- response
- redirect
- header
- done

But the event name for error is "err" which seems like an unnecessary special case to me.

I know that in some languages "error" is a reserved keyword so that "err" is used instead. But that is not the case here, right?

[2017-12-08 14:17] tomas commented on #230
It's not a reserved keyword, but it Nodeland it tends to be reserved for internal events -- you get 'unhandled "error" event' if you don't set up a listener. I guess there's no harm really in renaming the event, as there are no collisions of any kind, which I tried to avoid altogether when implementing it.

[2018-01-31 20:57] doowb opened #233 "Options being ignored"
When using the following form for a `get` request, the `options` are being ignored and being used as `data`:

[code]

I think the argument handling [here](https://github.com/tomas/needle/blob/24b3e1840efc105981928ca83047d7bbfcd312ad/lib/needle.js#L730-L748) is causing the issue, but I'm not sure if there are other places that would need to be updated.

If this isn't intentional, I'll try to submit

[2018-02-05 12:17] SergeyYermak opened #234 "Wrong cookie sending"
I am trying to figure out some issue with cookies, maybe I'm doing something wrong.
Seems like cookies going to the server with some extra escaped characters.
Tested with headless browser, I can see through fiddler a sent cookie (correct one) like this:

`auth=SI7yyDeeoZ1Orxz2UHdKyyVgaG6%2B57EaQxA%2B3sEKUSFD2pyinrL5MIQu234%2F89XZUrY6G3MtI8H09DLOcH7dAxTALm%2B06WP%2F;`

after that I am saving all co

[2018-02-07 12:44] SergeyYermak opened #235 "Multipart fields with brackets in names"
Trying to simulate browser file upload request, it is sending multipart fields like that:
[code]
In needle file options I'm declaring category field:
[code]
And when I'm inspecting in debugger, it shows that request was sent like that:
[code]
Is this intentional (I mean index number in brackets)?
Because I have response from server to select a category after this request.

[2018-02-07 19:49] tomas commented on #235
Yes this is intentional, but the behavior on the server side shouldn't differ. Are you not getting an array at `params.category`? What type of server are you running?

[2018-02-07 20:01] SergeyYermak commented on #235
Unfortunately server is not mine, I'm just automating some browser task, for this part I did not tested much and switched to request module.

[2018-02-12 14:37] fedegratti commented on #34
Hey there, I would love to have this feature. Yesterday I was all day changing my app from request to this library and I could do everything but this. I really need to know at least the bytes transferred while I'm uploading a file. I tried to do something like this (when I was using request it worked), but `req.request.connection._bytesDispatched` always returns the same value:

[code]

Also I tri

[2018-02-13 20:40] tomas commented on #235
Sure, no problem. I just don't see where/what the problem is, since the end result from the server side should be the same.

[2018-02-13 20:40] #235 closed

[2018-02-13 20:42] tomas commented on #234
@SergeyYermak Good catch. Are you suggesting that we use `decodeURIComponent` by default?

[2018-02-13 20:51] tomas commented on #233
Fixed! Thanks for the heads up.

[2018-02-13 20:52] #230 closed

[2018-02-13 20:52] #233 closed

[2018-02-13 20:53] tomas commented on #224
Ahh, I see. Now #255 makes sense. I'll take a second look at it now.

[2018-02-13 21:02] #224 closed

[2018-02-13 21:08] tomas commented on #226
@centigrade-thomas-becker You probably figured it out already, but you can pass an argument to `stream.read()` which determines the amount of data that is read from the stream. I believe you can also pass a [highWaterMark option](https://nodejs.org/api/stream.html#stream_implementing_a_writable_stream) when initializing a stream, which sets the default size for each chunk.

[2018-02-13 21:19] tomas commented on #216
@zenchanhk of course it is. Try creating an endpoint at https://hookbin.com and running your example code. You should get the two files.

[2018-02-13 21:19] #216 closed

[2018-02-13 21:49] tomas commented on #209
I finally took the time to set up CouchDB (v1.6.0) and try your code, and after some testing I found out:

a) that yes, your example does render a `{ error: 'bad_request', reason: 'invalid_json' }` response,
b) that if removing the `multipart: true` option works (at least it does create a new record),
c) that replacing 'multipart/form-data' with 'multipart/related' seems to be [the right way](http

[2018-02-13 21:50] #208 closed

[2018-02-13 21:51] tomas commented on #199
Closing this one for the time being. Feel free to reopen when/if you have more info.

[2018-02-13 21:51] #199 closed

[2018-02-13 21:52] tomas commented on #198
ping @ScionOfBytes !

[2018-02-13 21:52] #190 closed

[2018-02-13 21:58] tomas commented on #88
I'm closing this issue for the time being. If anyone wants more context, [here's](https://github.com/ashtuchkin/iconv-lite/issues/20) the related discussion on the iconv-lite repo.

[2018-02-13 21:58] #88 closed

[2018-02-13 23:29] SergeyYermak commented on #234
@tomas Well if it will not cause any issues with regular cookie usage. I'm facing this characters not so often in cookies. May be some config option will be better.

[2018-02-25 20:27] greaka opened #237 "The use of fs"
I have a problem that this package wants to use fs.
fs is currently not in use and not installable from npm (see https://www.npmjs.com/package/fs)
I get the following error message:

both files use `var fs = require('fs')`
How should I deal with this problem?

[2018-02-26 14:32] rchipka commented on #237
The `fs` package is included in the nodejs standard library

https://nodejs.org/api/fs.html

[2018-02-26 14:34] tomas commented on #237
@Greaka Are you trying to bundle `needle` with something like webpack or browserify?

[2018-02-27 08:03] Greaka commented on #237
I am trying to bundle it with webpack, yes.

[2018-03-04 08:06] SneakyMax opened #238 "EventEmitter memory leak with `connect`"
This is like #161, but it's happening for me on the `connect` event:

[code]

*  Once a minute I'm sending off 4 HTTP requests to the same host
*  They aren't erroring or anything, including connect timeouts
*  In my last test it took 12 minutes to happen, but it's inconsistent
*  Node 9.3.0 and 8.9.4

I realize it might not be needle... going to try `request` to see if it happens there.

Basicall

[2018-03-04 15:44] tomas commented on #238
Hey @SneakyMax. How did the other test go? Are you running the latest version of needle?

[2018-03-05 01:12] SneakyMax commented on #238
@tomas no warnings with `request`. One error of `socket hang up` (but that's on our side, it could be the same thing that caused needle's warnings I suppose).

Was using needle 2.2.0.

[2018-03-05 13:08] tomas commented on #238
What was/is causing the `socket hang up` error on your side? I'd love to replicate the issue over here.

[2018-03-05 16:57] SneakyMax commented on #238
Honestly, no clue :(. It's a problem I've ran into a couple times with node
when making lots of http requests at once and haven't figured out the
cause.

On Mon, Mar 5, 2018, 5:08 AM Tomás Pollak <notifications@github.com> wrote:

[2018-03-27 12:15] LiveStone opened #239 "Cookie passed as object is not setting for request at all"
Hello @tomas! Thanks for your code. I'm kind a newbie for it, but have an issue with cookies.
There is a statement in docs :

According to docs, I'm trying to set cookies for the request in this way:
[code]
So this request is not working, because server does not see any cookies set. I guess, it supposed to be set for request as a string 'sessionId=12345', but it seems that its passing as object.
I

[2018-03-27 12:52] LiveStone commented on #239
Ops, this did the trick:
`{headers: {cookies: cookies}} -> {cookies: cookies}`

[2018-03-27 12:52] #239 closed

[2018-04-03 03:09] cjtir123 opened #240 "node v8.9.1"
(node:9416) [DEP0003] DeprecationWarning: _writableState.buffer is deprecated. Use _writableState.getBuffer instead.

[2018-04-05 09:44] naveensj opened #241 "Unix Domain Sockets support?"
@tomas  I tried searching in the document but could not find any. The underlying request module does support unix domain sockets.
https://github.com/request/request#unix-domain-sockets
Is this supported here but an undocumented feature?

[2018-04-05 12:16] tomas commented on #241
Needle does not depend on `request`, but directly on Node's `http` module. I'd love to support Unix sockets so feel free to send a PR!

[2018-04-25 11:17] phper-chen opened #242 "How to set a customed headers?"
For example, i have done these:
[code]
what headers i get from reciever with 'multiparty' in console is:
[code]
there was no customed headers,plz giving me a guidence...

[2018-04-25 12:32] tomas commented on #242
That's weird. Looks like something is messing up your headers, because 'Content-Disposition' should be part of the request's _body_, not the headers. What does `streamBuffer` look like?

[2018-04-26 03:02] phper-chen commented on #242
It is my fault, i should print the headers of req rather than print the the stream headers of 'PassThrough' after using the 'multipart'.
Thank u~

[2018-04-26 04:44] #242 closed

[2018-04-27 03:46] lucasexe commented on #238
the same error happened with me.
I removed it changing some lines:

[code]
to:
[code]

[2018-04-27 18:13] tomas commented on #238
@lucasexe Good catch! I'll patch the code if it works.

[2018-04-30 14:49] Codecomp opened #243 "Erroring when successful"
I'm trying to use this to replace the last bit of jQuery in a wordPress theme and for some reason I can't fathom, when ever i fail a request, it is "successfull" and vice versa. This seems to happen when i use the try catch method and API calls.

I can inspect the requests and see anything with a 200 status code seems to trigger the error for me.

[2018-05-02 07:18] SneakyMax commented on #238
Thanks @lucasexe!

[2018-05-16 08:52] jonschlinkert opened #244 "request: please use "files" property in package.json"
Currently `needle` includes all test files and examples in the published package. By using the `files` property in package.json, you can specify only the files that should be published, and thereby help implementors and users keep `node_modules` free of junk that unnecessarily adds to initialization and installation time.

Thanks!

[2018-05-21 02:50] ostriandoni commented on #86
i still get this error:

[code]

[2018-05-21 21:39] tomas commented on #86
Yikes! Bringing this issue back from the dead...

[2018-05-21 21:40] tomas commented on #86
@zetlen Sorry for the insanely late response, but since this issue was marked as closed I hadn't noticed it. Would you mind opening a PR with the fix you mentioned earlier? :)

[2018-05-22 06:49] kasper3 commented on #147
I am struggling with mapping Promise to await/async pattern.
Could we please have an example of await/async in the README?

[2018-06-26 14:02] PinkyRabbit opened #247 "Add SSL to proxy connection"
Hello! My proxy returned `400`. I talk with support and they tell me to check proxy inside `firefox`. I did that and next they tell me to add `SSL Proxy` to the same connection. And proxy works well. How to setup this `SSL Proxy` with Needle? Thanks!

[2018-07-05 17:04] bchr02 opened #248 "returned Promise not working with async/await"
Needle's api is supposed to be Promise compatible however when I try to use needle with async/await (node v8+) it does not work as expected. Here is a test case:

[code]

[2018-07-10 21:52] mandrewbot3k opened #249 "Relative url (not port 80)"
Great lightweight implementation! I'm quite the node noob, and not a developer by trade, just a hobbyist...

One issue I had was being required to use an absolute url to make my post requests on the node server, because I'm not listening on port 80. In my case, port 3001 for a test server. Using:

[code]
Note: In my implementation, I'm just hitting a raspberry pi's GPIO with an API using a post re

[2018-07-28 18:35] toucansam-bpl opened #251 "Add option to follow redirect to same site"
Hi,

I am attempting to access a site that adds a cookie with the response and redirects to the same location. I haven't thought about this issue in very much detail, so I assume there's a good reason you aren't allowing this to happen, but I don't see how adding an option to disable it such as `allow_same_site_redirect: true` could do any harm.

I could probably put together a pull request if you

[2018-08-03 14:06] domaslasauskas commented on #248
Documentation says that you need to call `needle(...)` to get promises. This works as expected:
`const resp1 = await needle("get", "www.google.com");`

[2018-08-04 06:26] bchr02 commented on #248
I missed that. Thanks @domaslasauskas

[2018-08-04 06:26] #248 closed

[2018-08-09 05:02] elmigranto commented on #251
I'd love to have an option to switch to custom function instead of a bunch of boolean toggles. Give a user an ability to either set some flags (as it is now) for simple cases, or provide a function like `shouldRedirect(req, res) -> Boolean` for more complex logic. It could even be promise-based, if current code structure would allow that eaisly.

What do you think, @tomas?

❤️

[2018-08-09 13:35] tomas commented on #251
Sounds good. Go ahead and send a PR!

[2018-08-11 09:03] elmigranto opened #252 "`follow_if_*` options not working (always false)"
`Needle.prototype.should_follow` expects to recive original url as parsed value, but actually receives it as a string. This makes `follow_if_same_host` and `follow_if_same_protocol` always return false, since they are comparing on the string.

To reproduce, try setting `follow_if_same_host` to `true` and query some website that redirects to same host. I had problems with this one:

<details><summa

[2018-08-11 09:12] elmigranto opened #253 "Add versions to dev dependencies"
Versions for `devDependencies` are `""` (empty string), which installs latest available ones. This results in `npm test` not running, since Sinon deprecated a bunch of APIs.

<details><summary>npm test output</summary>

[code]

</details>
<hr />

Seems like installing `sinon@2` works (I ran `npm i sinon@2 --save-dev`). Here's a `git diff` for `package.json` when I managed to run tests successfully

[2018-08-11 09:16] elmigranto commented on #252
Here're my `process.versions` if that helps or needed:

[code]

[2018-08-13 16:40] tomas commented on #253
Good catch. I'll take a look later today.

[2018-08-13 16:43] tomas commented on #252
Thanks for the _very_ detailed bug report! This seems to be partially related to #251.

Are you up for submitting a PR?

[2018-08-13 18:14] elmigranto commented on #252
Yeah, no problem, thanks for the neat lib, Tomás ❤️

#251 is about redirects as well, but asks to add some functionality and this one is an actual bug. Guess we can tackle them together, up to you.

Though, not sure if or when I'll be having time for a proper PR, I've ultimately decied to write my own wrapper around `http` module, since the needs on the project are a bit more involved — we need a

[2018-08-16 23:12] synzen opened #254 "Piping XML not working on 2.2.2"
It looks like trying to pipe XML pages does nothing on 2.2.2, and the finish event is never emitted:

[code]

![image](https://user-images.githubusercontent.com/18688793/44239539-dd48e900-a187-11e8-9099-2c8fbb93564f.png)

On 2.1.2, file.txt is empty but on 2.2.2 the file is populated as expected

[2018-08-16 23:48] tomas commented on #254
Yikes, I'll take a look asap

On Thu, Aug 16, 2018 at 8:12 PM synzen <notifications@github.com> wrote:

--
Tomás Pollak
forkhq.com

[2018-08-17 22:32] tomas commented on #254
Ok so what's happening under the hood is that you're piping an object stream into a non-object one, because Needle is parsing the XML output as part of its processing logic.

So you can either disable parsing, in which case the file's contents are passed directly to the output stream, or pipe to a transform stream in the middle that converts the parsed XML object into a Buffer/string that can be w

[2018-08-18 00:15] synzen commented on #254
Ah I see, thanks for the explanation. I tried setting parse to false and, apparently contrary to what you've tested, now it works. I was just confused because I thought something wasn't right since its behavior changed after 2.1.2. I'll leave this open for your to close since I'm not sure, according to you, if there was something not working. Thanks again!

[2018-08-27 22:14] pahanishe opened #255 "trows an error on server"
i run this code on server (UBUNTU)
i can do curl 'https://www.google.com/'  from that server no problem, but the proxy trows an error for some reason socket hangs up... please help

**here is my code:**
      let url = 'https://www.google.com/';
      needle.get(url, function(error, response) {
        if (!error && response.statusCode == 200){
          res(response.body).header('Content-Type', r

[2018-08-29 16:28] pahanishe commented on #255
ok i guess  i moved over to just making up my own little plugin for that, closing this one

[2018-08-29 16:28] #255 closed

[2018-09-06 21:23] starpit opened #256 "node 10.9: new Buffer deprecation warning"
with node 10.9, needle's use of `new Buffer` results in the following appearing on stderr:

[code]

[2018-09-06 21:43] tomas commented on #256
Thanks for the heads up!

[2018-09-10 18:01] Vladislao opened #257 "Process hangs on manual request abortion"
It looks like inner timeout is not cleared when aborting request manually. Maybe I'm missing something?

Here is code to reproduce:
[code]

[2018-09-10 20:50] tomas commented on #257
You're right! We need to ensure all timers are cleared when the request is aborted

[2018-09-10 21:00] tomas commented on #257
Done! Just pushed v2.2.3

[2018-09-10 21:29] starpit opened #258 "support for blank user-agent header"
right now, needle always passes through a user-agent header, even if one was not requested. i think this is a good default behavior, but it is also useful to support modes where having a user-agent header is not supported, e.g. with endpoints that do not have user-agent on their list of accepted CORS headers.

perhaps we can support this by wiping all headers that are set to `undefined`, which see

[2018-09-18 13:41] darscan opened #261 ""Remote end closed socket abruptly" redirects on Node 8.12.0"
Something is fishy with Needle and redirects on Node `8.12.0`!

`Remote end closed socket abruptly`

The issue does not seem to appear with Node `4.x`, `6.x`, `9.x` or `10.x`.

I've put together the smallest example I could that demonstrates the problem (please excuse the gross style.. I wanted to check Node 4 behaviour):

[code]
I mostly tested with Express `4.16.3` and Needle `2.2.3`, but tried

[2018-09-18 13:47] darscan commented on #261
Actually.. here's a trimmed down version (no `express` involved):
[code]

[2018-09-19 22:28] aoberoi opened #262 "GET requests with Promise interface do not send query parameters"
I'm trying to use the Promise based interface to make a GET request that includes query string parameters. I've created a URL using https://postb.in to observe the request as its received.

[code]

The above code never sends the `token` parameter. When using the callback interface, I am able to get this to work.

[code]

[2018-09-20 14:52] tomas commented on #262
You're right. The Promise-based interface currently does not expect any params for GET requests. This should probably change, though, to reflect the same behaviour as in `needle.request`. Thanks for the heads up!

[2018-09-20 16:04] cmain commented on #261
Hitting the same exact issue.  This was causing me major headaches because needle is used in node-pre-gyp and in my case the pre-built binaries were hosted on Github which involves a redirect.  This error can cause node-pre-gyp to fail for the redirect and if the download after the redirect also fails two source builds will be kicked off which will stomp on eachother.  This essentially prevents th

[2018-09-20 17:00] tomas commented on #261
Yikes, will check asap!

[2018-09-20 23:02] tomas commented on #261
Ok I think I found a fix (`fix-socket-destroy-on-redirect` branch). It looks like the socket.destroy logic was modified/fixed in Node v8.12.0. This affects a check that Needle does to see whether the underlying socket was correctly destroyed.

Now, if I run the test script I get the correct output:

    Redirect worked on NodeJS version v8.12.0

Without breaking previous versions:

    Redirect wo

[2018-09-21 14:41] darscan commented on #261
Thanks @tomas ! I took a quick look at the branch.. such a small fix 😸 I don't have enough context to validate the impact of the patch, but it looks good (and safe) to me.

[2018-09-22 18:33] #261 closed

[2018-09-22 18:34] tomas commented on #261
Ok, just pushed 2.2.4 to npm. Thanks everyone for reporting!

[2018-10-17 16:23] SergeyYermak opened #264 "Timeouts not working with bad proxy"
It just hangs, ignoring any timeouts...

[2018-10-17 16:35] #264 closed

[2018-10-24 19:07] Borewit opened #265 "Get access to header before streaming"
Hi @tomas,

I tried to read an audio file using needle, and I would like to stream it.
Is there a way to get access to the headers, before the actual content is read?

For the audio file it is important I get access to the `Content-Type` & `Content-Length` first, because I need to select the appropriate parser.

Related discussion on [stackoverflow](https://stackoverflow.com/questions/31649901/how

[2018-10-25 16:59] tomas commented on #265
Hi @Borewit. Doesn't the `headers` event help you solve your problem?

[2018-10-25 18:08] Borewit commented on #265
Thank @tomas, that worked out just fine!

[code]

[2018-10-25 18:08] #265 closed

[2018-10-27 13:32] Borewit opened #266 "HTTPS requests stuck on Node 10 & 11"
I have simple unit test fetching a file using HTTPS which runs fine on
- Node v6 ✔️
- Node v7 ✔️
- Node v8 ✔️
- Node v9 ✔️

but it fails on:
- Node v10 :x:
- Node v11 :x:

It is **not** specific to needle, I tried the following solutions and they all give the same result:
- Using Node http
- [needle](https://github.com/tomas/needle)
- [axios](https://github.com/axios/axios)
- [isomorphic-fetch](ht

[2018-10-27 13:49] tomas commented on #266
Interesting. Have you tried with other servers?

[2018-10-27 15:10] Borewit commented on #266
Good point, I did some more testing.
Using the same sample, and installed Node v11 on my Windows machine (other results executed on Travis-CI):

| Server | Test result | Note |
| -----------------------------------------| -------------------|-----|
| https://tunalib.s3.eu-central-1.amazonaws.com/plan.m4a | :x: | Original location |
| https://dl.dropboxusercontent.com/... | :x: | Public dropbox sha

[2018-11-20 19:19] DrGirlfriend opened #269 "isEmpty is being placed in headers"
I found an issue where "isEmpty" is being written to the headers at line 278 in needle.js
[code]
In issue #167 the above lines of code are committed as d227ef4205809084fe085d74f793813ec644f168

I am not really sure how to repro this without showing confidential code and using company resources, but I think it should be as simple as checking the property type before adding values from `option.heade

[2019-01-22 11:53] SalathielGenese opened #270 "Requests for Promise API don't account needle defaults"
**Version :** `2.2.4`
**Node version :** `8.14.0-alpine`
**Issue or Feature request :** `Issue`

When you set **needle** defaults,

[code]

Those defaults are accounted when you run `needle.get( '/healthz' )`...

But not for `needle( 'get', '/healthz' )` which return no promise. And since I'm in a container under test environment, I get this nice error message logged to my terminal

[code]

Here's

[2019-01-26 16:33] #256 closed

[2019-01-28 18:19] Borewit opened #271 "Connection keep alive behavior."
Tomas, I don't think that information is accurate.
To me it looks like the default behavior of Node (tested with v10.13.0, seen it with older versions as well) is not to enable keep-alive (sending `Connection: close`):
[code]
Tested both with & without HTTP-proxy assigned, consistent behavior.

The only way I found to keep the connection alive is by assign an Http(s)Agent:

[code]
This doesn't see

[2019-01-30 15:56] tomas commented on #271
@Borewit That's odd. I'll take a look.

[2019-01-30 15:58] tomas commented on #269
Ping @DrGirlfriend

[2019-01-30 16:32] tomas commented on #271
Hmm, looks like you're right. I was looking at the [test suite](https://github.com/tomas/needle/blob/master/test/headers_spec.js) regarding the 'Connection' header and found [this](https://github.com/tomas/needle/blob/master/test/headers_spec.js#L134-L135).

It's been a while since I looked at the keep-alive behaviour, but the behaviour in general seems a bit confusing. Check out [this thread](htt

[2019-01-30 16:37] tomas commented on #270
Ok so the problem is that you're trying to set defaults for properties that are not "defaultable". The list of valid properties that accept default values [are these](https://github.com/tomas/needle/blob/master/lib/needle.js#L66-L92).

Hope it helps!

[2019-01-30 16:37] #270 closed

[2019-02-04 07:15] Borewit commented on #271
Not directly Thomas.
So far I only managed with [request](https://github.com/request/request) to esteblish and keep up a cookie based authentication session (where the cookie handling requires customization).
I suspect this has to do with the keep alive behaviour.

But I keep it in mind, if I have time...

[2019-02-08 08:14] Sreekusak commented on #262
Any workaround ?

[2019-02-10 21:45] dzcpy commented on #266
I have experienced some similar issues, although not with needle but x-ray, which uses superagent internally. Some connections got stuck for around 5 minutes, but I was using a socks5 proxy. I'm using Windows too, but i suspect that it might not be an issue on linux.

[2019-02-25 14:38] shmida1991 opened #272 "Add support for custom lookup function"
Hi,

Is there a possibility to add an option for passing a custom lookup function for https?
As stated in NodeJS documentation it is possible to use custom lookup function:
https://nodejs.org/api/tls.html#tls_tls_connect_options_callback

The documentation states that there are some options that can be configured and are passed directly to the https.request (and as a result to tls.connect as well)

[2019-02-28 19:58] armoreal opened #273 "socks5 proxy support"
Is it possible to use socks5 proxy instead of http proxy?

[2019-03-04 16:04] #273 closed

[2019-03-21 16:48] Johnbastian opened #274 "XML parsing breaking change: xml2js to sax"
As of 2.2.0, needle dropped `xml2js` in favour of `sax`.

We recently upgraded our dependencies, but given the lack of release notes, we were unaware of these changes. We only realised later when our code which was dealing with XML based APIs were erring, since the JSON output produced by `sax` is significantly different compared to `xml2js`, and it is therefore a breaking change (which I would ha

[2019-04-09 21:37] lissyx opened #275 "Differences between current package.json and npmjs.com"
Is it normal that https://www.npmjs.com/package/needle/v/2.3.0 was released 9 hours ago but current master shows only `2.2.3` and no `v2.3.0` tag either? https://github.com/tomas/needle/blob/master/package.json#L3

[2019-04-09 21:49] tomas commented on #275
Yes, forgot to push!

[2019-04-09 23:59] emamid opened #276 ""rejectUnauthorized" works for get but not post"
I'm using Needle to talk to an API, and need to use a self-signed cert. I can do "get" requests, setting rejectUnauthorized to false, and things work fine. However, when I do post requests, I still get a SELF_SIGNED_CERT_IN_CHAIN error. This is in NodeJS v10.14.2.

Get code (works):
[code]

Post code (gets error):
[code]

Value of response is in the attached file.
[jira-issue-post.zip](https://git

[2019-04-10 22:55] tomas commented on #276
Hi @emamid, I hadn't run into this before.

AFAIK we pass the options to Node's `http` module in the same way for both requests.

I'll take a look now and see what I find.

[2019-04-10 23:04] tomas commented on #276
I just tested and the option is correctly set on both types of request. Are you sending your request to a https endpoint? Are there any redirects or proxies acting in the middle?

[2019-04-10 23:29] emamid commented on #276
Thanks. In case I didn't mention it in the issue, I'm able to do POST
operations using Postman when turning "SSL certificate verification" off in
Settings, so I don't think it's an issue with this specific server API.
(Atlassian Jira, if that matters).

On Wed, Apr 10, 2019 at 3:55 PM Tomás Pollak <notifications@github.com>
wrote:

[2019-04-11 14:17] tomas commented on #276
I see. Thanks for the input. Are you sure there aren't any redirects or proxies in the middle?

[2019-04-11 18:17] emamid commented on #276
I'll have to check that.

On Thu, Apr 11, 2019, 7:17 AM Tomás Pollak <notifications@github.com> wrote:

[2019-04-15 09:16] emamid commented on #276
I'm not able to tell yet about the proxy, though I am connecting via a VPN.
However, even if there's a proxy, why would things work for get and not for
post?

On Thu, Apr 11, 2019 at 11:16 AM David Emami <emamid@gmail.com> wrote:

[2019-04-15 12:37] tomas commented on #276
Aha, so there _is_  something in between. Would it be possible for you to try the request directly, without a VPN in between?

[2019-04-23 18:45] markwolff opened #277 "ssl.key ssl.cert in test/keys/"
Hey, I am seeing `ssl.key` and `ssl.cert` in my node_modules folder when I add needle to my repo. Where are these generated? I see they are different on different machines, so I'm assuming they are my keys.

#### Repro
[code]

[2019-04-23 22:00] tomas commented on #277
That's weird. Looks like the keys used for testing got included in the published package. Lemme check.

[2019-04-23 22:09] tomas commented on #277
Yup, confirmed. Just pushed a new version without them. Thanks for reporting!

[2019-04-23 22:09] #277 closed

[2019-05-01 18:56] smartpunter commented on #271
Unfortunately, needle still doesn't support keep-alive connections under the hood.
I guess, the flag 'keepAlive': true, should be set in needle.defaults, as well as in per-request options so the connection would be reused by next requests.

[2019-05-01 19:00] tomas commented on #271
I'm in the middle of something now, but hope to take a look later today.

On Wed, May 1, 2019 at 3:56 PM smartpunter <notifications@github.com> wrote:

--
Tomás Pollak
Fork Labs <https://forkhq.com/>

[2019-05-14 00:52] gpcastro opened #278 "Error in node 4.x due to debug dependency"
PM2 is failing in Node 4.x versions since the dependency on `debug` has been bumped to `^4.1.0` (through 78309e5543f9491e25198300a053ceae772b41a2). This is the error:

[code]

Debug [dropped](https://github.com/visionmedia/debug/issues/611)  support for node 4.x, so either the dependency on debug has to be downgraded, or engines field on `package.json` has to be updated.

[2019-05-14 01:02] tomas commented on #278
Good point. What do you suggest?

[2019-05-14 01:11] gpcastro commented on #278
I'd suggest downgrading the version of `debug` to maintain backward compatibility with Node 4.x.

If that version change is really necessary, a major version update of `needle` is needed instead since it is not backward compatible.

[2019-05-14 01:18] tomas commented on #278
OK. So what was the last version of debug that supported Node 4.x?

[2019-05-14 01:38] gpcastro commented on #278
I've tried with 3.2.6 (their latest before 4) and it worked fine.

The release description says "This backport fixes a 4x performance regression when debug is disabled." so it should be good.

[2019-05-14 13:27] tomas commented on #278
Ok, just pushed a new version (needle@2.4.0) with debug@3.2.6.

Thanks!

[2019-05-14 13:27] #278 closed

[2019-05-23 23:21] ZehuaZhang opened #279 "About needle('get')"
Does those two function works as same, except the return?

needle('get', url, data) // could this data form into queries, since I want to use promise

needle.request('get', url, data) // this can form data into queries

[2019-05-24 23:52] tomas commented on #279
The first version returns a Promise. The second one returns a readable stream.

[2019-05-27 09:14] ZehuaZhang commented on #279
What I wanted to ask is that are both method’s data field all can form into queries when they are get request?

Thanks
Zehua
________________________________
From: Tomás Pollak <notifications@github.com>
Sent: Friday, May 24, 2019 4:52:48 PM
To: tomas/needle
Cc: ZehuaZhang; Author
Subject: Re: [tomas/needle] About needle('get') (#279)

The first version returns a Promise. The second one returns a

[2019-05-27 09:26] tomas commented on #279
If you're making a GET request, then yes, data object is transformed into a query string and appended to the URL, _unless_ the `json` option is set to `true`.

[2019-06-14 14:29] mbutcher commented on #279
@tomas Has the issue of GET / Promise requests been resolved where data is not being expected? (See #262 ) I know it was opened quite some time ago, and in the meantime it would seem that there _is_ a significant difference between needle('get') and needle.request('get').

(I have been running into the same problem as #262, which is how I came upon this newer thread.)

[2019-07-08 13:17] #237 closed

[2019-07-17 06:21] devalshah40 opened #280 "Memory leak when writeStream close/error"
Hi @tomas ,

We have tried with below code and file descriptor remains opens.

[code]
We are using needle version `2.4.0`, node version `v10.15.3` and OS version `Ubuntu 16.04.6 LTS`

I have checked with `lsof -i -n -l -P -s -T qs | grep node` command and its remain open.

![Selection_168](https://user-images.githubusercontent.com/5118202/61351564-ad6aff80-a888-11e9-864e-3f91cf485718.png)

I think

[2019-07-17 06:24] sitanshu-zymr commented on #280
Yes, @devalshah40  I am seeing the similar issue especially in case of `error and connection lost`. Its consumes heavy memory on `node.js`.

cc: @tomas

[2019-07-19 00:55] colinskow opened #281 "Feature: support Brotli (br) compression"
When a web server sends a page with Content-Encdoding: "br" (Brotli compression), Needle spits out a body of gibberish rather than properly decompressing it. NodeJS LTS supports Brotli, so it should be a no-brainer to implement.

[2019-07-20 00:49] tomas commented on #281
Sure, sounds great. Would you like to give it a shot?

[2019-07-20 22:29] colinskow commented on #281
Alright, I just took a look and it's real easy. I just need to add 'br' to the list of decompressors. I'll give it a shot over the next few days.

[2019-07-22 16:36] #281 closed

[2019-08-07 16:23] Hornwitser opened #283 "Unable to set compressed as true by default"
6cd989f removed compressed from the defaults object preventing it from being set by default using needle.defaults.

[2019-09-11 18:55] kfitzgerald opened #284 "EZWrap mention in docs"
Hey @tomas !

Just pushed a module for dealing with XML responses parsed by Needle:
https://github.com/kfitzgerald/ezwrap

Do you think it would be worth adding a blurb in the Needle docs about XML, and perhaps a mention about EZWrap?

As it stands right now, the docs are pretty light on how to deal with XML responses that were automatically parsed. Figure it might be helpful to others. I could fi

[2019-09-11 19:44] tomas commented on #284
Hey that looks pretty cool! Congrats man!

[2019-09-17 17:46] andiMenge opened #285 "Set Headers in needle.defaults() Results in Error Msg"
Hi,
great http client but I need help figuring out an issue. I want to set some headers that should be send with all requests. So im using the `defaults` method to set them but the result is an error message.

## Setup
lang: typescript@3.4.5, node.js@v11.15.0
types: `@types/needle`

## Problem
Set the headers object in the defaults method results in the following error message

`Error: Invalid pro

[2019-09-17 18:00] #285 closed

[2019-09-17 18:01] andiMenge commented on #285
nothing wrong with needle, it seams the the `@types/needle` are misleading.

[2019-10-09 11:59] liangxf opened #286 "Not support thead pool"
Now，we used needle to send http request，but it can not support thread pool

[2019-10-09 13:35] dualitysol opened #287 "Stream does not emit 'done' event when data is over"
The stream throws only chunks, no 'done' event

      .pipe(new JSONStream.parse(`${entryField}.*`))
        .on('data', syncDocument) // aply sync function
        .on('done', (err, _) => {
          console.log('DONEEEE')
          if (err) return err

          this.closeConnection() // closing connection to db
            .then(() => console.log('done!'))
        })

I see chunks, everything i

[2019-10-09 14:19] dualitysol commented on #287
Sorry, actually stream was with incorrect data inside to parse as json...

[2019-10-09 14:19] #287 closed

[2019-10-11 06:13] #286 closed

[2019-12-07 20:01] niks3089 opened #288 "How to send a json representation of the data but with custom Accept header?"
I am doing a post to Github API which requires custom Accept header and json representation.
This is what I have

[code]

If I set `json: true` in options, the accept header is changed to Application/Json which is not what I want. I simply want to send the data as json without it touching my headers.

[2019-12-09 01:27] tomas commented on #288
In that case don't pass `json: true` and do pass `JSON.stringify(data)` instead of `data`.

[2019-12-22 01:18] knutster opened #289 "Is this Arya Stark's Needle?"
Please confirm.

[2019-12-22 23:19] krthr commented on #289
Please confirm. x2

[2020-02-03 16:15] slavaGanzin commented on #283
+1

[2020-02-03 16:20] tomas commented on #283
Fixed in b5c3a26

[2020-02-03 16:21] tomas commented on #283
Just pushed 2.3.2 with this update. Thanks!

[2020-02-03 16:21] #283 closed

[2020-02-24 08:01] ash0080 commented on #147
try..catch with await/async can't catch error

[2020-02-25 19:09] sleeyax opened #292 "Remove default headers"
I have a very specific use case where I don't need the default `Accept: */*` header. Is there a way to remove it from the request?

Perhaps an option like `noDefaults: true` or something can be added to give full control to the programmer.

[2020-03-04 07:56] redimongo opened #294 "repeats twice for some reason"
So I am trying to do something simple which is use needle.get to fetch a pre-roll station ID before it plays the podcast.

It works fine. However here is the issue. according to the logs it is running the code twice.
I am wondering what am I doing wrong as I would like to be able to use the .on('end') to store a database endtime - but i don't need to it run twice.

[code]

[code]

[2020-03-04 12:00] tomas commented on #294
Try changing `adsys.on('end', fn)` to `adsys.on('done', fn)`

[2020-03-05 03:07] redimongo commented on #294
I tried this and it still ran twice.
`STATION_ID Completed
 X STATION_ID Stream END
get POdcast ran
get data connected!
63062853
STATION_ID Completed
 X STATION_ID Stream END
get POdcast ran
get data connected!`

[2020-03-05 03:25] tomas commented on #294
I'm not sure what you're trying to do, but I just ran your code (removing the `res` calls) and it ran only once:

[code]

Are you sure the request isn't being triggered twice? Try logging whenever the `'/track/:url(*)` route gets called.

[2020-03-05 04:34] redimongo commented on #294
So the URL looks like.
https://api.drn1.com.au:9000/podcast/track/https://storage.googleapis.com/radiomediapodcast/wellwellnow/season1/S01E04.mp3

Do I need the res stuff for this to work?

If you could post the changes you made that would be great. :)

[2020-03-05 04:43] redimongo commented on #294
So I took your advice and added

[code]

and yes for some reason chrome and other browsers are requesting it twice.

[2020-03-05 12:15] tomas commented on #294
Not that I think of now, sorry. :)

[2020-03-05 12:15] #294 closed

[2020-03-06 16:41] tobinibot opened #296 "Nginx timeout incorrectly invoking `done`"
I’ve stumbled across a situation where needle doesn’t seem to be triggering an error event where I would expect to see one.

## Description
I have a web application that slowly streams back text to the client and I have Nginx sitting out in front of my web app. I have configured Nginx to have a `proxy_read_timeout` directive of some number (let’s say 5 seconds).

**proxy_read_timeout**

http://ngi