[2020-03-06 17:31] walmat opened #297 "Support for a global AbortController"
I have a weird use case where I want to abort _any and all_ needle requests when a user chooses to do so.

How I have it setup right now using node-fetch is I'm creating a default instance that patches in an AbortController signal, this in turn is used in every fetch call I make using this instance.
[code]

It would be nice if needle supported something similar (if it already does I apologize as I

[2020-03-08 02:20] brianjenkins94 opened #298 "Issues proxying with Express & Needle"
Using `request` I was able to functionally reverse proxy a request through Express.js with the following:

[code]

I'm having trouble accomplishing the same result using `needle`:

[code]

Since I'm just piping, I figured these two snippets would be identical, but the latter just responds with what it receives.

Any ideas?

[2020-03-08 03:42] tomas commented on #298
Try replacing `needle` with `needle.request` in the second example.

[2020-03-08 03:56] brianjenkins94 commented on #298
No dice, I'm already pulling `request` out of `needle` in the import.

I'll see if I can put together a minimal sample that reproduces the issue.

[2020-03-08 04:14] brianjenkins94 commented on #298
Basically this:

[code]

[2020-03-08 16:03] brianjenkins94 commented on #298
I think the problem is here:

[code]

because this works fine:

[code]

[2020-03-09 02:25] nikeee opened #299 "HTTP2 Support"
Does needle support HTTP2?

Keywords:
- `HTTP2`, `HTTP/2.0`

[2020-03-13 16:58] brianjenkins94 commented on #298
Is this a feature request then?

[2020-03-13 17:02] tomas commented on #298
Yes is is!

And feel free to submit a PR if you're up for it.

[2020-03-17 23:30] brianjenkins94 commented on #298
As a new export named `proxy` or do you think there a way to keep the current API but add in piping?

[2020-03-18 12:27] tomas commented on #298
Whatever feels more natural. I think the first option makes more sense, right?

`request.pipe(needle.post('some.url'))`

[2020-03-19 15:07] brianjenkins94 commented on #298
So I would need to modify this bit:

https://github.com/tomas/needle/blob/master/lib/needle.js#L795-L803

but for this to work Needle itself would need to be an instance of WritableStream.

[2020-03-19 15:21] tomas commented on #298
I think we'd need to return a Writable/Duplex stream instead of the [Passthrough we're returning](https://github.com/tomas/needle/blob/master/lib/needle.js#L291) now.

And then have that stream pass whatever is written to it to the internal request, [somewhere around here](https://github.com/tomas/needle/blob/master/lib/needle.js#L728-L737).

[2020-03-19 19:26] triwav commented on #262
@Sreekusak if you look at the code https://github.com/tomas/needle/blob/master/lib/needle.js#L347 you can do the same thing. querystring can be imported like `import querystring from 'needle/lib/querystring';` Would be nice to have it still but that should work for you.

[2020-03-19 20:29] tomas commented on #262
Happy to accept pull requests if anybody's up to the challenge. :)

[2020-03-24 07:38] naman1303 opened #302 "query : how to handle nesting in body section of post method"
Hi Team,

I have started using 'needle' recently instead of 'request' module. One of the API call (to select data from database) includes complex input:

1. Database model - simple string
2. Database input - object or array of objects (with $or, $and operators)

For e.g.

[code]

If I pass it a simple object, like shown below, it works.

[code]
How to handle it?

[2020-03-24 07:46] naman1303 commented on #289
Neither the North remembers, nor the Lannisters are sending their regards this way.
@knutster - looks this needle will continue to pinch you for a long long time. :)

[2020-03-24 11:52] naman1303 commented on #302
**Issue Identified, Solution Needed**

I looked at the server logs (of API which is being called):

Instead of array of two objects

It is coming as array of single object, so no output.

** Input is being passed properly to the API call as I have mention in the above thread .

[2020-03-31 23:54] dodtsair opened #303 "needle streams and handling errors"
It is not clear from the documentation how would one handle errors while attempting to stream.

Consider the following example code

[code]

This client using needle wants to treat 404 as an error.  Imagine this is supposed to download an image.  Since the request for the image is a 404 the client will want to have error handling code kick in.  However since needle does not treat 404s as an error,

[2020-04-01 01:46] tomas commented on #303
How would you update the current implementation to handle this correctly?

[2020-04-03 22:24] mslosarek opened #304 "Digest Support for RFC 2069"
Currently the digest response does not for for RFC 2069 version of digest. The expected format is:
`<"> < KD ( H(A1), unquoted nonce-value ":" H(A2) > <">`

See
- https://github.com/tomas/needle/issues/42
- https://tools.ietf.org/html/rfc2069

[2020-04-07 21:23] mxcoder commented on #285
Actually I think this happens because of the validation in `defaults`.

`needle@2.4.0` still produces an error if trying to override default headers with `needle.defaults()`

[2020-04-08 13:34] #304 closed

[2020-04-08 13:34] alexburley opened #306 "Charset detection not default as utf-8"
https://github.com/tomas/needle/issues/170

Basically a clone of this issue

https://www.w3.org/TR/encoding/ looks like utf-8 is now default?

Are you open to pull request?

[2020-04-08 13:38] tomas commented on #306
Sure, go ahead!

[2020-04-08 14:17] alexburley commented on #306
@tomas What's the testing situation. I've forked and set up tests but getting a lot of failures, is there any specific environment set up thats not in the Readme?

In particular

`decoder.spec.js -> test B -> encodes to UTF-8 `

Fails off the bat.

[2020-04-08 14:41] tomas commented on #306
Yeah I just pushed a commit that breaks everything, haha. Give me five minutes.

[2020-04-08 14:46] tomas commented on #306
Ok, go ahead and pull.

[2020-04-08 14:56] alexburley commented on #306
@tomas wicked thanks

[2020-04-08 16:27] alexburley commented on #306
@tomas Would you be okay with installing nock as a dev dependancy? Useful for specifying test cases for decoding.

e.g.

[code]

[2020-04-08 16:44] tomas commented on #306
Yeah, no prob.

[2020-04-08 17:27] alexburley commented on #306
PR raised https://github.com/tomas/needle/pull/308

[2020-04-09 12:52] alexburley commented on #306
@tomas How are releases managed? Is there a timeline for when this will be published?

[2020-04-14 10:47] alexburley opened #310 "Multipart filename parameter is always URL encoded"
Hello again!

I notice that all multipart request filename properties are automatically URL encoded and theres no way to configure this. I understand that this correlates to official spec https://tools.ietf.org/html/rfc7578 but it would be useful to be able to override this and allow the raw filename to be sent in UTF-8 encoding.

https://github.com/tomas/needle/blob/master/lib/multipart.js#L46 -

[2020-04-14 12:16] tomas commented on #310
Hi @alexburley,

I'm not sure why you'd need this but I guess we could add an option for that. So the option would essentialy skip the `encodeUriComponent` call or would it use iconv as well? (Seems like overkill)

[2020-04-14 13:48] alexburley commented on #310
Hey @tomas basically we are interacting with an API and they do not process the filename properly if its URL encoded. So in the UI a file `foo bar.png` appears as `foo%20bar.png`.

I agree it feels overkill, but essentially we would just need a mechanism for skipping the encodeUriComponent call.

It looks like other form-data builders (such as form-data) avoid the URL encoding and just stick the f

[2020-04-14 13:54] tomas commented on #310
Can't you just ask the API provider to perform decoding on the filenames? :)

But go ahead and submit a PR including the change. I like the second version you proposed, but remember that Needle uses snake_case instead of camelCase (I'm from the Ruby side of the force).

[2020-04-14 13:55] alexburley commented on #310
@tomas Yeah we are trying to persuade them, especially as it's in the official spec for the receiver of the data to decode the filename properly

I'll give it a go 👍

[2020-04-22 17:52] rafiqlightwala commented on #271
Has this been resolved?

[2020-04-27 13:56] rysi3k commented on #298
Hello, any news about this? I have similar problem :)

[2020-04-27 14:15] tomas commented on #298
@brianjenkins94 Need any help?

[2020-04-27 17:28] brianjenkins94 commented on #298
I haven't been working on this. Would love to see it added though.

[2020-04-28 15:22] ivanstanev opened #312 ""Remote end closed socket abruptly" Node.js 12.16.3"
Hey! The new patch release of Node.js (12.16.3) broke needle (we're using 2.4.0) and using needle with redirects now causes the following error:

[code]

You can reproduce it with the following piece of code:
[code]

A similar issue was raised a while ago here: https://github.com/tomas/needle/issues/261

[2020-04-28 15:31] darscan commented on #261
👋 Aaaand.. it's back:
[code]

[2020-04-28 16:37] tomas commented on #312
Darn. Do you know what did the Node.js release change regarding TLS sockets?

[2020-05-01 07:55] gitphill commented on #312
https://github.com/nodejs/node/blob/master/doc/changelogs/CHANGELOG_V12.md#12.16.3, Updated OpenSSL to 1.1.1g?

[2020-05-01 13:08] tomas commented on #312
Will take a look at this later today.

[2020-05-02 04:39] sherebiahtishbi opened #313 "done event never getting fired!!!"
Hi I am downloading an mp3 file using needle and below is the code. File is successfully downloaded but done event never fired.

[code]

[2020-05-02 14:26] JiPaix opened #314 "zlib error with brotli"
I use node `v12.16.1`  and the code below throws me an error: `unexpected end of file
    at BrotliDecoder.zlibOnError [as onerror] (zlib.js:180:17)`

[code]

It works if i comment out this line:
https://github.com/tomas/needle/blob/0ef49f6d3613391b10be88531824861f6167414d/lib/needle.js#L62
 from: https://github.com/tomas/needle/blob/0ef49f6d3613391b10be88531824861f6167414d/lib/needle.js#L60-L64
I

[2020-05-02 14:39] JiPaix commented on #313
Hi, fs has no `'done'` event, using `'close'` as documented [here](https://nodejs.org/api/fs.html#fs_event_close_2) solves your problem

[2020-05-02 15:25] sherebiahtishbi commented on #313
Thanks Ji! Documentation says "done" is former "end"! Anyways will try and see how it goes. But by all means this is my goto library for most of my need.

[2020-05-02 15:34] JiPaix commented on #313
in addition to this:

You can either have your code executed from needle `done` event or fs `close` event like this:
[code]

Not using chaining makes it less confusing handling errors and events

[code]

[2020-05-02 17:44] JiPaix commented on #297
I'm also interested in this, one dirty solution i found for now is:

having an event emitter:
[code]
wrap all request in a promise:
[code]
and stop them later in the code:
[code]

[2020-05-02 20:23] sherebiahtishbi commented on #313
That's really helpful, thank you. Will be implementing soon. Thank you
again for that fs close suggestion! Much appreciated.

Regards
Sherebiah

On Sat, May 2, 2020, 11:35 AM Jean-Philippe ALLEGRO <
notifications@github.com> wrote:

[2020-05-04 10:10] alexburley commented on #306
@tomas any update?

[2020-05-05 22:03] ronag commented on #312
https://github.com/nodejs/node/issues/33254

[2020-05-05 22:04] ronag commented on #312
[This condition looks wrong](https://github.com/tomas/needle/blob/master/lib/needle.js#L489).

It worked by luck before due to bug in Node that was fixed in https://github.com/nodejs/node/commit/ed21d32a7c37d030ce4668415832a89dc8ead34c#diff-e6ef024c3775d787c38487a6309e491dL634.

[2020-05-05 22:07] tomas commented on #312
Good call @ronag. So we should remove that check altogether?

[2020-05-05 22:09] ronag commented on #312
I mean I think it's a good idea. But should probably be implemented something along the lines of:

[code]

[2020-05-05 22:11] ronag commented on #312
Yes. Use `response.on('aborted', handler)` instead.

[2020-05-08 16:20] sherebiahtishbi commented on #313
All good! it works as a charm!

[2020-05-08 21:22] mxcoder commented on #261
Just got bit by this too, my current solution is to lock my builds to the matching official image:
https://hub.docker.com/_/node/?tab=tags&page=1&name=12.16.2

[2020-05-12 03:13] mhio commented on #312
Wow.. this has been driving me crazy for a week.

For some reason the issue seems to be exacerbated by the builds running in a CI container. I couldn't reproduce the issue in a local docker build `FROM node:12.16.3` container, but via a `kaniko` or `buildah` container `node-pre-gyp` downloads using needle would fail every time.

[2020-05-17 18:14] zbjornson commented on #312
Sorry to pester, but any chance this can be resolved soon? We're getting a lot of issues opened in node-canvas because our prebuilds are failing to download. Thank you!

[2020-05-19 02:18] tomas commented on #312
@zbjornson Looking at it right now. Sorry for the delay.

[2020-05-19 04:44] tomas commented on #312
Ok looks like I found a fix. Once I get the last three specs to pass on Node v12.16.3 I'll push a new version.

[2020-05-20 09:27] marcosflick commented on #312
Any updates on this?

[2020-05-20 14:28] tomas commented on #312
Yes! I'll push a new version in a while.

[2020-05-21 05:30] tomas commented on #312
Ok we're good to go.

![image](https://user-images.githubusercontent.com/10574/82526690-95948580-9b02-11ea-8892-509bea0b49a4.png)

[2020-05-21 05:38] tomas commented on #312
Just pushed 2.5.0 which fixes this issue.

Sorry everyone for the long delay -- I run an [ecommerce platform](https://wwwbootic.io) and these past weeks have been a bit crazy.

PS: @ronag I tried the `aborted` callback or the `stream.finished` route but they didn't work, so I ended up adding an simple check that does the trick, while still handling the scenario tested in `test/long_string_spec.js`

[2020-05-21 05:38] #312 closed

[2020-05-21 18:49] darscan commented on #312
@tomas Thanks for the fix. Working on open source can be a pretty thankless business sometimes, but your work here is much appreciated 😃

[2020-05-22 20:03] wiazur opened #317 "Unable to do a POST using a URL image"
I keep getting an error saying the URL is invalid. The URL works fine, it has an image on the other end. I'm thinking I have my code constructed incorrectly, or maybe there is a bug? Nothing about URL images in the documentation and no one on Stack Overflow knew what to do. The API I am calling has been confirmed to work with a different sample.

[code]

Output:
[code]

[2020-05-24 07:07] dkontorovskyy opened #318 "Any plan to create a release?"
@tomas there were bunch of changes to source code, is there plan for a new release?

[2020-05-24 14:35] tomas commented on #318
You're right, I forgot to push the new tag.

[2020-05-24 17:52] Xubor commented on #271
I can confirm that keep-alive is working in https (not tested with plain http). You must create agent with keepAlive set to true, see https://nodejs.org/api/http.html#http_new_agent_options and then use it as 'agent' option in all requests.

Example:
[code]
@tomas probably it will be nice to clarify this in documentation.

[2020-05-24 18:39] tomas commented on #271
Good point. Would you submit a PR? :)

[2020-05-25 01:55] JiPaix commented on #317
I believe this is Face API (which i'm not familiar with), but according to this [documentation](https://westus.dev.cognitive.microsoft.com/docs/services/563879b61984550e40cbbe8d/operations/563879b61984550f30395250) you are receiving a response :
`{ error: { code: 'InvalidURL', message: 'Invalid image URL.' } }`

It means needle did post `'{"url": ' + '"' + imageUrl + '"}'` and Face API recognized

[2020-05-26 11:50] dkontorovskyy commented on #318
Closed as it's released :)

[2020-05-26 11:50] #318 closed

[2020-05-26 18:43] wiazur commented on #317
Thanks @JiPaix, Ok, just wanted to check. I did read that in the API, but just not sure _how_ it's processing it incorrectly. I've put in a query with the source SDK as well, so maybe something will come out of that. But thanks!

[2020-05-26 21:58] JiPaix commented on #317
Have you tried querying their API directly from the doc page? did you get the same error ?
- Select endpoint
![image](https://user-images.githubusercontent.com/26584973/82953936-fc56ea80-9fab-11ea-9f92-66df5fbd82d2.png)
- manually fill the fields and click send.
![image](https://user-images.githubusercontent.com/26584973/82954084-48099400-9fac-11ea-889d-af88591b5ade.png)

[2020-05-27 19:17] wiazur commented on #317
Thanks @JiPaix, I did actually, it tested out fine. So trying to figure out why these other libraries aren't working. I did not mention, but I tried the Axios library too and got a similar result. But the old Node requests library works OK. So it's a real mystery. The requests library is deprecated though, so I need to change it. It's possible it's a bug with the Face service. Thanks for helping m

[2020-05-27 22:15] #317 closed

[2020-05-27 22:16] wiazur commented on #317
Ah, this was a parameter issue, being in the wrong place. This is resolved, thanks!

[2020-05-29 19:56] andrewlight13 opened #320 "open_timeout seems to be blocking"
I've got a needle request to a service that sometimes takes a long time to respond, occasionally exceeding the open_timeout limit of 10 seconds. However, when it does so, no error is thrown, and the program seems to block on this line:
`
needle.defaults({
    open_timeout: 10000,
});
let response;
try{
    response = await needle('get', requestUrl, await this.getAuthHeaders());
    console.log("aw

[2020-06-02 19:41] MetaMmodern commented on #188
Hey, I've got the same error( But only in deployment in docker container using Cloud Run by Google. When using Heroku hosting I did not have such problem. Also, timeout did  not help, because my server is just waiting for something and....gives me that error.

[2020-06-03 19:02] thelinuxlich commented on #137
is it possible to obtain the last url using await needle()?

[2020-06-05 08:09] eavdmeer opened #321 "Error 500 for corporate proxy"
I ran into an error installing the sqlite3 node module where on one account it would install fine, while on another it doesn't. The difference turned out to be one using request, while the other, failing one, used needle.  All use the same http_proxy URL from the environment.

The account where it works shows this;

I built a simple code example, using needle, request and https/https-proxy-agent.

[2020-06-05 14:59] tomas commented on #321
Is the proxy a HTTPS endpoint or plain HTTP?

[2020-06-05 15:17] eavdmeer commented on #321
I'm not sure. The proxy URL is http, not https. Is there any way to find out?

[2020-06-05 16:08] eavdmeer commented on #321
CONNECTED(00000003)
140655881995944:error:140770FC:SSL routines:SSL23_GET_SERVER_HELLO:unknown protocol:s23_clnt.c:797:
---
no peer certificate available
---
No client certificate CA names sent
---
SSL handshake has read 7 bytes and written 305 bytes
---
New, (NONE), Cipher is (NONE)
Secure Renegotiation IS NOT supported
Compression: NONE
Expansion: NONE
No ALPN negotiated
SSL-Session:
    Protoco

[2020-06-05 17:29] tomas commented on #321
Looks like the endpoint isn't HTTPS. Does the proxy url start with `https://`? That might be causing the issue.

[2020-06-05 19:26] eavdmeer commented on #321
The proxy URL is in the logs I included. It starts with http://

[2020-06-05 19:37] eavdmeer commented on #321
Just to be clear. In this command:
[code]
Do you want me to connect to the actual endpoint or the proxy itself?

[2020-06-12 16:54] Xubor opened #322 "Version 2.4.1 or 2.5.0 ?"
Why npm shows as actual version 2.5.0 , while here in repository in package.json is stated version 2.4.1 ? What is the difference and why it is this way?

npmjs:
![Capture](https://user-images.githubusercontent.com/4212732/84526500-b43f0400-acdd-11ea-9d4a-63a83d3f1b0b.PNG)

github:
![Capture](https://user-images.githubusercontent.com/4212732/84526654-097b1580-acde-11ea-9b12-433c19c0f8df.PNG)

[2020-06-12 16:58] tomas commented on #322
I forgot to push tags, that's all. Just updated them now.

[2020-06-12 16:58] #322 closed

[2020-06-12 17:09] Xubor commented on #322
Wow, there was tricky "downgrade" 2.4.0 -> 2.3.2  on 3.2.2020. Probably mistake? This should never happen, as local npm would not upgrade to lower version.

...please, create CHANGELOG.md and keep all information about changes there !

[2020-06-12 17:23] tomas commented on #322
Probably some weirdness due to patches/branches being applied. Nothing to worry. :)

[2020-06-18 08:07] greydust opened #323 "http error after done is emitted"
Hi,

I got a strange error where http request emit an error after needle's done was emitted and that would cause the whole program stopped.

To be more accurate, I add some code in needle.js:
`
// in Needle.prototype.send_request
  function done(err, resp) {
    if (returned++ > 0)
      return debug('Already finished, stopping here.');

    if (timer) clearTimeout(timer);
    console.log(`${this.

[2020-07-09 12:59] uzumakinaruto123 commented on #116
@tomas

It's 2020 :p but I am facing this

[code]

I can confirm that the same endpoint with the same config works if I do it with Axios, Postman, Insomnia!

In the logs, I can see some HTML saying Redirecting URL to exact same URL

[2020-07-16 06:00] sparshturkane commented on #199
You can use this example code to pass headers in needle

[code]

[2020-07-17 09:46] n0rmancodes opened #324 "Z_BUF_ERROR when requesting YouTube channel about page"
I searched all issues for my error and got nothing.
I tried requesting "https://www.youtube.com/c/TRGOArchive/about" with headers and got the error Z_BUF_ERROR.
### The code
[code]
### The error
[code]

[2020-07-18 11:33] JiPaix commented on #324
might be a duplicate of https://github.com/tomas/needle/issues/314

[2020-07-21 13:03] brianjenkins94 commented on #298
[BountySource](https://www.bountysource.com/issues/89748964-can-i-pipe-an-incomingmessage-into-needle)

[2020-07-22 14:41] cpietsch82 commented on #320
I have a similar issue. In some cases a http/https request doesn't response neither with a success nor an error. So it's also blocking the complete script.
The only difference between your code and mine is that i'm using proxy settings.

[2020-07-28 14:06] Phygon commented on #314
I ran into a similar error as the OP on the current nodejs 12.x.
[code]
According to the [nodejs docs](https://nodejs.org/api/zlib.html#zlib_compressing_http_requests_and_responses),
[code]
the values have to be BROTLI_OPERATION_FLUSH instead of Z_SYNC_FLUSH if decompressing a brotli stream.
I tried with both flush and finishFlush set to BROTLI_OPERATION_FLUSH, and I could decompress br encoded re

[2020-07-30 12:17] ThisSentenceIsFalse commented on #298
I feel like I have gone astray with this. What sort of semantics do you aim for in the case of redirection? I can see a few different situations:

- **piping allowed in all situations, while honouring the redirection config**: the original stream would be consumed by the first request - buffering the contents would be necessary to handle repeats robustly. Probably tricky to implement across plafto

[2020-08-15 07:19] dhowe opened #327 "TypeError: callback is not a function"
Strange error on OSX (catalina): The first time I run my node script requiring needle (accessing the twitter api) , things work as expected. After quitting (via Ctrl-C) and restarting, I get the error below. After waiting a few minutes, it works again. I'm guessing the port (or some resource) is not being fully closed on exit ?

[code]

[2020-08-17 11:17] alexburley opened #328 "Digest auth does not work for nonces containing + character"
The mongo DB cloud api returns + character in the digest nonce. Have updated the parser to account for this.

[2020-08-17 13:55] #328 closed

[2020-08-31 14:54] vorticalbox opened #330 "private key signing."
I am currently using HTTP in node to sign requests with a private key I have on disk and http-signature to sign the request, I am looking to use needle but I cannot find an example of how to do it.

[2020-09-01 17:28] tomas commented on #314
Fixed by #326, available in npm as needle@2.5.2

[2020-09-01 17:28] #314 closed

[2020-09-01 22:54] JackuB opened #331 "Needle@2.5.2 not published"
Hi, saw this comment https://github.com/tomas/needle/pull/326#issuecomment-685016854 about publishing 2.5.2. But the 2.5.2 is not available on npm. _Latest_ is still the deprecated 2.5.1. Which leads to npm showing:

<img width="1240" alt="screenshot_2020-09-01_at_23 27 59" src="https://user-images.githubusercontent.com/1788727/91913661-6e7b5180-ecb6-11ea-8f50-a4d000b6749a.png">

And `npm i needle

[2020-09-01 22:58] tomas commented on #331
Oops, forgot to push updated version. Please try again now!

[2020-09-01 22:58] #331 closed

[2020-09-07 08:56] eljefedelrodeodeljefe opened #332 "http agent is not used and throws"
Hi, currently the .agent option does not seem to be used in needle.js, and setting in in needle.defaults(opts) actually throws. Is this intentional / historical?

[2020-09-07 14:20] tomas commented on #332
How are you using it?

[2020-09-27 00:31] OhNiice commented on #327
I can confirm that it's not limited to OSX as I tried the same example with Node 14 on Debian, with and without Docker image.

[2020-10-08 13:43] meetyourdev commented on #327
Any solution to this ?

[2020-10-09 11:30] raspy opened #334 "Use .netrc for preconfigured authentication"
Frequently authentication needs to be configured outside the code. Quite standard approach in Unix world is to store those credentials in ~/.netrc and this is widely supported in HTTP clients, i.e. wget, curl or python-requests. Please include support for auto-reading credentials from ~/.netrc as well (I believe there is an npm module for parsing that).

[2020-10-09 12:02] tomas commented on #334
I'd be happy to merge this if you submit a PR, as long as reading/parsing that file is optional (eg if `{ use_netrc: true }` is present).

[2020-10-10 17:48] bradslaughter commented on #327
https://github.com/twitterdev/Twitter-API-v2-sample-code/blob/master/Filtered-Stream/filtered_stream.js#L85-L89 is running
[code]

According to https://github.com/tomas/needle#request-options, both `headers` and `timeout` go in the same `options` object. When an `options` object is passed to `needle.get`, the third argument is expected to be a function (see `needle.get(url[, options][, callback])`

[2020-10-23 09:05] hodovani opened #335 "Function takes more parameters than it should."
Function done  takes 2 parameters, but is called [here](https://github.com/tomas/needle/blob/master/lib/needle.js#L716) with 3 arguments. The extra arguments will be ignored.

Should we create a PR to fix this?

[2020-10-23 14:07] tomas commented on #335
Good catch. Go ahead!

[2020-11-03 01:35] puzrin commented on #320
Did you set `response_timeout`? Server can accept your request but hold response.

[2020-11-04 06:41] puzrin commented on #257
@tomas could you comment why `stream.request.abort();` not called automatically on `stream.destroy()`?

I got similar issue with mocha hang due missed timers cleanup. Just used `require('stream').pipeline(needle_stream, comsumer)` and called `consumer.destroy()` when no more data needed.

AFAIK, `pipeline()` is new recommended method to glue streams with guaranteed cleanup. It would be nice to sup

[2020-11-10 13:47] cgcnrdpd opened #336 "Support env HTTP_PROXY, HTTPS_PROXY"
Hello, I'm using https://github.com/Viber/viber-bot-node and the lib is using this lib, but your lib doesn't support proxy in env. Could you update your lib to support HTTP_PROXY and/or HTTPS_PROXY. Thank you so much!

[2020-11-19 16:12] chrisgh1 opened #337 "https through cntlm http proxy Error: connect ETIMEDOUT"
Little background first, I'm using node version 14.15.1, I'm trying to make a POST REST call to youtubes api using https.  the request comes from needle and goes to the cntlm proxy to add ntlm authentication and is then sent to the enterprise proxy which uses AD authentication (ntlm) and then out to youtube.

Using needle with tunnel npm I'm getting the following error.  I believe I have to use th

[2020-12-02 16:26] suprMax opened #338 "Redirect on errors"
Hi, not sure if it's a bug or me not using the library properly.

I have this quick demo: https://runkit.com/suprmax/5fc78c9c251bb3001a7d3555

[code]

When follow_max prop is set first request fails and also redirects. There is no way that I can see to detect that redirect occured. Then second request succeeds but in my application I already assume request failed. Is there a way to detect these er

[2021-01-07 11:29] TimBailey-pnk opened #340 "Digest Auth fails on Hikvision IP Cameras"
This is due to the realm containing brackets.
PR to follow

[2021-01-07 13:32] #340 closed

[2021-01-07 19:52] TimBailey-pnk commented on #340
@tomas Can you please publish?

[2021-01-07 19:56] tomas commented on #340
Done!

[2021-01-14 16:24] leroychan opened #342 "Response's URL is empty"
`const result = await needle("get", `${url}`, {
      method: "GET",
      headers: defaultHeaders,
      follow_set_cookies: true,
      follow_max: 10,
    });
    console.log(result.url);`

1. URL actually redirects 3 times.
2. After redirect, `result.url` is empty and `result.method` is null

[2021-01-23 22:00] Nathan-Nesbitt opened #343 "Issue setting cookies on POST request using needle Promise"
## Issue
I am currently trying to send a post request to an endpoint using needle. When I try to append the cookies to the request it  sends the cookies in the body instead of setting them in the request headers which is strange, as I can do this without issue when sending them using a GET request. The following is what the output on the server looks like:

[code]

## Code to Reproduce
The followi

[2021-01-26 22:01] colorways opened #344 "nasdaq.com article url returns nothing"
## Issue

When trying to access the link below, Needle doesn't do anything - no response, no error. It's like the request goes into a black hole. I don't get back the `done!` or any other indication of success or failure.

Many other sites work just fine with the below code.

I've tried it with callbacks, pipes, and promises.

I've also tried it on different networks.

The below code was run unsuc

[2021-01-27 00:21] tomas commented on #344
The server is stalling requests, as far as I can tell.

[code]

It just freezes there and does nothing. The connection doesn't close but it doesn't send any data.

[2021-01-27 02:00] colorways commented on #344
@tomas Tomás, first... I cannot thank you enough for your work on `needle`. The kindness and effort you've put into this library is incredible and I'm so grateful to you for how much `needle` has helped my programs.

As for this server stalling... Interesting. I took your idea and `curl`ed the same url but this time using all the headers from Firefox (where the page loads without any problem). Wit

[2021-01-27 03:51] tomas commented on #344
Apparently it's the combination of the User-Agent + the Accept-Encoding header.

Try running with DEBUG=needle and make sure the headers are being sent correctly.

And thanks!

[2021-01-28 19:42] adityapatadia opened #346 "Shouldn't we check if complete message was downloaded?"
This doc describes that `complete` property can be used to check if entire message was downloaded: https://nodejs.org/api/http.html#http_message_complete

Won't this check be helpful especially when `transfer-encoding: chunked` is used by server?

[2021-01-29 06:36] adityapatadia opened #347 "Some errors can't be caught"
Please see below code. Error produced by it is not possible to catch and it crashes node.

[code]

There should be some way to catch such protocol related errors as they can be huge issue if not caught in production.

[2021-01-29 12:33] tomas commented on #347
Thanks for reporting. Will take a look at this next week.

[2021-01-30 11:32] vivekkj123 opened #349 "Tag Latest NPM version (2.6.0)"
Hi @tomas,
       Please always tag the latest NPM version in this repository. I am trying to pack this module to Debian. Without tagging the new version in this repository, it is more complicated to do that... So please tag the latest NPM version (2.6.0) in this repo.

Thanks,
Vivek K J

[2021-02-01 18:43] adityapatadia commented on #347
It would be helpful if this is resolved. We are seeing crashes in production env.

[2021-02-03 01:39] NicTron1 commented on #343
+1, I'm having the same problem

[2021-02-04 16:24] suprMax commented on #347
Let me add something I caught in production as well:

https://runkit.com/601c1f2160893700138f0ad4/601c1f3904c5df001a492012

[code]

[2021-02-17 00:57] leroychan opened #350 ""follow_set_cookies" not forwarding all initial cookies when following redirects"
**Version**: v2.6.0 (Using Needle with Promise Style)

**Issue**: "follow_set_cookies" not forwarding all initial cookies when following redirects

**Scenario**:

1. Send POST Request with 5 Cookies (cookie1-cookie5) to Server
2. Server returns 302 response with additional Set-Cookie header (e.g. "cookie6")
3. After following redirect, the resultant redirected page only receives 2 cookies instead

[2021-05-04 18:15] harryhays opened #352 "Wrong euro symbol"
For example, I get html with encoding <meta charset = "utf-8">

I am making multiple requests to the same url.

In `response.body`, I sometimes see the correct text:
`&#x20AC; 9.99 <br>`
But usually this text is incorrect:
`&#xFFFD; &#xFFFD; 9.99 <br>`

This text is always correct if I get text from
`response.raw.toString ()`

Also this text is always correct if I use the old version of "needle":

[2021-05-04 21:17] tomas commented on #352
Is this using the same version of Node? (For version 2.2.4 or newer)

[2021-05-04 22:00] harryhays commented on #352
Same. I tried with the same result of the node version: 12.18.2 and 14.15.0

Example request ("needle": "^ 2.6.0",):
https://app.upflare.com/cart.php?a=add&domain=register
This happens on the **.ch** domain
[code]

Several months ago I saw similar behavior on other sites.

[2021-05-10 12:44] Avishagp opened #353 "Usage of debug package"
Hi @tomas,

One of needle's dependencies is the `debug` package (used solely in `needle.js`).

Lately an issue posted in debug package showing there's a critical bug in the package:
`User defined window.localStorage.debug could flow into new Regex() function, leading to a Regular Expression Injection.`

Since the usage of debug in needle is so minimal, could you switch to using the native `util.de

[2021-05-10 13:30] tomas commented on #353
That would mean losing support for Node versions prior to v0.11.3. I'm not sure if that's the way to go.

Can you provide an example where the debug issue could be exploited in the context of a program using needle?

[2021-05-18 13:19] mrcanelas opened #354 "Problem sending POST"
Hello everyone, can anyone with experience with the needle module give me a light? I need to log in to a web page and this login is done through a POST, take the cookies from the login page to the download page for the download to be authorised, my code seems all right, but when I run it needle sends a GET instead of a POST.

[code]

Response:
` _headerSent: true,
      socket: [Circular *1],

[2021-05-18 15:37] #354 closed

[2021-06-04 00:40] ManjunathaN opened #355 "underscore in nonce breaks the digest request"
If the nonce contains an underscore, the subsequent "digest" request fails.

[2021-06-04 00:45] ManjunathaN commented on #355
Related PR: https://github.com/tomas/needle/pull/356

[2021-06-16 14:23] Moldoteck opened #358 "Is it possible to obtain the last url using await needle()?"
basically the title. For example in this case>
`let document = await ndl('get', link, { follow_max: 5})`
How can I get the last url?

[2021-06-17 13:26] martynas3336 opened #359 "ELIFECYCLE error"
Hi.

I am very rarely experiencing ELIFECYCLE error and I suspect it is caused by a needle.

[code]

Whenever this error appears it is only always after a successful request when using needle. At least the 5 times it happened during the last 2 months every time I got a 200 response just before the crash. I suppose it is possible, that after a successful request an error can still be emitted. Corre

[2021-06-24 07:31] maapteh commented on #297
Just like @walmat  i also would like the signal option which we have as default in fetch libraries (node-fetch/axios/etc) on which we can put the abortController `signal: AbortSignal`. I don't want to hack around it. Some libraries gave a timeout option but the signal is more to spec. And i was surprised not to see it in this library. Will this feature land here?

[2021-06-24 13:01] tomas commented on #297
Definitely yes. If someone can submit a PR it would be great. Otherwise I can try to look at this during the weekend.

[2021-07-19 22:10] frzsombor opened #363 "Twitter API v1 stream not working with needle in Node JS (getting no data)"
In my project I'm using Twitter API user timeline (both v1 and v2) and filtered stream (v2) with needle successfully, but I can't get the v1 version of filtered stream ([statuses/filter][2]) working with needle.

I feel clueless, as needle's streaming works fine with API v2 (just like the [official example][3]) and I've tested the authentication part (OAuth) of my v1 code and verified that it work

[2021-07-22 09:43] erf opened #364 "captialized 'GET' is not accepted as a readable verb"
captialized 'GET' is not accepted as a readable verb, so it expected a "data" object.

I would think you could write:
[code]

where, params has a header with authentication, but this fails

instead i have to write:
[code]

I would think http verbs "get" and "GET" were case-insensitive, as per standard

[2021-07-22 09:45] erf opened #365 "why not let needle.get return a promise if no callback is given?"
Why not let needle.get return a promise if no callback is given?

Then i could simply do:
[code]

[2021-07-22 16:02] tomas commented on #364
Yes I think you're right. We should change this. Do you have time to submit a PR?

[2021-07-22 16:02] tomas commented on #365
Yes, also right. Do you have time for a PR? :)

[2021-07-22 17:02] erf commented on #364
I can give it a go.

[2021-07-22 17:03] erf commented on #365
Will try :)

[2021-07-22 17:23] erf opened #366 "failing tests"
I ran `npm test` now after creating the keys as per README instructions, but 8 tests failed:

[code]

[2021-07-22 18:05] erf opened #367 "basic tests and examples"
Do you have a set of basic tests and examples? The ones i see seem advanced

[2021-07-23 09:56] erf commented on #365
I'd like to help, but I'm a little hesitant as i have not done a lot of javascript work in a while, and i don't know your codebase well, but i can try if i find time.

[2021-07-26 12:25] bastoune commented on #271
Hi all,
Does somebody have any news about this bug/feature ?
I am facing an issue with requests on a loop opening too many connections to a another server.

It would be nice if needle behaviour could be the same as the Node's default behaviour.

[2021-07-29 15:08] alolis opened #368 "Memory leak when a stream in the pipeline gets destroyed unexpectedly"
Hello,

### Background

We are using `needle` in one of our projects and we have noticed a slow but steady increase in the tcp memory buffers. The linux command used to view the tcp memory pages allocation is `cat /proc/net/sockstat`.

Every time we killed the service, the memory consumption dropped significantly so we started digging.

Before kill:

<img width="452" alt="before_kill" src="https:/

[2021-07-29 15:15] tomas commented on #368
Hmmm, this is indeed strange. Are you using the 'close' event to trigger a specific behaviour to perform additional actions on the stream or connection?

[2021-07-29 15:18] alolis commented on #368
Hi @tomas

No, we are not doing anything else after that. The 'close' event is not used at all in our production, I've only added it for debugging purposes to figure out what was going on with the tcp memory increase.

The flow of the actual code is very similar to the sample code I gave you above.

[2021-07-29 15:23] tomas commented on #368
What options are you using regarding the connection? `Connection: keep-alive`?

Also, does this also happen on earlier versions of Node or Needle?

[2021-07-29 15:28] alolis commented on #368
I am running the sample code above as-is without any changes with `node main.js` and I reproduce the problem. No extra connection options.

I was able to reproduce it with `needle v2.4.0` and `needle v2.5.2` as well.

The problem is reproducible with `node.js v10.16.0` as well from a test run a just did.

[2021-07-29 16:12] tomas commented on #368
I see. I'll take a look at this later today. But you certainly shouldn't have to destroy the stream manually.

I'm thinking it might have to do with [this](https://github.com/tomas/needle/blob/master/lib/needle.js#L749-L752) (if you want to fiddle with the code right away).

[2021-07-29 16:14] alolis commented on #368
Thanks! I will have a look at the link you provided as well.

[2021-07-31 02:18] #367 closed

[2021-07-31 02:18] #366 closed

[2021-07-31 02:19] #365 closed

[2021-07-31 02:19] #364 closed

[2021-08-02 09:54] alolis commented on #368
Hey @tomas. Did you have a chance to look at this the other day?

I am looking at [this](https://github.com/tomas/needle/blob/cfc51beac3c209d7eeca2f1ba546f67d9aa780ea/lib/needle.js#L499) line and I am wondering why are you calling `this.destroy` manually here? Shouldn't the socket close automatically as soon as it receives the `FIN` packet?

[2021-08-02 14:11] tomas commented on #368
That is meant to handle unexpected errors in the underlying socket. Take a look at [this test](https://github.com/tomas/needle/blob/master/test/long_string_spec.js) for an example.

Does removing that line fix the issue, by the way?

[2021-08-04 18:45] nhusby opened #369 "Basic Auth { username, password, auth: "basic" } is not working"
I switched to needle, and basic auth is not working.  It is not setting the authorization header properly.

I tried setting these options and it doesn't work.  When I manually enter the header, that works.
`{
    username: ZD_CONFIG.email + '/token',
    password: ZD_CONFIG.api_token,
    auth: 'basic',
}`

[2021-08-04 20:23] tomas commented on #369
What response are you receiving from the endpoint? Can you try with `DEBUG=needle` to see what's going on behind the curtains?

[2021-08-05 14:50] alolis commented on #368
Hey @tomas ,

Sorry for the small delay.

So, I run the test again with `DEBUG=needle* node main` and the following is the full debug output:

[code]

So the last two lines on the log above indicate that the END event is fired normally and the code block from [here](https://github.com/tomas/needle/blob/cfc51beac3c209d7eeca2f1ba546f67d9aa780ea/lib/needle.js#L498) does NOT execute, which from what I

[2021-08-05 15:05] alolis commented on #368
Hm, I see that you are using a [`PassThrough`](https://github.com/tomas/needle/blob/cfc51beac3c209d7eeca2f1ba546f67d9aa780ea/lib/needle.js#L306) stream underneath, which is a [transformer stream](https://nodejs.org/api/stream.html#stream_implementing_a_transform_stream) and those do not emit `close` event.

[2021-08-05 15:11] tomas commented on #368
Ahh yes, indeed. But why would that trigger the memory increase you're seeing then?

[2021-08-05 15:25] alolis commented on #368
Oh man...goodbye sleep...I will investigate some more...

[2021-08-05 18:03] alolis commented on #368
@tomas , can you please help me understand [this](https://github.com/tomas/needle/blob/master/lib/needle.js#L619)?

Why is a new pipe created for every piece in `pipeline` array?

[2021-08-05 18:13] alolis commented on #368
I think I got it but I want to make 100% sure so I will update you in the morning. I need to re-run everything with a clear head!

[2021-08-05 19:38] tomas commented on #368
Sure thing!

[2021-08-11 12:57] alolis commented on #368
Hey @tomas,

Sorry for the delay but I was trying to get to the bottom of this.

So, the memory leak is real. If the readable stream, for some reason gets destroyed before properly ending, then the following error occurs:

[code]

However, the above will not trigger an 'error' event which means that all the streams that were [piped](https://github.com/tomas/needle/blob/cfc51beac3c209d7eeca2f1ba546

[2021-08-11 13:20] tomas commented on #368
Wow, you really DID get to the bottom of it! Kudos!

I'm a bit busy now but will take a look later.

[2021-08-11 16:08] alolis commented on #368
Issue #280 from 2019 is basically the same problem but reproduced in a different way.  Basically, if a stream in the pipeline gets destroyed before ending properly, a memory leak happens. You can also reproduce the `ERR_STREAM_PREMATURE_CLOSE` if you use the following sample code:

[code]

I have also updated the title of this issue because it was misleading.

[2021-08-12 10:29] TimothyJones commented on #336
I would also like this!

[2021-08-12 11:51] tomas commented on #336
Sure, no problem. Anyone would like to submit a PR for this?

[2021-08-12 12:05] alolis commented on #368
Since this is a serious issue and has been affecting us severely I have pushed my branch to production after further testing yesterday and I can confirm that tcp memory usage seems to be very low now, as expected.

Looking forward to the officially fixed version ;)

[2021-08-24 17:47] #368 closed

[2021-08-24 20:34] #313 closed

[2021-08-25 08:48] cwalther opened #371 "2.9.0 breaks on Node.js 8"
2.9.0, apparently due to #370, does not work on Node.js 8. This breaks my build on Debian 9 and Ubuntu 18.04.

[code]

If this was intentional, could the `engines` in package.json be updated and a major version bump be made?

(I am not using Needle myself, it appears to be pulled in as a dependency of `sqlite3` → `node-pre-gyp`.)

[2021-08-25 11:39] alberanid commented on #371
I can confirm the bug with node v7.10.1 (in a buildsystem Yocto, so it's not easy to fix - we will need to pin a specific older version)

[2021-08-25 15:26] tomas commented on #371
It's probably because of #370. I'll check and fix it a minute.

[2021-08-25 15:49] gxolin commented on #371
reproduced with node 8.10.0 (I'm here from a dependency of less@4.1.1)

[2021-08-30 09:19] cwalther commented on #371
Confirmed, the example I tried seems to work again with node v8.10.0 on Ubuntu 18.04 with master. Thanks! Unless there are any other concerns about it, I would appreciate if this could be released as soon as possible.

[2021-08-30 13:10] tomas commented on #371
Already pushed `v3.0.0` to npm

[2021-08-30 13:27] cwalther commented on #371
Hmm, but that doesn’t help me, because it means that a package like `node-pre-gyp` (my sub-dependency) that requires `"needle": "^2.2.1"` will remain broken. Could we have a 2.9.1 or 2.10.0 that is fixed (and does not have whatever breaking change it is that is implied by the major version bump to 3.0.0)? If nothing else, simply equal to 2.8.0 or to 2.9.0 with #370 reverted?

[2021-08-30 13:32] tomas commented on #371
I'm not sure if its possible to push a version number lower than the already published version, but if possible then sure, I can publish the fix as `v2.9.1`.

[2021-08-31 11:19] frzsombor commented on #363
I'm using Node v14.15.5 and I've tried v2.9.0 and v3.0.0 too, but none of them worked with this test script.
Still don't know why, as this code works with Twitter API v2 and other libraries still work with the v1.1 API.

[2021-09-01 07:31] cwalther commented on #371
Any progress? Our builds are still failing…

(Yes, it’s our own fault that the build is that fragile and we should be pinning our dependency versions using package-lock.json or npm-shrinkwrap.json, but last time I tried that it caused other problems, and I just don’t have time right now to spend a lot of effort on our Node.js stuff, so I was hoping the problem could be solved as quickly by an upst

[2021-09-01 15:14] tomas commented on #371
@cwalther Just published `v2.9.1` with the fix.

Maybe you can buy me a coffee sometime. :)

[2021-09-01 15:42] metasean commented on #371
@tomas - fwiw: I'm not seeing `v2.9.1` in either the [releases](https://github.com/tomas/needle/releases) or [tagged](https://github.com/tomas/needle/releases) versions.
(And if you have a [buy me a coffee](https://www.buymeacoffee.com/), [Patreon](https://www.patreon.com/), or a [GitHub Supportee](https://github.com/sponsors) link, I can't find it.)

[2021-09-01 16:58] tomas commented on #371
I didn't push that commit to master since it would mess up the history, but you can find the version at [npm](https://www.npmjs.com/package/needle?activeTab=versions).

I just pushed a `v2.9.1` branch if you want to see the commit.

[2021-09-02 12:32] cwalther commented on #371
Success! Our builds are green again (Debian 9, Ubuntu 16.04, Ubuntu 18.04). Thank you!

I see that you now have 2.9.1 tagged as `latest` on npm. I think that could be changed back to 3.0.0 without breaking anything, if you prefer.

Then again, it seems like the only difference between 3.0.0 and 2.9.1 is the version number, which confuses me a little – was there no API-breaking change after all? No

[2021-09-03 00:41] yetzt commented on #371
would be nice if you could tag 3.0.0 as latest on npm, since my dependency management pesters me to downgrade to the latest version 2.9.1 now.

[2021-09-03 13:09] tomas commented on #371
There doesn't seem a way to update the `latest` tag, so I'll have to publish a new version (`v3.0.1`). It's the exact same code, though, so it won't make much difference if you install `v2.9.1`.

[2021-09-03 13:13] tomas commented on #371
Actually, I just managed to update the `latest` tag so it points to `v3.0.0`.

[2021-09-03 13:27] tomas commented on #371
I also just opened a page on buymeacoffee!

https://www.buymeacoffee.com/tomaspollak

![image](https://i.giphy.com/media/l0ErFafpUCQTQFMSk/giphy.webp)

[2021-09-08 11:07] yetzt opened #374 "Bug: UTF-8 characters across chunk boundaries get corrupted"
When the bytes of a UTF-8 character happen to get split across chunks when requesting a resource that is treated as text and not parsed, `StreamDecoder._transform` will corrupt it by applying `iconv.decode` on the chunk and thereby replacing the partial unicode character with a replacement character.

needle v3.0.0, reproduce:

[code]

Suggested solutions:

- Use `iconv.decodeStream` instead of `i

[2021-09-10 15:48] #355 closed

[2021-09-13 16:12] rlidwka opened #376 "utf8 redirect breaks stuff"
### Part 1: error

There is a server on the internet that shows following headers:

[code]

I'm trying to follow that redirect, and it fails:

[code]

It produces this:

[code]

This error is not intercepted by needle and is thrown into the void (or rather node.js own unhandledException handler).

Promise is never resolved or rejected, and user has no way of intercepting it.

### Part 2: header en

[2021-09-15 00:54] sessionsKrammer commented on #376
test

[2021-09-18 12:25] puzrin commented on #376
@tomas , could you take a look? Unhandled error is a serious problem. If you have no time - we can do PR. We need new release with fix. Error handling - mandatory, redirect encoding - if possible.

[2021-09-24 15:41] puzrin commented on #376
@tomas  can we help anyhow? Fix of this issue is important for us.

[2021-10-01 23:51] Al-Kostryukov commented on #271
Been using needle for 2 years and thought connection is kept alive by default. Until today when my colleague found that connection closes. I was referencing "Regarding the 'Connection' header" part in docs, but was confused. Found this issue and created PR to clarify this behaviour. #378

[2021-10-02 02:47] tomas commented on #271
Thanks for the PR @Al-Kostryukov. I'll see if I can simplify the use of keep-alive without having to initialize a http agent.

[2021-10-02 04:27] tomas commented on #271
Ok so after diving a bit deeper I think I found out what is going on.

Turns out that if you pass one or more of the tls settings (e.g. `key`, `cert`, `rejectUnauthorized`, etc) and do not pass a custom Agent, then Needle will set `agent: false` when calling http/https.request(), in order for Node to initialize a new, one-time Agent with the given options (apparently [this was necessary for tls op

[2021-10-06 08:15] DavideViolante opened #380 "Add changelog or changes in the releases"
This package has 6M weekly downloads according to NPM and it has no changelog or the list of changes into the releases...
Can you please start documenting the changes?

[2021-11-01 16:39] robotoer commented on #336
Would love to also have support for the `NO_PROXY` env var as well!

[2021-11-20 13:15] vsridhars commented on #353
Hi,

Wanted to check if moving to a debug 4.3.x version would be possible.
Similar audit concerns are getting flagged by parsing tools.

[2021-12-01 15:13] sgoff0 opened #383 "Support NO_PROXY and no_proxy"
While mentioned in a needle [Pull Request comment](https://github.com/tomas/needle/pull/382#issuecomment-962028845) I believe lack of `NO_PROXY` support should be called out as its own issue.

I noticed this behavior while using Pact, a contract testing library, as it previously used request but [replaced it with needle](https://github.com/pact-foundation/pact-js-core/pull/303).  With the move to

[2021-12-01 15:18] tomas commented on #383
Thanks for the heads up. I'll add NO_PROXY to the PR and merge it soon.

[2021-12-12 02:31] colorways commented on #344
It only took me a year to come back and close this issue. I finally found the problem (and a partial explanation).

As Needle uses HTTP/1.1, I noticed that both Firefox and curl were using HTTP/2 for requests. I forced both of them to use HTTP/1.1 (curl by adding `--http1.1`, and Firefox by going to `about:config` and setting `network.http.spdy.enabled.http2: false`). In both cases, the page still

[2021-12-12 02:31] #344 closed

[2021-12-13 10:21] pikaciu22x opened #384 "Strange serialization with arrays using post method"
Hey team,

I stumbled upon a strange body serialization error. When body includes an array, internal array properties get merged together. The issue can be reproduced with the following snippet:
[code]

output: `WRONG BODY {"acl":[{"prop1":["test","test2"],"arrayProp":["a","b","c","d"]}]}`

**nodejs version:** 14
**needle version:** 3.0.0 ( same with 2.\*.\*)

maybe i'm doing something wrong?

[2021-12-13 10:30] pikaciu22x commented on #384
for anyone like me, answering my own question:

yes.

I was missing `json: true` in the options. So the request should look like this:
[code]

[2021-12-13 10:30] #384 closed

[2022-01-07 09:25] JamieSlome opened #385 "Potential security issue"
Hey there!

I belong to an open source security research community, and a member (@ranjit-git) has found an issue, but doesn’t know the best way to disclose it.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best pract

[2022-01-07 12:08] tomas commented on #385
Hi @JamieSlome, you can find my email address at the package.json file in this repository. Feel free to contact me, I'll be happy to discuss and fix any potential security issues.

[2022-01-07 14:25] JamieSlome commented on #385
Hello @tomas, thanks for the response.

If it is easier for you, you can directly see the report here:

https://huntr.dev/bounties/03ac704d-6ccf-4d4b-bed3-f123f4e31dcd/

It is private and only accessible to yourself! ❤️

[2022-01-07 14:28] tomas commented on #385
I'd prefer to discuss it via email. Otherwise feel free to submit a PR. :)

[2022-01-07 15:09] #385 closed

[2022-01-07 15:50] JamieSlome commented on #385
@tomas - e-mail sent! 📧

[2022-01-12 13:42] ranjit-git commented on #385
hi @tomas submitted the PR fix for this bug https://github.com/tomas/needle/pull/386
You can also read full bug report here https://huntr.dev/bounties/03ac704d-6ccf-4d4b-bed3-f123f4e31dcd/

[2022-01-21 12:16] ssshammi opened #388 "Issue with webpack and react-native"
I am making a admin backend server with rest APIs and then i make this client side app using react. I got tons of error when using webpack I do not know how to configure webpack but this is not an issue with working with axios. But i think i understand needle But now i think I am lost do i need to install more dependency. because i do not have webpack config file and i dont want to create one

`Co

[2022-03-07 18:10] julianlam opened #389 "`err` event not triggered on endless redirects (node16 specific)"
Hi there,

If a URL is passed in that sends back a redirect to an url that sends back a redirect, repeat ad nauseam... needle doesn't throw an error anymore, **at least on Node v16.14.0**

The affected URL is `http://www.sri-lanka-live.de/Fauna_Flora/Schmetterlinge_1/Falter_2_4.jpg`, which is a misconfigured web server that endlessly redirects requests by prepending `index.php/` to the path. _**Wa

[2022-03-11 13:09] INotSleep opened #390 "Incorrect method"
Some api requires method in uppercase, like POST or DELETE, but Needle make it in lover case. (im tryed in options put method)

[2022-03-11 14:04] #390 closed

[2022-03-15 20:36] joeyparrish opened #391 "ECONNRESET thrown after connection closed"
[less](https://github.com/less/less.js) v4 uses needle for https requests.  It fails with ECONNRESET on macOS specifically, which is reproducible in GitHub Actions as well as on our private mac hardware.  The failure is caused by an `ECONNRESET` error after the connection is closed.

Details can be found here:
 - https://github.com/less/less.js/issues/3693
 - https://github.com/nodejs/node/issues/

[2022-03-21 21:44] #391 closed

[2022-03-21 23:08] joeyparrish opened #393 "Test failures on macOS"
I get the following test failures on macOS.

These two because of a bad URL, and should fail on all platforms.  They rely on http://www.nina.jp/server/slackware/webapp/tomcat_charset.html , but this no longer exists.  I believe this should be replaced by a local server.

[code]

These fail if run on macOS because they only exclude Windows, and /proc/self/fd isn't available on Mac, either.  I belie

[2022-03-22 01:02] joeyparrish opened #395 "Test failures on node v14-v16"
I get the following test failure on Linux after fixing the macOS failures in #393 with PR #394

[code]

[2022-03-22 01:05] joeyparrish commented on #395
Reverting the fix in PR #392 does not fix this test failure.  Same for the fix in PR #394.

[2022-03-22 01:11] joeyparrish commented on #395
I can't tell from the git commit history why this was commented out, but uncommenting this line in the test fixes it:

[code]

@tomas, any insight on that?  I'll put up a PR in case that's the right fix.  If it's not... I'll need you to figure it out.  I'm out of ideas.

[2022-03-22 01:50] joeyparrish commented on #393
I should have mentioned, these failures were all on node v17.

[2022-03-22 01:50] joeyparrish commented on #395
I should have mentioned, this failure was on node v16.  When I run tests on macOS with node v16, I get this failure, too.  So it's not specific to Linux.

[2022-03-22 02:11] joeyparrish opened #397 "Test failures on node v4-v12"
PR #392 introduced failures in node v4-v12:

[code]

[2022-04-07 06:25] vrfdivino opened #400 "Incorrect parsing of complex JS nested objects in POST request"
I created a simple Express server with one POST endpoint. The POST endpoint just return the request body sent from the client. The code for this server looks like this:
[code]

I also added a script file to test the said POST endpoint using ```needle```. This is the code for the script file:
[code]

Now, the output of ```console.log(res.body.data)``` does not match with the request body that was s

[2022-04-07 13:39] #336 closed

[2022-04-07 13:49] tomas commented on #400
Are you sure the server is returning the JSON data in the correct format? Needle simply does a `JSON.parse` on the response data so I'm not sure if Needle's the culprit in this one.

[2022-04-07 14:04] #397 closed

[2022-04-07 14:05] #395 closed

[2022-04-07 14:07] #374 closed

[2022-04-07 15:42] tomas commented on #400
Oh I see. I misunderstood then; I though the problem was related the the decoding of JSON, not the encoding part. Ok I'll take a look in a while.

[2022-04-07 16:03] tomas commented on #400
Ok, we can try and see whether adding the array item index [this line](https://github.com/tomas/needle/blob/master/lib/querystring.js#L29) makes it works like expected. The resulting encoded string would look like this (using your example data):

![image](https://user-images.githubusercontent.com/10574/162247102-b7c8051f-9de2-4d90-8556-210e6de281fd.png)

[2022-04-11 09:56] nejch commented on #383
Thanks for the work on that PR @tomas. I think this issue can remain open for now to make sure needle can address the syntax usually used in `no_proxy` described above. For example:

https://github.com/w3c/libwww/blob/8678b3dcb4191065ca39caea54bb1beba809a617/Library/src/HTAccess.c#L234-L239

Usually `no_proxy` will be used with domain wildcards, e.g. `no_proxy=.company.com,.company.io`, which shou

[2022-04-13 07:47] alolis commented on #391
`abort` is deprecated since node.js v13.14.0 as per the documentation [here](https://nodejs.org/api/http.html#requestabort). `destroy` should be used instead.

[2022-05-07 15:45] mciasuen opened #403 "Mangled file content when multipart-POSTing a file with a "text/*" content type"
Reading a UTF-8 CSV and attempting to upload it with needle via a multipart POST can cause non-ASCII characters inside the CSV data to be replaced by other characters.

## Steps to Reproduce:

[code]

[code]

## Expected

- Changing the Content-Type of the uploaded file should not affect the file content.

## Observed

### With application/octet-stream...

...the relevant section of the hex dump s

[2022-05-07 15:51] tomas commented on #403
I see. So what should we do in this case? Allow passing something like `multipart: 'raw'` to skip re-encoding, or include some other method of preventing this weird conversions to happen?

Thanks for the *very* detailed bug report, by the way!

[2022-05-07 16:07] mciasuen commented on #403
`multipart: 'raw'` could be technically workable, but feels very unsatisfying.

If you receive a binary Buffer for that part (or a file, which readFile then turns into a Buffer), wouldn't it make sense to just _always_ send that as binary without re-encoding?  In that case, I might just do something like this:

[code]

That seemed to work for the test case in this issue, at least: I get the conten

[2022-05-09 10:13] FauxFaux opened #404 "Very infrequent TypeError: iconv.encodingExists is not a function"
This probably(:tm:) isn't a bug in `needle`, but it appears in `needle`, so I thought I'd raise it here, just in case someone else is going insane.

Very, very occasionally, we get this error *in tests*:

[code]

I am reasonably sure this is impossible.

I have reviewed `decoder.js` and `iconv-lite` carefully. `needle` is loading a modern, compatible version of `iconv-lite`:

[code]

We're using a

[2022-05-24 07:44] pkey opened #406 "Tunnelling doesn't work in v3.1.0"
## Description

With the new version of `needle` (3.1.0) the current approach ([here](https://github.com/tomas/needle#more-advanced-proxy-support)) to set up tunnelling doesn't work anymore (version 3.0.0 works fine). Scanning the network using Wireshark shows that `needle` ends up looping `CONNECT` requests to the proxy. I suspect that `needle` tries to use both the `tunnel` agent while also pass

[2022-05-25 12:45] pkey commented on #406
Here's the code snippet:

[code]

Make sure to `npm install needle tunnel` and then set `_PROXY` environment variables to point to the same proxy (in my case`127.0.0.1:8080`) as the agent configuration above.

When I run this with `needle` version `3.1.0` installed, in Wireshark, I see attempts to `CONNECT 127.0.0.1:8080 HTTP/1.1` and `HTTP/1.1 502 Bad Gateway  (text/html)` whereas with version `3

[2022-06-14 19:56] jonathansampson opened #407 "Proposal: Supporting User-Defined "Follow If" Conditions"
I needed a bit more control over the _follow-if_ logic today, so I created a small patch to enable the declaration of numerous user-defined conditions:

[code]

I'm okay with a redirect from HTTP to HTTPS, or the other way around, but I encountered a URL today that aimed to redirect from HTTPS to MAILTO. This would _throw_ from within `http.request`, causing all sorts of problems for me.

I'd love

[2022-07-01 16:01] tomas commented on #276
Happy to merge PRs if anyone's up to the task. :)

[2022-07-04 13:28] zotakk4o opened #408 "Piping needle request to Express response won't set the correct headers"
Hi,

Having the following express server example:
`
app.get('/', (req, res) =>
    needle.request('get', 'www.google.com').pipe(res));
`
The response does not contain the appropriate headers. For example, content-type is missing and the response is treated as text, not as HTML.

Any ideas how I can fix this?

[2022-08-09 11:10] zotakk4o commented on #216
Hi Team, there seems to be a problem sending multiple files at the same field(part) name.

[code]
Request with this data will be sent as:
[code]
Can you please check it?

[2022-08-09 13:38] zotakk4o opened #409 "Multiple Files Upload Renames Input Field"
Hi Team, there seems to be a problem sending multiple files at the same field(part) name.

var data = {
  images: [{
    file: 'linux.png',
    content_type: 'image/png'
  }, {
    file: 'linux(1).png',
    content_type: 'image/png'
  }]
}
Request with this data will be sent as:
{
    images[0]: ...,
    images[1]: ...
}

Can you please inform me on whether this can be changed?

[2022-08-15 08:07] edwardsph opened #410 "Uncaught asynchronous error"
There is a problem with an uncaught asynchronous error in the needle library which crashes the whole node process. Can you fix this to throw an error in the callback instead of crashing the process.

The short example below demonstrates the problem and I tried both approaches to called needle.

[code]

The problem is the content type header: `content-type: text/html; charset=maccentraleurope`

[co

[2022-09-23 15:40] weiyin opened #413 "Remote end closed socket abruptly errors"
Hi,

We are randomly getting the error "Remote end closed socket abruptly" when streaming a download to a file. It looks like this commit fixes it: https://github.com/tomas/needle/commit/f92aee88d95c669197cc5ae5407174def54d8523

Can you create a new release?

[2022-09-23 19:50] snyderj commented on #413
+1

[2022-11-01 16:33] jvanvorst opened #415 "a ':' in nonce breaks digest authentication"
Server sends:
HTTP/1.1 401 Unauthorized
WWW-Authenticate: Digest realm="IP Camera", charset="UTF-8", algorithm="MD5", nonce="636144c2:2970b5fdd41b5ac6b669848f43d2d22b", qop="auth"

needle responds with:
authorization: Digest uri="xxxxx", realm="IP Camera", **nonce="636144c2"**, username="xxxx", response="42289c79a16ff73462e953b661d0a2d5", qop="auth", nc="00000002", cnonce="49f6a75e"

[2022-11-17 02:09] #383 closed

[2022-11-17 02:24] #415 closed

[2022-11-17 02:24] tomas commented on #415
Fixed in aa49d75. Thanks!

[2022-11-17 02:26] tomas commented on #413
`v3.2.0` is up! Sorry for the long wait. :)

[2022-11-17 02:26] #413 closed

[2022-11-17 02:51] #410 closed